<app-header [transparent]="true" [_brandName]="brandObject?.name" [_brandLogo]="brandObject?.logoPhotoUrl"></app-header>
<app-breadcrumb [breads]="breads"></app-breadcrumb>
<!--<app-hero *ngIf="brandObject" [cover]="brandObject?.banner1PhotoUrl ? brandObject?.banner1PhotoUrl: 'http://placehold.it/1600x900'"></app-hero>-->

<div class="mx-auto hero-container">
  <video *ngIf="brandObject?.headerPhotoUrl && isVideo(brandObject?.headerPhotoUrl)" class="main-vid"
  autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true">
  <source [src]="brandObject?.headerPhotoUrl" type="video/mp4">
  </video>
  <app-hero *ngIf="brandObject?.headerPhotoUrl && !isVideo(brandObject?.headerPhotoUrl)" [cover]="brandObject?.headerPhotoUrl"></app-hero>
  <app-hero *ngIf="!brandObject?.headerPhotoUrl" cover="http://placehold.it/1920x1080/FFFFFF/FFFFFF"></app-hero>

</div>

<div class="container">
  <header class="title text-center">
    <h1>{{brandObject?.name}}</h1>
    <h5>The Collections</h5>
  </header>

  <div class="tabs">
    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let gender of genders" (click)="filterGender(gender)" [class.active]="currentGender === gender">
        {{gender}} </li>
    </ul>
  </div>

  <app-collection-section *ngFor="let collection of collections | slice: 0:collectionLimit" [collection]="collection"
    [gender]="currentGender"></app-collection-section>

  <div class="text-center mx-auto show-more my-5">
    <button class="btn primary-btn" (click)="toggleShowMore()">Show {{isShowMoreOn ? 'Less' : 'More'}}</button>
  </div>
</div>
<br />
<br />
<br />

<!--
  <app-footer-hero></app-footer-hero>
-->

<app-footer></app-footer>
