<div class="brand-page" [ngStyle]="{'background-color': brandObject?.backgroundColor? brandObject?.backgroundColor: '#fff'}">
  <app-header *ngIf="brandObject" [background_color]="brandObject?.headerBackgroundColor? brandObject?.headerBackgroundColor: '#ffffff'"
    [content_color]="brandObject?.headerContentColor? brandObject?.headerContentColor: 'dark'" [opacity]="brandObject?.headerBackgroundOpacity? brandObject?.headerBackgroundOpacity : 75"
    [_brandName]="brandObject?.name" [_brandLogo]="brandObject?.logoPhotoUrl" [breads]="breads" [noFix]="true"></app-header>

  <div class="mx-auto hero-container">
    <video *ngIf="brandObject?.headerPhotoUrl && isVideo(brandObject?.headerPhotoUrl)" class="main-vid" autoplay loop
      muted oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source [src]="brandObject?.headerPhotoUrl" type="video/mp4">
    </video>
    <app-hero *ngIf="brandObject?.headerPhotoUrl && !isVideo(brandObject?.headerPhotoUrl)" [cover]="brandObject?.headerPhotoUrl"></app-hero>
    <app-hero *ngIf="!brandObject?.headerPhotoUrl" cover="http://placehold.it/1600x350/FFFFFF/FFFFFF"></app-hero>
  </div>

  <div class="container mb-5">
    <header class="title text-center">
      <h1>{{brandObject?.name}}</h1>
      <h5>The Collections</h5>
    </header>

    <div class="tabs">
      <ul class="list-inline">
        <li class="list-inline-item" *ngFor="let gender of genders" (click)="filterGender(gender)" [class.active]="currentGender === gender">
          {{gender}} </li>
      </ul>
    </div>

    <app-collection-section *ngFor="let collection of collections | slice: 0:collectionLimit" [collection]="collection"
      [gender]="currentGender"></app-collection-section>

    <div class="text-center my-5" *ngIf="!collections?.length">
      <p> There is no collections</p>
    </div>

    <div class="text-center mx-auto show-more my-5" *ngIf="collections?.length">
      <button class="btn primary-btn" (click)="toggleShowMore()">Show {{isShowMoreOn ? 'Less' : 'More'}}</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
