<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container">
    <app-form-header userType="admin"></app-form-header>

    <div class="my-5">
      <h1> Retailer </h1>
    </div>

    <app-form-tabs [links]="navRoutes"></app-form-tabs>

    <div>
      <br />
      <h3>Mode</h3>
      <br />
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="resetRetailer();" name="mode" value="create" [(ngModel)]="mode">
        Create
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="resetRetailer();" name="mode" value="update" [(ngModel)]="mode">
        Update
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="resetRetailer();" name="mode" value="delete" [(ngModel)]="mode">
        Delete
      </label>
    </div>

    <div *ngIf="(mode != 'create')">
      <br />
      <h3>Select Retailer By Email</h3>
      <br />

      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <input type="text" class="form-control" id="retailerID" [(ngModel)]="selectedEmail" name="retailerID">
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-lg primary-btn" (click)="onRetailerSelection()">Search</button>
        </div>
      </div>
    </div>

    <form #retailerForm="ngForm" *ngIf="(mode == 'create') || (retailer.email)">
      <div>
          <br />
          <h3>Retailer Account</h3>
          <br />

        <div class="form-group">
          <label for="email">Email</label>
          <input [disabled]="mode == 'delete' || loading" type="email" class="form-control" id="email" required
            [(ngModel)]="retailer.email" name="email" #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Retailer Email is required</div>
        </div>


        <div class="form-group">
          <label for="password">Password</label>
          <input [disabled]="mode == 'delete' || loading" type="password" class="form-control" id="password" required
            [(ngModel)]="retailer.password" name="password" #password="ngModel" pattern="^.*(?=.{8,})((?=.*[!@#$%^&\\*()\-_=\\+{};:,\\<.>]){1})(?=.*\d)((?=.*[a-z]){1})((?=.*[A-Z]){1}).*$">
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            <ul>
              <li>The password must contain at least 1 lowercase alphabetical character</li>
              <li>The password must contain at least 1 uppercase alphabetical character</li>
              <li>The password must contain at least 1 numeric character</li>
              <li>The password must contain at least one special character</li>
              <li>The password must be 8 characters or longer</li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <label for="firstname">First Name</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.firstName"
            name="firstname" #firstname="ngModel">
        </div>

        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.lastName"
            name="lastname" #lastname="ngModel">
        </div>

        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.companyName"
            name="companyName" #companyName="ngModel">
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.address"
            name="address" #address="ngModel">
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.city"
            name="city" #city="ngModel">
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.country"
            name="country" #country="ngModel">
        </div>

        <div class="form-group">
          <label for="poBox">PO box</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.poBox"
            name="poBox" #poBox="ngModel">
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.phoneNumber"
            name="phone" #phone="ngModel">
        </div>

        <div class="form-group">
          <label for="mobile">Mobile Number</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.mobileNumber"
            name="mobile" #mobile="ngModel">
        </div>

        <div class="form-group">
          <label for="fax">Fax</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="retailer.fax"
            name="fax" #fax="ngModel">
        </div>


        <br />
        <h3>Brand Max Discounts</h3>
        <br />

        <div>
          <label>Brand Max Discounts</label>
          <div class="row">
            <div class="col-10 float-left" *ngFor="let discount of retailer?.brandsMaxDiscounts; let in=index">
              <div class="form-group">
                <label>Select Brand</label>
                <ng-select [items]="selectionBrands" bindLabel="name" bindValue="_id" placeholder="Select brand" name="brandDiscounts{{in}}"
                  [(ngModel)]="retailer.brandsMaxDiscounts[in]._id">
                </ng-select>
              </div>
              <div class="form-group">
                <label>Discount Value</label>
                <input [disabled]="mode == 'delete' || loading  || !retailer.brandsMaxDiscounts[in]._id" type="number" min="0" max="100" class="form-control"
                  [(ngModel)]="retailer.brandsMaxDiscounts[in].value" name="brandDiscountsValue{{in}}">
              </div>
              <hr>
            </div>
            <div class="col-1 float-right">
              <button class="btn btn-lg primary-btn" (click)="addBrandDiscount()">+</button>
            </div>
            <div class="col-1 float-right">
              <button class="btn btn-lg secondry-btn" (click)="removeBrandDiscount()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Collection Max Discounts</h3>
        <br />

        <div>
          <label>Collection Max Discounts</label>
          <div class="row">
            <div class="col-10 float-left" *ngFor="let discount of retailer?.collectionsMaxDiscounts; let in=index">
              <div class="form-group">
                <label>Select Brand</label>
                <ng-select [items]="selectionBrands" bindLabel="name" bindValue="_id" placeholder="Select brand"
                  (change)="onBrandSelection($event?._id)">
                </ng-select>
              </div>
              <div class="form-group">
                <label for="selectionCollection">Select Collection</label>
                <ng-select [items]="selectionCollections" name="collectionsMaxDiscounts{{in}}" bindLabel="name" bindValue="_id"
                  placeholder="Select collection" [(ngModel)]="retailer.collectionsMaxDiscounts[in]._id">
                </ng-select>
              </div>
              <div class="form-group">
                <label>Discount Value</label>
                <input [disabled]="mode == 'delete' || loading || !retailer.collectionsMaxDiscounts[in]._id" type="number" min="0" max="100" class="form-control"
                  [(ngModel)]="retailer.collectionsMaxDiscounts[in].value" name="collectionsMaxDiscountsValue{{in}}">
              </div>
              <hr>
            </div>
            <div class="col-1 float-right">
              <button class="btn btn-lg primary-btn" (click)="addCollectionDiscount()">+</button>
            </div>
            <div class="col-1 float-right">
              <button class="btn btn-lg secondry-btn" (click)="removeCollectionDiscount()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Watch Max Discounts</h3>
        <br />

        <div>
          <label>Watch Max Discounts</label>
          <div class="row">
            <div class="col-10 float-left" *ngFor="let discount of retailer?.watchesMaxDiscounts; let in=index">
              <div class="form-group">
                <label>Select Brand</label>
                <ng-select [items]="selectionBrands" bindLabel="name" bindValue="_id" placeholder="Select brand"
                  (change)="onBrandSelection($event?._id)">
                </ng-select>
              </div>
              <div class="form-group">
                <label for="selectionCollection">Select Collection</label>
                <ng-select [items]="selectionCollections" bindLabel="name" bindValue="_id"
                  placeholder="Select collection" (change)="onCollectionSelection($event?._id)">
                </ng-select>
              </div>
              <div class="form-group">
                <label for="selectionWatch">Watch</label>
                <ng-select [items]="selectedCollection?.watchObjects" name="watchesMaxDiscounts{{in}}" bindLabel="referenceNumber"
                  bindValue="_id" placeholder="Select watch" [(ngModel)]="retailer.watchesMaxDiscounts[in]._id">
                </ng-select>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <label for="selectionWatch">Or select by reference number</label>
                    <input type="text" class="form-control" id="watchInputReferenceNumber" [(ngModel)]="selectionWatchReferenceNumber[in]"
                      name="watchInputReferenceNumber">
                  </div>
                </div>
                <div class="col-4">
                  <button class="btn btn-lg primary-btn" (click)="onWatchSelection(selectionWatchReferenceNumber[in])">Search</button>
                </div>
              </div>
              <div class="form-group">
                <label>Discount Value</label>
                <input [disabled]="mode == 'delete' || loading || !retailer.watchesMaxDiscounts[in]._id" type="number" min="0" max="100" class="form-control"
                  [(ngModel)]="retailer.watchesMaxDiscounts[in].value" name="watchesMaxDiscountsValue{{in}}">
              </div>
              <hr>
            </div>
            <div class="col-1 float-right">
              <button class="btn btn-lg primary-btn" (click)="addWatchDiscount()">+</button>
            </div>
            <div class="col-1 float-right">
              <button class="btn btn-lg secondry-btn" (click)="removeWatchDiscount()">-</button>
            </div>
          </div>
        </div>

      </div>
      <br />
      <div style="text-align: center" *ngIf="(mode == 'create') || (retailer._id)">
        <div class="row m-1">
          <div class="col-6">
            <button type="submit" class="btn primary-btn btn-lg" (click)="onSubmit();" [disabled]="(!retailerForm.form.valid || loading)  && (mode != 'delete')">
              {{loading? 'loading..' : mode }}</button>
            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-lg secondry-btn" (click)=" resetRetailer(); retailerForm.reset();">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
