<div class="card-list">
  <div class="card-carousel-wrapper">
    <div class="card-carousel--nav__left" (click)="moveCarousel(-1)" *ngIf="!atHeadOfList"></div>
    <div class="card-carousel">
      <div class="card-carousel--overflow-container">
        <div class="card-carousel-cards" id="content" [ngStyle]="transitionStyle">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
    <div class="card-carousel--nav__right" (click)="moveCarousel(1)" *ngIf="!atEndOfList"></div>
  </div>
</div>
