<simple-notifications></simple-notifications>
<app-header [bg_white]="true"></app-header>
<div class="container mb-5">


  <h1> Watch tray </h1>

  <p class="sassy-text"> View and select your watches </p>

  <div class="row p-2">
    <div class="col-md-2 col-12 attr-btn">
      <button [routerLink]="['/checkout']" class="btn secondry-btn m-0"> proceed to checkout </button>
    </div>
  </div>

  <app-carousel [len]="watchesLength">
    <div class="watch-tray">
      <div class="row pb-4">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters">
            <div class="col-12 no-gutters">
              <span class="attr bold-attr">
                You can compare selected watches, choose that you want to order or remove from the list.
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <div class="right-wrong">
                <i [ngClass]="watch?.addedToCheckOut? 'fas': 'far'" class="fa-check-circle" (click)="toggleWatchInCheckOut(watch)"></i>
                <i class="far fa-times-circle" (click)="removeWatch(watch)"></i>
              </div>
              <a class="img-container" [routerLink]="['/watch/',watch?.referenceNumber]">
                <img [src]="watch?.mainPhotoUrl? watch?.mainPhotoUrl: 'http://placehold.it/360x560/ffffff/ffffff'" alt="watch">
              </a>
              <h4>
                {{watch?.brandObject?.name}}
              </h4>
              <h5>
                {{watch?.collectionObject?.name | collectionName}}
              </h5>
            </div>
          </div>
        </div>
      </div>


      <div class="row p-sm-y">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Reference
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Reference
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span>{{watch?.referenceNumber}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-sm-y">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Model Case
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Model Case
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span *ngIf="watch?.model"> {{watch?.model}}, </span>
              <span *ngIf="watch?.caseDiameter">{{watch?.caseDiameter}} mm, </span>
              <span *ngIf="watch?.caseMaterial">{{watch?.caseMaterial}} </span>
              <span *ngIf="watch?.perpetual">{{watch?.perpetual}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-sm-y">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Movement
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Movement
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span>{{watch?.movementAutomaticOrManual}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-sm-y">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Braclet
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Braclet
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span>{{watch?.band}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-sm-y">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Dial
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Dial
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span *ngIf="watch?.dialColour">{{watch?.dialColour}}, </span>
              <span *ngIf="watch?.dialFinish">{{watch?.dialFinish}}, </span>
              <span *ngIf="watch?.dialIndex">{{watch?.dialIndex}}, </span>
              <span *ngIf="watch?.dialHands">{{watch?.dialHands}} </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row py-2">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Price
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Price
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span>
                {{watch?.price | currency: watch?.priceCurrency }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Oyster architecture
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Oyster architecture
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted"></span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Diameter
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Diameter
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted" *ngIf="watch?.caseDiameter">{{watch?.caseDiameter}} mm</span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Material
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Material
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted" *ngIf="watch?.caseMaterial">{{watch?.caseMaterial}}</span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Bezel
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Bezel
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted" *ngIf="watch?.caseDiameter">{{watch?.caseBezelMaterial}}</span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Winding Crow
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Winding Crow
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted"></span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Crystal
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Crystal
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted">{{watch?.caseFront}}</span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Water-resistance
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Water-resistance
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted">{{watch?.waterResistance}}</span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Caliber
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Caliber
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted" *ngIf="watch?.dialColour">{{watch?.movementCaliberNumber}},</span>
              <span class="muted" *ngIf="watch?.dialColour">{{watch?.movementCaliberName}} </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Precision
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Precision
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted"></span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Functions
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Functions
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted">{{watchFunctionsToStr(watch?.functions)}}</span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Oscillator
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Oscillator
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted"></span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Escapement
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Escapement
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted"></span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Winding
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Winding
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted"></span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Power reserve
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Power reserve
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted" *ngIf="watch?.movementPowerReserve">{{watch?.movementPowerReserve}} h</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Braclet material
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Braclet material
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted">{{watch?.bandMaterial}}</span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Clasp
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Clasp
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted">{{watch?.bandClasp}}</span>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showAll" class="row py-2 hover">
        <div class="col-md-2 col-12 no-gutters">
          <div class="row no-gutters attr-row">
            <div class="col-12 no-gutters attr desktopOnly">
              Certification
            </div>
            <div class="col-12 no-gutters attr mobileOnly" *ngFor="let watch of watches">
              Certification
            </div>
          </div>
        </div>
        <div class="col-md-10 col-12">
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-4 col-6 text-center" *ngFor="let watch of watches">
              <span class="muted" *ngIf="watch?.movementCertificate">{{watch?.movementCertificate}},</span>
              <span class="muted" *ngIf="watch?.awards">{{watch?.awards}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-carousel>
  <div class="row py-2">
    <div class="col-12 text-right-md">
      <button class="btn primary-btn wide-btn m-2" [routerLink]="['/checkout']"> Proceed to checkout </button>
    </div>
  </div>

  <div class="row py-2 my-2">
    <div class="col-12 text-center">
      <button (click)="toggleShowMore()" class="btn secondry-btn m-2"> Show {{showAll ? 'less':'more'}} </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
