<div class="mt-5" *ngIf="watches && (watches | gender: gender)?.length">
  <a [routerLink]="['./', collection?._id]">
    <h2 class="collection-title" *ngIf="collection?.name != 'UNDEFINED'"> {{collection?.name}}</h2>
    <h2 class="collection-title" *ngIf="collection?.name == 'UNDEFINED'"> Collection </h2>
  </a>
  <div class="row">
    <div class="col-md-2 col-sm-3 col-6" *ngFor="let watch of watches | gender: gender">
      <div class="card">
        <a [routerLink]="['/watch',watch?.referenceNumber]">
          <div class="card-img">
            <img *ngIf="watch.mainPhotoUrl" [src]="watch.mainPhotoUrl" [alt]="watch?.model">
            <div *ngIf="!watch.mainPhotoUrl" class="placeholder"></div>
          </div>
          <div class="card-info">
            <p *ngIf="watch?.model">{{watch?.model}}</p>
            <p class="caseDiamter" *ngIf="watch?.caseDiameter">{{watch?.caseDiameter}} mm</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
