<simple-notifications></simple-notifications>

<div id="watchdetails-page">

  <input type="image" src="../../../assets/images/search_menu.png"
         srcset="../../../assetsimages/search_menu@2x.png 2x,
             ../../assets/images/search_menu@3x.png 3x"
         class="watchdetails_menu">

  <input type="image" src="../../../assets/images/group2.svg"
         srcset="../../../assetsimages/group2@2x.png 2x,
             ../../assets/images/group2@3x.png 3x"
         class="watchdetails_mainicon"
         (click)="mainIconButtonClicked()">

  <input type="image" src="../../../assets/images/search_account.png"
         srcset="../../../assetsimages/search_account@2x.png 2x,
             ../../assets/images/search_account@3x.png 3x"
         class="watchdetails_account"
         (click)="accountButtonClicked()">

  <input type="image" src="../../../assets/images/search_search.png"
         srcset="../../../assetsimages/search_search@2x.png 2x,
             ../../assets/images/search_search@3x.png 3x"
         class="watchdetails_search"
         (click)="searchButtonClicked()">

  <input type="image" src="../../../assets/images/search_paperbag.png"
         srcset="../../../assetsimages/search_paperbag@2x.png 2x,
             ../../assets/images/search_paperbag@3x.png 3x"
         class="watchdetails_paperbag">

  <div class="watchdetails_Home">Home > Brands > </div>

  <div class="watchdetails_Model">{{watch.model}}</div>

  <img src="../../../assets/images/allmodelsicon.png"
       srcset="../../../assets/images/allmodelsicon@2x.png 2x,
             ../../../assets/images/allmodelsicon@3x.png 3x"
       class="watchdetails_allmodelsicon">

  <div class="watchdetails_allcollectionmodels">VIEW ALL MODELS</div>

  <img src="{{watch.mainPhotoUrl}}"
       class="watchdetails_mainphoto"
       [hidden]="!watch.mainPhotoUrl">

  <div class="watchdetails_shortinfo">{{watch?.model}}, {{watch?.caseDiameter}} mm, {{watch?.caseMaterial}}, {{watch?.perpetual}}</div>

  <button type="button" class="watchdetails_Rectangle">
    <img src="../../../assets/images/watchdetails_paper-bag.png"
         srcset="../../../assets/images/watchdetails_paper-bag@2x.png 2x,
             ../../../assets/images/watchdetails_paper-bag@3x.png 3x"
         class="watchdetails_paper-bag">
    <span class="watchdetails_addToWatchTray">ADD TO WATCH TRAY</span>
  </button>

  <button (click)="scrollTo('watchdetails_band_title')" class="watchdetails_plusTechnicalDetails"> + Technical detail</button>
<!--
  <img src="{{watch.brandObject?.banner1PhotoUrl}}"
       class="watchdetails_banner1"
       [hidden]="!watch.brandObject?.banner1PhotoUrl">
-->

  <!--<img src="{{watch.section1PhotoUrl}}"-->
  <!--class="watchdetails_section1_image"-->
  <!--[hidden]="!watch.section1PhotoUrl">-->

  <!--<div class="watchdetails_section1_ModelFeatures">Model Features</div>-->

  <!--<div class="watchdetails_section1_title">{{watch.section1Title}}</div>-->

  <!--<div class="watchdetails_section1_paragraph">{{watch.section1Paragraph}}</div>-->

  <!--<img src="{{watch.section2PhotoUrl}}"-->
  <!--class="watchdetails_section2_image"-->
  <!--[hidden]="!watch.section2PhotoUrl">-->

  <!--<div class="watchdetails_section2_ModelFeatures">Model Features</div>-->

  <!--<div class="watchdetails_section2_title">{{watch.section2Title}}</div>-->

  <!--<div class="watchdetails_section2_paragraph">{{watch.section2Paragraph}}</div>-->

  <!--<img src="{{watch.section3PhotoUrl}}"-->
  <!--class="watchdetails_section3_image"-->
  <!--[hidden]="!watch.section3PhotoUrl">-->

  <!--<div class="watchdetails_section3_ModelFeatures">Model Features</div>-->

  <!--<div class="watchdetails_section3_title">{{watch.section3Title}}</div>-->

  <!--<div class="watchdetails_section3_paragraph">{{watch.section3Paragraph}}</div>-->

  <!--<img src="{{watch.section4PhotoUrl}}"-->
  <!--class="watchdetails_section4_image"-->
  <!--[hidden]="!watch.section4PhotoUrl">-->

  <!--<div class="watchdetails_section4_ModelFeatures">Model Features</div>-->

  <!--<div class="watchdetails_section4_title">{{watch.section4Title}}</div>-->

  <!--<div class="watchdetails_section4_paragraph">{{watch.section4Paragraph}}</div>-->

  <!--<img src="{{watch.section5PhotoUrls[0]?.value}}"-->
  <!--class="watchdetails_section5_image1"-->
  <!--[hidden]="!watch.section5PhotoUrls[0]">-->

  <!--<img src="{{watch.section5PhotoUrls[1]?.value}}"-->
  <!--class="watchdetails_section5_image2"-->
  <!--[hidden]="!watch.section5PhotoUrls[1]">-->

  <!--<div class="watchdetails_section5_ModelFeatures">Model Features</div>-->

  <!--<div class="watchdetails_section5_title">{{watch.section5Title}}</div>-->

  <!--<div class="watchdetails_section5_paragraph">{{watch.section5Paragraph}}</div>-->

  <!--<input type="image" src="../../../assetsimages/group-12.svg"-->
  <!--class="watchdetails_section5_rightbutton"-->
  <!--(click)="section5rightButtonClicked()">-->

  <!--<div class="watchdetails_line_grey"></div>-->

  <!--<div class="watchdetails_line_black"></div>-->

  <div class="watchdetails_General">GENERAL</div>

  <div class="watchdetails_General_Line"></div>

  <div class="watchdetails_modelcase_title">MODEL CASE</div>

  <div class="watchdetails_modelcase_value">{{watch.model}}, {{watch.caseDiameter}} mm, {{watch.caseMaterial}}, {{watch.perpetual}}</div>

  <div class="watchdetails_reference_title">REFERENCE</div>

  <div class="watchdetails_reference_value">{{watch.referenceNumber}}</div>

  <div class="watchdetails_movement_title">MOVEMENT</div>

  <div class="watchdetails_movement_value">{{watch.movementAutomaticOrManual}}</div>

  <div class="watchdetails_casematerial_title">CASE MATERIAL</div>

  <div class="watchdetails_casematerial_value">{{watch.caseMaterial}}</div>

  <div class="watchdetails_general_bandmaterial_title">BAND MATERIAL</div>

  <div class="watchdetails_general_bandmaterial_value">{{watch.bandMaterial}}</div>

  <div class="watchdetails_productionyear_title">PRODUCTION YEAR</div>

  <div class="watchdetails_productionyear_value">{{watch.productionYear}}</div>

  <div class="watchdetails_gender_title">GENDER</div>

  <div class="watchdetails_gender_value">{{watch.gender}}</div>

  <div class="watchdetails_certification_title">CERTIFICATION</div>

  <div class="watchdetails_certification_line"></div>

  <div class="watchdetails_certification_value">{{watch.movementCertificate}}, {{watch.awards}}</div>

  <div class="watchdetails_calibre">CALIBRE</div>

  <div class="watchdetails_calibre_line"></div>

  <div class="watchdetails_calibre_movement_title">MOVEMENT</div>

  <div class="watchdetails_calibre_movement_value">{{watch.movementCaliberName}}</div>

  <div class="watchdetails_calibre_title">CALIBRE</div>

  <div class="watchdetails_calibre_value">{{watch.movementCaliberNumber}}</div>

  <div class="watchdetails_functions_title">FUNCTIONS</div>

  <div class="watchdetails_functions_value">{{functionsList}}</div>

  <div class="watchdetails_powerreserve_title">POWER RESERVE</div>

  <div class="watchdetails_powerreserve_value">{{watch.movementPowerReserve}} h</div>

  <div class="watchdetails_jewels_title">JEWELS</div>

  <div class="watchdetails_jewels_value">{{watch.movementJewels}}</div>

  <div class="watchdetails_frequency_title">FREQUENCY</div>

  <div class="watchdetails_frequency_value">{{watch.movementFrequency}} vph</div>

  <div class="watchdetails_band_title">BAND</div>

  <div class="watchdetails_band_line"></div>

  <div class="watchdetails_bracelet_title">BRACELET</div>

  <div class="watchdetails_bracelet_value">{{watch.band}}</div>

  <div class="watchdetails_bandmaterial_title">BAND MATERIAL</div>

  <div class="watchdetails_bandmaterial_value">{{watch.bandMaterial}}</div>

  <div class="watchdetails_clasptitle_title">CLASP TYPE</div>

  <div class="watchdetails_clasptitle_value">{{watch.bandClasp}}</div>

  <div class="watchdetails_claspcolor_title">CLASP COLOR</div>

  <div class="watchdetails_claspcolor_value">{{watch.bandColour}}</div>

  <div class="watchdetails_case_title">CASE</div>

  <div class="watchdetails_case_Line"></div>

  <div class="watchdetails_case_material_title">MATERIAL</div>

  <div class="watchdetails_case_material_value">{{watch.caseMaterial}}</div>

  <div class="watchdetails_diameter_title">DIAMETER</div>

  <div class="watchdetails_diameter_value">{{watch.caseDiameter}} mm</div>

  <div class="watchdetails_waterproof_title">WATER-PROOF</div>

  <div class="watchdetails_waterproof_value">{{watch.waterResistance}} atm</div>

  <div class="watchdetails_bezel_material_title">BEZEL MATERIAL</div>

  <div class="watchdetails_bezel_material_value">{{watch.caseBezelMaterial}}</div>

  <div class="watchdetails_crystal_title">CRYSTAL</div>

  <div class="watchdetails_crystal_value">{{watch.caseFront}}</div>

  <div class="watchdetails_dial_title">DIAL</div>

  <div class="watchdetails_dial_line"></div>

  <div class="watchdetails_dialcolor_title">DIAL COLOR</div>

  <div class="watchdetails_dialcolor_value">{{watch.dialColour}}</div>

  <div class="watchdetails_dialfinish_title">DIAL FINISH</div>

  <div class="watchdetails_dialfinish_value">{{watch.dialFinish}}</div>

  <div class="watchdetails_dialindexes_title">DIAL INDEXES</div>

  <div class="watchdetails_dialindexes_value">{{watch.dialIndex}}</div>

  <div class="watchdetails_dialhands_title">DIAL HANDS</div>

  <div class="watchdetails_dialhands_value">{{watch.dialHands}}</div>

  <button (click)="showPrice()" class="watchdetails_showprice">{{price}}</button>

  <button type="button" class="watchdetails_addtowatchtray_rectangle">
    <img src="../../../assets/images/watchdetails_paper-bag.png"
         srcset="../../../assets/images/watchdetails_paper-bag@2x.png 2x,
             ../../../assets/images/watchdetails_paper-bag@3x.png 3x"
         class="watchdetails_addtowatchtray_paperbag">
    <span class="watchdetails_addtowatchtray_text">ADD TO WATCH TRAY</span>
  </button>

  <input type="image" src="../../../assets/images/down-arrow.svg"
         class="watchdetails_downarrow"
         (click)="mainIconButtonClicked()">

  <div class="watchdetails_Return-to-the-top">Return to the top</div>

  <div class="watchdetails_details_line"></div>

    <!--
  <img src="{{watch.brandObject?.banner2PhotoUrl}}"
       class="watchdetails_banner2"
       [hidden]="!watch.brandObject?.banner2PhotoUrl">-->

  <!--<div class="watchdetails_Social-media">SOCIAL MEDIA</div>-->

  <!--<img src="../../../assetsimages/18096315-416386968719834-681989047953915904-n.png"-->
  <!--srcset="../../../assetsimages/18096315-416386968719834-681989047953915904-n@2x.png 2x,-->
  <!--../../assets/images/18096315-416386968719834-681989047953915904-n@3x.png 3x"-->
  <!--class="watchdetails_socialmedia_image1">-->

  <!--<img src="../../../assetsimages/group-5.png"-->
  <!--srcset="../../../assetsimages/group-5@2x.png 2x,-->
  <!--../../assets/images/group-5@3x.png 3x"-->
  <!--class="watchdetails_socialmedia_image2">-->

  <!--<img src="../../../assetsimages/group-6.png"-->
  <!--srcset="../../../assetsimages/group-6@2x.png 2x,-->
  <!--../../assets/images/group-6@3x.png 3x"-->
  <!--class="watchdetails_socialmedia_image3">-->

  <!--<img src="../../../assetsimages/group-7.png"-->
  <!--srcset="../../../assetsimages/group-7@2x.png 2x,-->
  <!--../../assets/images/group-7@3x.png 3x"-->
  <!--class="watchdetails_socialmedia_image4">-->

  <!--<img src="../../../assetsimages/group-8.png"-->
  <!--srcset="../../../assetsimages/group-8@2x.png 2x,-->
  <!--../../assets/images/group-8@3x.png 3x"-->
  <!--class="watchdetails_socialmedia_image5">-->

  <!--<img src="../../../assetsimages/group-9.png"-->
  <!--srcset="../../../assetsimages/group-9@2x.png 2x,-->
  <!--../../assets/images/group-9@3x.png 3x"-->
  <!--class="watchdetails_socialmedia_image6">-->

  <!--<img src="../../../assetsimages/group-10.png"-->
  <!--srcset="../../../assetsimages/group-10@2x.png 2x,-->
  <!--../../assets/images/group-10@3x.png 3x"-->
  <!--class="watchdetails_socialmedia_image7">-->

  <!--<img src="../../../assetsimages/group-11.png"-->
  <!--srcset="../../../assetsimages/group-11@2x.png 2x,-->
  <!--../../assets/images/group-11@3x.png 3x"-->
  <!--class="watchdetails_socialmedia_image8">-->

  <!--<button type="button" class="watchdetails_Load-more_Rectangle">-->
  <!--<div class="watchdetails_Load-more_Text">LOAD MORE</div>-->
  <!--</button>-->

  <img src="../../../assets/images/group.png"
       srcset="../../../assets/images/group@2x.png 2x,
             ../../../assets/images/group@3x.png 3x"
       class="watchdetails_footer_Group">

  <div class="watchdetails_footer_Rectangle-3"></div>

  <div class="watchdetails_footer_Contact-us">Contact us</div>

  <img src="../../../assets/images/facebook-letter-logo.png"
       srcset="../../../assets/images/facebook-letter-logo@2x.png 2x,
             ../../../assets/images/facebook-letter-logo@3x.png 3x"
       class="watchdetails_footer_facebook-letter-logo">

  <img src="../../../assets/images/twitter-logo-silhouette.png"
       srcset="../../../assets/images/twitter-logo-silhouette@2x.png 2x,
             ../../../assets/images/twitter-logo-silhouette@3x.png 3x"
       class="watchdetails_footer_twitter-logo-silhouette">

  <img src="../../../assets/images/insta.png"
       srcset="../../../assets/images/insta@2x.png 2x,
             ../../../assets/images/insta@3x.png 3x"
       class="watchdetails_footer_insta">

  <div class="watchdetails_footer_-Chrono-Wiz-2018-A">© Chrono Wiz 2018. All rights reserved</div>

  <div class="watchdetails_footer_Line-4"></div>

  <div class="watchdetails_footer_Terms-Conditions-">Terms & Conditions | Security & Privacy | Returns & Exchanges | Payment & Shipping | Warranty & Repair | Education</div>

  <br/>

</div>
