#watchdetails-page
{
  width: 1440px;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
}

.watchdetails_menu
{
  width: 17.2px;
  height: 16px;
  object-fit: contain;
  position: absolute;
  top: 96px;
  left: 70px;
}

.watchdetails_mainicon
{
  width: 108px;
  height: 77px;
  object-fit: contain;
  position: absolute;
  left: 666px;
  top: 36px;
}

.watchdetails_account
{
  width: 21px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 1233px;
  top: 88px;
}

.watchdetails_search
{
  width: 23.4px;
  height: 24.4px;
  object-fit: contain;
  position: absolute;
  left: 1291.5px;
  top: 88px;
}

.watchdetails_paperbag
{
  width: 17px;
  height: 28px;
  object-fit: contain;
  position: absolute;
  left: 1353px;
  top: 84px;
}

.watchdetails_Home
{
  width: auto;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #212121;
  position: absolute;
  left: 69px;
  top: 121px;
}

.watchdetails_Model
{
  width: auto;
  height: 43px;
  object-fit: contain;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #212121;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 169px;
  transform: translate(-50%, 0);
}

.watchdetails_allmodelsicon
{
  width: 8px;
  height: 8px;
  object-fit: contain;
  position: absolute;
  left: 628px;
  top: 233px;
}

.watchdetails_allcollectionmodels
{
  width: auto;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #212121;
  position: absolute;
  left: 640px;
  top: 230px;
}

.watchdetails_mainphoto
{
  width: auto;
  height: 453px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 282px;
  transform: translate(-50%, 0);
}

.watchdetails_shortinfo
{
  width: auto;
  height: 17px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9e9e9e;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 790px;
  transform: translate(-50%, 0);
}

.watchdetails_Rectangle
{
  width: 186px;
  height: 42px;
  object-fit: contain;
  opacity: 0.84;
  border-radius: 6px;
  position: absolute;
  left: 554px;
  top: 847px;
  border-color: #4a4a4a;
}

.watchdetails_paper-bag
{
  width: 12px;
  height: 19px;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 10px;
}

.watchdetails_addToWatchTray
{
  width: 128px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #4a4a4a;
  position: absolute;
  left: 35px;
  top: 13px;
}

.watchdetails_plusTechnicalDetails
{
  width: 120px;
  height: 17px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #9b9b9b;
  position: absolute;
  left: 767px;
  top: 860px;
}

.watchdetails_banner1
{
  width: auto;
  height: 427px;
  position: absolute;
  left: 50%;
  top: 1023px;
  transform: translate(-50%, 0);
}

.watchdetails_section1_image
{
  width: 640px;
  height: 532px;
  position: absolute;
  left: 81px;
  top: 1530px;
}

.watchdetails_section1_ModelFeatures
{
  width: auto;
  height: 20px;
  font-family: Didot;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7a1c1c;
  position: absolute;
  left: 809px;
  top: 1642px;
}

.watchdetails_section1_title
{
  width: auto;
  height: 38px;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e0809;
  position: absolute;
  left: 809px;
  top: 1671px;
}

.watchdetails_section1_paragraph
{
  width: 380px;
  height: 221px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.4px;
  color: #212121;
  position: absolute;
  left: 809px;
  top: 1729px;
}

.watchdetails_section2_image
{
  width: 643px;
  height: 536px;
  object-fit: contain;
  position: absolute;
  left: 722px;
  top: 2060px;
}

.watchdetails_section2_ModelFeatures
{
  width: auto;
  height: 20px;
  font-family: Didot;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7a1c1c;
  position: absolute;
  left: 252px;
  top: 2230px;
}

.watchdetails_section2_title
{
  width: auto;
  height: 43px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e0809;
  position: absolute;
  left: 252px;
  top: 2256px;
}

.watchdetails_section2_paragraph
{
  width: 411px;
  height: 106px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.4px;
  color: #212121;
  position: absolute;
  left: 252px;
  top: 2320px;
}

.watchdetails_section3_image
{
  width: 318px;
  height: 536px;
  object-fit: contain;
  position: absolute;
  left: 405px;
  top: 2595px;
}

.watchdetails_section3_ModelFeatures
{
  width: auto;
  height: 20px;
  font-family: Didot;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7a1c1c;
  position: absolute;
  left: 809px;
  top: 2690px;
}

.watchdetails_section3_title
{
  width: 262px;
  height: 76px;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e0809;
  position: absolute;
  left: 809px;
  top: 2719px;
}

.watchdetails_section3_paragraph
{
  width: 380px;
  height: 221px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.4px;
  color: #212121;
  position: absolute;
  left: 810px;
  top: 2815px;
}

.watchdetails_section4_image
{
  width: 434px;
  height: 437px;
  position: absolute;
  left: 722px;
  top: 3130px;
}

.watchdetails_section4_ModelFeatures
{
  width: auto;
  height: 20px;
  font-family: Didot;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7a1c1c;
  position: absolute;
  left: 252px;
  top: 3189px;
}

.watchdetails_section4_title
{
  width: 310px;
  height: 43px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e0809;
  position: absolute;
  left: 252px;
  top: 3215px;
}

.watchdetails_section4_paragraph
{
  width: 411px;
  height: 173px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.4px;
  color: #212121;
  position: absolute;
  left: 252px;
  top: 3279px;
}

.watchdetails_section5_image1
{
  width: 540px;
  height: 398px;
  object-fit: contain;
  position: absolute;
  left: 0px;
  top: 3703px;
}

.watchdetails_section5_image2
{
  width: 540px;
  height: 398px;
  position: absolute;
  left: 560px;
  top: 3703px;
}

.watchdetails_section5_ModelFeatures
{
  width: auto;
  height: 20px;
  font-family: Didot;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7a1c1c;
  position: absolute;
  left: 1193px;
  top: 3804px;
}

.watchdetails_section5_title
{
  width: auto;
  height: 43px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e0809;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 1193px;
  top: 3830px;
}

.watchdetails_section5_paragraph
{
  width: 247px;
  height: 106px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.4px;
  color: #212121;
  position: absolute;
  left: 1193px;
  top: 3894px;
}

.watchdetails_section5_rightbutton
{
  width: 117px;
  height: 229px;
  object-fit: contain;
  position: absolute;
  left: 1323px;
  top: 3788px;
}

.watchdetails_line_grey
{
  width: 541px;
  height: 3px;
  background-color: #c0c0c0;
  position: absolute;
  left: 250px;
  top: 4121px;
}

.watchdetails_line_black
{
  width: 172px;
  height: 3px;
  background-color: #212121;
  position: absolute;
  left: 250px;
  top: 4121px;
}

.watchdetails_General
{
  width: 87px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 249px;
  top: 4190px;
}

.watchdetails_General_Line
{
  width: 298px;
  height: 1px;
  background-color: #c0c0c0;
  position: absolute;
  left: 250px;
  top: 4221px;
}

.watchdetails_modelcase_title
{
  width: 76px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 251px;
  top: 4262px;
}

.watchdetails_modelcase_value
{
  width: 145px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 251px;
  top: 4283px;
}

.watchdetails_reference_title
{
  width: 72px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 251px;
  top: 4327px;
}

.watchdetails_reference_value
{
  width: 238px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #818181;
  position: absolute;
  left: 251px;
  top: 4346px;
}

.watchdetails_movement_title
{
  width: 70px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 251px;
  top: 4390px;
}

.watchdetails_movement_value
{
  width: 189px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 251px;
  top: 4408px;
}

.watchdetails_casematerial_title
{
  width: 92px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 251px;
  top: 4454px;
}

.watchdetails_casematerial_value
{
  width: 89px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 251px;
  top: 4474px;
}

.watchdetails_bandematerial_title
{
  width: 104px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 251px;
  top: 4518px;
}

.watchdetails_bandematerial_value
{
  width: 89px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 251px;
  top: 4538px;
}

.watchdetails_productionyear_title
{
  width: 117px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 251px;
  top: 4592px;
}

.watchdetails_productionyear_value
{
  width: 27px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 251px;
  top: 4612px;
}

.watchdetails_gender_title
{
  width: 52px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 251px;
  top: 4656px;
}

.watchdetails_gender_value
{
  width: 247px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 251px;
  top: 4676px;
}

.watchdetails_certification_title
{
  width: 137px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 251px;
  top: 4780px;
}

.watchdetails_certification_line
{
  width: 300px;
  height: 1px;
  background-color: #c0c0c0;
  position: absolute;
  left: 252px;
  top: 4811px;
}

.watchdetails_certification_value
{
  width: 224px;
  height: 28px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 253px;
  top: 4853px;
}

.watchdetails_calibre
{
  width: 78px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 569px;
  top: 4190px;
}

.watchdetails_calibre_line
{
  width: 300px;
  height: 1px;
  background-color: #c0c0c0;
  position: absolute;
  left: 570px;
  top: 4221px;
}

.watchdetails_calibre_movement_title
{
  width: 67px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 571px;
  top: 4262px;
}

.watchdetails_calibre_movement_value
{
  width: 189px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 571px;
  top: 4283px;
}

.watchdetails_calibre_title
{
  width: 50px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 571px;
  top: 4317px;
}

.watchdetails_calibre_value
{
  width: 238px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #818181;

  position: absolute;
  left: 571px;
  top: 4334px;
}

.watchdetails_functions_title
{
  width: 68px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;

  position: absolute;
  left: 571px;
  top: 4368px;
}

.watchdetails_functions_value
{
  width: 297px;
  height: 46px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 571px;
  top: 4388px;
}

.watchdetails_powerreserve_title
{
  width: 106px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 571px;
  top: 4446px;
}

.watchdetails_powerreserve_value
{
  width: 247px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 571px;
  top: 4466px;
}

.watchdetails_jewels_title
{
  width: 49px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 571px;
  top: 4500px;
}

.watchdetails_jewels_value
{
  width: 4px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 571px;
  top: 4520px;
}

.watchdetails_frequency_title
{
  width: 76px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 571px;
  top: 4554px;
}

.watchdetails_frequency_value
{
  width: 141px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 571px;
  top: 4574px;
}

.watchdetails_band_title
{
  width: 51px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 569px;
  top: 4608px;
}

.watchdetails_band_line
{
  width: 300px;
  height: 1px;
  background-color: #c0c0c0;
  position: absolute;
  left: 570px;
  top: 4639px;
}

.watchdetails_bracelet_title
{
  width: 61px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 571px;
  top: 4680px;
}

.watchdetails_bracelet_value
{
  width: 145px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 571px;
  top: 4701px;
}

.watchdetails_bandmaterial_title
{
  width: 92px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 571px;
  top: 4735px;
}

.watchdetails_bandmaterial_value
{
  width: 238px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #818181;
  position: absolute;
  left: 571px;
  top: 4756px;
}

.watchdetails_clasptitle_title
{
  width: auto;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 571px;
  top: 4785px;
}

.watchdetails_clasptitle_value
{
  width: 163px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 571px;
  top: 4808px;
}

.watchdetails_claspcolor_title
{
  width: 86px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 571px;
  top: 4843px;
}

.watchdetails_claspcolor_value
{
  width: 60px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 571px;
  top: 4867px;
}

.watchdetails_case_title
{
  width: 50px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 890px;
  top: 4190px;
}

.watchdetails_case_Line
{
  width: 300px;
  height: 1px;
  background-color: #c0c0c0;
  position: absolute;
  left: 890px;
  top: 4221px;
}

.watchdetails_case_material_title
{
  width: 57px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 890px;
  top: 4262px;
}

.watchdetails_case_material_value
{
  width: 89px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 890px;
  top: 4283px;
}

.watchdetails_diameter_title
{
  width: 63px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 890px;
  top: 4317px;
}

.watchdetails_diameter_value
{
  width: 37px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 890px;
  top: 4339px;
}

.watchdetails_waterproof_title
{
  width: 89px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 890px;
  top: 4368px;
}

.watchdetails_waterproof_value
{
  width: 209px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 890px;
  top: 4388px;
}

.watchdetails_bezel_material_title
{
  width: 101px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 890px;
  top: 4427px;
}

.watchdetails_bezel_material_value
{
  width: 70px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 890px;
  top: 4447px;
}

.watchdetails_crystal_title
{
  width: 55px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 890px;
  top: 4481px;
}

.watchdetails_crystal_value
{
  width: 247px;
  height: 28px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 890px;
  top: 4501px;
}

.watchdetails_dial_title
{
  width: 41px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  left: 890px;
  top: 4608px;
}

.watchdetails_dial_line
{
  width: 300px;
  height: 1px;
  background-color: #c0c0c0;
  position: absolute;
  left: 891px;
  top: 4639px;
}

.watchdetails_dialcolor_title
{
  width: 73px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 892px;
  top: 4680px;
}

.watchdetails_dialcolor_value
{
  width: 31px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 892px;
  top: 4701px;
}

.watchdetails_dialfinish_title
{
  width: 69px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 892px;
  top: 4735px;
}

.watchdetails_dialfinish_value
{
  width: 31px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 892px;
  top: 4756px;
}

.watchdetails_dialindexes_title
{
  width: 82px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 892px;
  top: 4785px;
}

.watchdetails_dialindexes_value
{
  width: 100px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 892px;
  top: 4806px;
}

.watchdetails_dialhands_title
{
  width: 72px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #212121;
  position: absolute;
  left: 892px;
  top: 4842px;
}

.watchdetails_dialhands_value
{
  width: 100px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
  position: absolute;
  left: 892px;
  top: 4863px;
}

.watchdetails_details_line
{
  width: 940px;
  height: 1px;
  background-color: #c0c0c0;
  position: absolute;
  left: 250px;
  top: 4911px;
}

.watchdetails_showprice
{
  width: 98px;
  height: 20px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #212121;
  position: absolute;
  left: 579px;
  top: 4981px;
}

.watchdetails_showprice_rectangle
{
  width: 186px;
  height: 42px;
  border-radius: 6px;
  border-color: #4a4a4a;
  position: absolute;
  left: 720px;
  top: 4972px;
}

.watchdetails_showprice_paperbag
{
  width: 12px;
  height: 19px;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 10px;
}

.watchdetails_showprice_addtowatchtray
{
  width: 128px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #212121;
  position: absolute;
  left: 35px;
  top: 13px;
}

.watchdetails_downarrow
{
  width: 10px;
  height: 5px;
  object-fit: contain;
  position: absolute;
  left: 714px;
  top: 5054px;
}

.watchdetails_Return-to-the-top
{
  width: auto;
  height: 28px;
  object-fit: contain;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #212121;
  position: absolute;
  left: 675px;
  top: 5064px;
}

.watchdetails_banner2
{
  width: auto;
  height: 363px;
  position: absolute;
  left: 50%;
  top: 5154px;
  transform: translate(-50%, 0);
}

.watchdetails_Social-media
{
  width: 256px;
  height: 43px;
  object-fit: contain;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #212121;
  position: absolute;
  left: 594px;
  top: 5585px;
}

.watchdetails_socialmedia_image1
{
  width: 220px;
  height: 220px;
  object-fit: contain;
  position: absolute;
  left: 252px;
  top: 5698px;
}

.watchdetails_socialmedia_image2
{
  width: 220px;
  height: 220px;
  object-fit: contain;
  position: absolute;
  left: 492px;
  top: 5698px;
}

.watchdetails_socialmedia_image3
{
  width: 220px;
  height: 220px;
  object-fit: contain;
  position: absolute;
  left: 732px;
  top: 5698px;
}

.watchdetails_socialmedia_image4
{
  width: 220px;
  height: 220px;
  object-fit: contain;
  position: absolute;
  left: 972px;
  top: 5698px;
}

.watchdetails_socialmedia_image5
{
  width: 220px;
  height: 220px;
  object-fit: contain;
  position: absolute;
  left: 252px;
  top: 5938px;
}

.watchdetails_socialmedia_image6
{
  width: 220px;
  height: 220px;
  object-fit: contain;
  position: absolute;
  left: 489px;
  top: 5938px;
}

.watchdetails_socialmedia_image7
{
  width: 220px;
  height: 220px;
  object-fit: contain;
  position: absolute;
  left: 733px;
  top: 5938px;
}

.watchdetails_socialmedia_image8
{
  width: 220px;
  height: 220px;
  object-fit: contain;
  position: absolute;
  left: 972px;
  top: 5938px;
}

.watchdetails_Load-more_Rectangle
{
  width: 140px;
  height: 22px;
  object-fit: contain;
  position: absolute;
  border-color: #7a1c1c;
  left: 652px;
  top: 6188px;
}

.watchdetails_Load-more_Text
{
  width: 131px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #7a1c1c;
}

.watchdetails_footer_Group
{
  width: 60px;
  height: 42.8px;
  object-fit: contain;
  position: absolute;
  left: 247px;
  top: 6247px;
}

.watchdetails_footer_Rectangle-3
{
  width: 1440px;
  height: 48px;
  background-color: #3e0808;
  position: absolute;
  left: 0;
  top: 6318px;
}

.watchdetails_footer_Contact-us
{
  width: 106px;
  height: 31px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  left: 936px;
  top: 6332px;
}

.watchdetails_footer_facebook-letter-logo
{
  width: 10px;
  height: 22px;
  object-fit: contain;
  position: absolute;
  left: 1075px;
  top: 6331px;
}

.watchdetails_footer_twitter-logo-silhouette
{
  width: 20px;
  height: 17px;
  object-fit: contain;
  position: absolute;
  left: 1114px;
  top: 6336px;
}

.watchdetails_footer_insta
{
  width: 20px;
  height: 20px;
  object-fit: contain;
  position: absolute;
  left: 1164px;
  top: 6332px;
}

.watchdetails_footer_-Chrono-Wiz-2018-A
{
  width: 211px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7a1c1c;
  position: absolute;
  left: 613px;
  top: 6376px;
}

.watchdetails_footer_Line-4
{
  width: 1434.5px;
  height: 1px;
  background-color: #924443;
  position: absolute;
  left: 1px;
  top: 6398px;
}

.watchdetails_footer_Terms-Conditions-
{
  width: 940px;
  height: 20px;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #7a1c1c;
  position: absolute;
  left: 247px;
  top: 6419px;
  padding-bottom: 50px;
}
