<simple-notifications></simple-notifications>
<app-header [breads]="breads"></app-header>
<div class="row no-gutters">
  <div class="col-12">
    <div class="page-breads">
      <ul class="list-inline w-100 px-2 text-center">
        <li class="list-inline-item"><a (click)="goToPage('checkout')" class="checked"> Checkout </a></li>
        <li class="list-inline-item"><a> Shipping </a></li>
        <li class="list-inline-item"><a> Payment </a></li>
        <li class="list-inline-item"><a> Confirmation </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5 mt-3 mx-auto">
    <div class="col-12 mt-4">
      <table class="watch-table table-responsive-sm my-3" *ngIf="order?.watchObjects?.length !== 0">
        <thead>
          <tr>
            <th class="small">Item</th>
            <th class="small">Description</th>
            <th class="small">Price</th>
            <th class="small">QTY</th>
            <th class="small">Total</th>
            <th class="small">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orderWatchObject of order?.watchObjects">
            <td class="text-center">
              <a class="img-container" *ngIf="orderWatchObject?.watchObject?.referenceNumber" [routerLink]="['/watch/',orderWatchObject?.watchObject?.referenceNumber]">
                <img class="table-img" [src]="orderWatchObject?.watchObject?.mainPhotoUrl? orderWatchObject?.watchObject?.mainPhotoUrl: 'http://placehold.it/360x560/FFFFFF/FFFFFF'">
              </a>
            </td>
            <td class="desc">
              <p class="m-0">
                <span class="bold" *ngIf="orderWatchObject?.watchObject?.model">{{orderWatchObject?.watchObject?.model}}
                </span>
                <span class="small" *ngIf="orderWatchObject?.watchObject?.caseDiameter">{{orderWatchObject?.watchObject?.caseDiameter}}
                  mm<span *ngIf="orderWatchObject?.watchObject?.caseMaterial">,&nbsp;</span> </span>
                <span class="small" *ngIf="orderWatchObject?.watchObject?.caseMaterial">{{orderWatchObject?.watchObject?.caseMaterial}}<span *ngIf="orderWatchObject?.watchObject?.perpetual">,&nbsp;</span></span>
                <span class="small" *ngIf="orderWatchObject?.watchObject?.perpetual">{{orderWatchObject?.watchObject?.perpetual}}</span>
                <br>
                <span class="bold">Reference number:
                  <span class="small">
                    {{orderWatchObject?.watchObject?.referenceNumber}}
                  </span>
                </span>
              </p>
            </td>
            <td>
              <p class="small m-0"> {{orderWatchObject?.price | currency: orderWatchObject?.watchObject?.priceCurrency
                : 'symbol' : '1.0' }} </p>
            </td>
            <td class="text-center">
              <input class="form-input" class="qty" [(ngModel)]="orderWatchObject.quantity" min="1" type="number">
            </td>
            <td>
              <p class="small m-0"> {{orderWatchObject?.price * orderWatchObject?.quantity | currency:
                orderWatchObject?.watchObject?.priceCurrency : 'symbol' : '1.0' }}
              </p>
            </td>
            <td class="text-center">
              <i class="wrong-sign" (click)="removeFromCheckout(orderWatchObject?.watchObject?.referenceNumber)">X</i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center py-5" *ngIf="order?.watchObjects?.length === 0">
        <p class="text-center">
          You haven't added any watch to the checkout
        </p>
      </div>
      <p class="totalPriceSection">
        <span class="totalPriceText">Total : </span>
        <span class="totalPrice"> {{totalPrice | currency: 'USD' :'symbol' : '1.0'}} </span>
      </p>
      <div class="text-center mx-auto">
        <button class="btn secondry-btn" (click)="onSubmit()" [disabled]="order?.watchObjects?.length === 0"> {{'Next
          >'}} </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
