.checkout-page
  .watch-table
    text-align: left;
    width: 100%;
    thead
      background: #F5F5F5;
      text-transform: uppercase;
      tr
        border: none !important
    th
      padding: 10px;
      font-weight: 900;
      font-size: 14px;
    tr
      border-bottom: 1px solid #979797;
    td
      p
        padding: 0 10px
        font-weight: 300;
        text-align: left !important;
    .table-img
      height: 100px;

  .bold
    font-weight: 400;


  .img-container
    height: 100px
    text-align: center
    img
      max-height: 100%
      margin: auto

  .qty
    width: 30px
    font-size: 10px

  .right-wrong
    text-align: right;
    vertical-align: bottom;
    .fa-check-circle
      color: #7A1C1C
      i
        cursor: pointer
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;

  .move-left
    padding: 0 31px;

  .disable
    pointer-events: none;
    cursor: default;

  .desc
    p
      min-width: 132px

  .totalPriceSection
    text-align: right
    .totalPriceText
      padding-right: 66px
      font-weight: 300;
      font-size: 20px;
      letter-spacing: -0.9px;
      color: #333333;
    .totalPrice
      padding-right: 15px
      font-weight: 300;
      font-size: 24px;
      text-align: right;
      letter-spacing: -1px;

@media screen and (max-width: 570px)
  .small
    font-size: 10px
  .bold
    font-size: 12px
    display: block
  .img-container
    width: 70px
  .table-img
    height: 70px !important
  .container
    padding: 0
  th
    font-size: 10px !important
  .col-12
    padding: 0
  .page-breads
    a
      font-size: 10.7px
