<div class="card-list">
  <h2> {{name}}</h2>
  <div class="card-carousel-wrapper">
      <div class="card-carousel--nav__left" (click)="moveCarousel(-1)" *ngIf="!atHeadOfList"></div>
      <div class="card-carousel">
        <div class="card-carousel--overflow-container">
          <div class="card-carousel-cards row flex-nowrap" [ngStyle]="transitionStyle">
            <div class="col-md-3 col-sm-4 col-6 card-carousel--card" *ngFor="let watch of watchList | gender: gender">
              <app-item-card [watch]="watch"></app-item-card>
            </div>
          </div>
        </div>
      </div>
      <div class="card-carousel--nav__right" (click)="moveCarousel(1)" *ngIf="!atEndOfList" ></div>
    </div>
</div>
