<footer>
  <div class="footer">
    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="../../../assets/social/Facebook.svg"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="../../../assets/social/twitter.svg"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="../../../assets/social/insta.svg"></a>
            </li>
          </ul>
    </div>
  </div>
  <div class="copyright text-center">
    © Chrono Wiz 2018. All rights reserved
  </div>
  <div class="links">
    <ul class="list-inline">
      <li class="list-inline-item hide"><a href="#"> Terms & Conditions </a></li>
      <li class="list-inline-item hide"><a href="#"> Security & Privacy </a></li>
      <li class="list-inline-item hide"><a href="#"> Returns & Exchanges </a></li>
      <li class="list-inline-item show"><a href="#"> Legal Notice </a></li>
      <li class="list-inline-item"><a href="#"> Payment & Shipping </a></li>
      <li class="list-inline-item hide"><a href="#"> Warranty & Repair </a></li>
      <li class="list-inline-item"><a href="#"> Education </a></li>
    </ul>
  </div>
</footer>
