<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto login d-flex align-items-center">
  <div class="form-page container">

    <br />
    <h1>Brand</h1>
    <br />
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-lg btn-primary" (click)="openWatchForm()">Watch Form</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-lg btn-primary" (click)="openCollectionForm()">Collection Form</button>
      </div>
      <div class="col">
        <button type="button" disabled class="btn btn-lg btn-success" (click)="openBrandForm()">Brand Form</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-lg btn-primary" (click)="openHomePage()">Home</button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-lg btn-primary" (click)="openAddBrandPage()">Add New Brand</button>
      </div>
      <div class="col">
        <button type="button" disabled class="btn btn-lg btn-success" (click)="openEditBrandPage()">Edit Existing Brand</button>
      </div>
    </div>

    <form #brandForm="ngForm">

      <br />
      <h3>Brand Details</h3>
      <br />

      <div class="form-group">
        <label for="name">Choose and existing brand name</label>
        <select type="text" class="form-control" id="name" (change)="onSelectBrand()" required [(ngModel)]="brand.name"
          name="name" #name="ngModel">
          <option [value]="brandObject?.name" *ngFor="let brandObject of brandObjects">{{brandObject?.name}}</option>
        </select>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Brand name is required</div>
      </div>

      <br />
      <h3>Brand Media Section</h3>
      <br />

      <div class="form-field py-2">
        <label for="logoPhotoFileInput">Brand Logo</label>
        <div *ngIf="currentBrand?.logoPhotoUrl" class="preview">
          <h6> Current header Photo </h6>
          <img [src]="currentBrand?.logoPhotoUrl" [alt]="currentBrand?.name + ' logo'" class="img-responsive">
        </div>
        <div class="row">
          <div class="col-sm-10 col-8">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onLogoPhotoChanged($event)" #logoPhotoElementRef id="logoPhotoFileInput"
               [(ngModel)]="brand.logoPhotoFile" name="logoPhotoFile" #logoPhotoFile="ngModel">
            </div>
          </div>
          <div class="col-sm-2 col-4">
            <button class="btn btn-lg btn-danger" (click)="clearLogoPhoto()">Clear</button>
          </div>
        </div>
      </div>

      <div class="form-field py-2">
        <div *ngIf="currentBrand?.headerPhotoUrl" class="preview">
          <h6> Current header Photo </h6>
          <img [src]="currentBrand?.headerPhotoUrl" [alt]="currentBrand?.name + ' header'" class="img-responsive">
        </div>
        <label for="headerPhotoFileInput">Header photo</label>
        <div class="row">
          <div class="col-sm-10 col-8">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onHeaderPhotoChanged($event)" #headerPhotoElementRef id="headerPhotoFileInput"
                [(ngModel)]="brand.headerPhotoFile" name="headerPhotoFile" #headerPhotoFile="ngModel">
            </div>
          </div>
          <div class="col-sm-2 col-4">
            <button class="btn btn-lg btn-danger" (click)="clearHeaderPhoto()">Clear</button>
          </div>
        </div>
      </div>

      <div class="form-field py-2">
        <label for="banner1PhotoFileInput">Banner 1 Photo</label>
        <div *ngIf="currentBrand?.banner1PhotoUrl" class="preview">
          <h6> Current banner 1 Photo </h6>
          <img [src]="currentBrand?.banner1PhotoUrl" [alt]="currentBrand?.name + ' banner1'" class="img-responsive">
        </div>
        <div class="row">
          <div class="col-sm-10 col-8">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onBanner1PhotoChanged($event)" #banner1PhotoElementRef
                id="banner1PhotoFileInput" [(ngModel)]="brand.banner1PhotoFile" name="banner1PhotoFile"
                #banner1PhotoFile="ngModel">
            </div>
          </div>
          <div class="col-sm-2 col-4">
            <button class="btn btn-lg btn-danger" (click)="clearBanner1Photo()">Clear</button>
          </div>
        </div>
      </div>

      <div class="form-field py-2">
        <label for="banner2PhotoFile">Banner 2 Photo</label>
        <div *ngIf="currentBrand?.banner2PhotoUrl" class="preview">
          <h6> Current banner 2 Photo </h6>
          <img [src]="currentBrand?.banner2PhotoUrl" [alt]="currentBrand?.name + ' banner2'" class="img-responsive">
        </div>
        <div class="row">
          <div class="col-sm-10 col-8">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onBanner2PhotoChanged($event)" #banner2PhotoElementRef
                id="banner2PhotoFile" [(ngModel)]="brand.banner2PhotoFile" name="banner2PhotoFile"
                #banner2PhotoFile="ngModel">
            </div>
          </div>
          <div class="col-sm-2 col-4">
            <button class="btn btn-lg btn-danger" (click)="clearBanner2Photo()">Clear</button>
          </div>
        </div>
      </div>

      <br />
      <div style="text-align: center">
        <div class="row m-1">
          <div class="col-6">
            <button class="btn btn-lg btn btn-lg btn-success" [disabled]="!brandForm.form.valid || loading" (click)="onUpdate()">{{loading? 'loading..': 'Update'}}</button>
          </div>
          <div class="col-6">
            <button class="btn btn-lg btn btn-lg btn-danger">Delete</button>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-6">
            <button type="button" class="btn btn-lg btn btn-lg btn-warning" (click)="newBrand(); brandForm.reset()">Clear</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-lg btn btn-lg btn-info" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
