<app-header content_color="white" background_color="#000000" opacity="0"></app-header>
<!----<video class="main-vid" autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true">
  <source src="https://s3-eu-west-1.amazonaws.com/chronowiz-liv-media/home/chronowiz.mp4"
    type="video/mp4">
</video>-->
<div class="background-fallback">
  <video class="main-vid" autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source [src]="mainVideoUrl | safeUrl" type="video/mp4">
  </video>
</div>

<div class="container">
  <section>
    <h1>Brands</h1>
    <div class="search text-center mx-auto">
      <input class="search-form-input search" (input)="filterResults()" [(ngModel)]="query" type="text" placeholder="Search">
      <img class="icon" [src]="SEARCH_ICON_PATH" alt="">
    </div>
  </section>

  <section id="brandList">
    <div class="row">
      <div *ngFor='let brand of brands| slice: 0:brandsLimit' class="col-md-3 col-sm-4 col-6 py-4 text-center d-flex align-items-center">
        <a [routerLink]="['/brand/',brand?.name]" class="mx-auto">
          <img [src]="brand?.logoPhotoUrl" [alt]="brand?.name" class="img-responsive brand-img">
        </a>
      </div>
    </div>
    <div class="text-center mx-auto show-more my-4">
      <button id="showMoreBrands" class="btn primary-btn" (click)="toggleShowMore()">Show {{isShowMoreOn ? 'Less' :
        'More'}}</button>
    </div>
  </section>
  <br />
  <br />
  <br />

  <!--
   <app-social-media-section></app-social-media-section>
 -->

  <!--
  <app-footer-hero></app-footer-hero>
-->

</div>
<app-footer></app-footer>
