<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container">
    <app-form-header userType="admin"></app-form-header>

    <div class="my-5">
      <h1> Collection </h1>
    </div>

    <app-form-tabs [links]="navRoutes"></app-form-tabs>

    <div>
      <br />
      <h3>Mode</h3>
      <br />
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="resetCollection(); collectionForm.reset();" name="mode"
          value="create" [(ngModel)]="mode">
        Create
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="resetCollection(); collectionForm.reset();" name="mode"
          value="update" [(ngModel)]="mode">
        Update
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="resetCollection(); collectionForm.reset();" name="mode"
          value="delete" [(ngModel)]="mode">
        Delete
      </label>
    </div>

    <form #collectionForm="ngForm">

      <div *ngIf="mode != 'create'">
        <br />
        <h3>Select Collection</h3>
        <br />
        <div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="selectionBrand">Brand</label>
                <ng-select [items]="selectionBrands" [loading]="selectionBrands?.length === 0" name="selectionBrands"
                [(ngModel)]="selectionBrandId"  bindLabel="name" bindValue="_id" placeholder="Select brand" (change)="onSelectionBrandSelected($event?._id)">
                </ng-select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="selectionCollection">Collection</label>
          <ng-select [items]="selectionCollections" name="selectionCollection" bindLabel="name" bindValue="_id"
          [(ngModel)]="selectionCollectionId"  placeholder="Select Collection" (change)="onSelectionCollectionSelected($event?._id)">
          </ng-select>
        </div>
      </div>

      <div class="form-group" *ngIf="(mode == 'create') || (collection.brandObject)">
        <br />
        <h3>Collection Details</h3>
        <br />
        <div class="form-group">
          <label for="brandObject">Brand</label>

          <ng-select [items]="selectionBrands" [loading]="selectionBrands?.length === 0" name="brandObject"
            bindLabel="name" bindValue="_id" placeholder="Select brand" [(ngModel)]="collection.brandObject"
            #brandObject="ngModel"
            required>
          </ng-select>

          <div [hidden]="!collectionForm.submitted || brandObject.valid || brandObject.pristine" class="alert alert-danger">Brand is required</div>
        </div>

        <div class="form-group">
          <label for="name">Collection Name</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" required [(ngModel)]="collection.name"
            name="name" #name="ngModel">
          <div [hidden]="!collectionForm.submitted || name.valid || name.pristine" class="alert alert-danger">Collection Name is required</div>
        </div>

        <div class="form-group">
          <label for="name">Collection Description</label>
          <textarea [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="collection.description"
            name="description" #name="ngModel"></textarea>
        </div>

        <br />
        <h3>Discount Section</h3>
        <br />

        <div class="form-group">
          <label for="maximumDiscount">Maximum Discount</label>
          <input [disabled]="mode == 'delete' || loading" type="number" class="form-control" min="0" max="100"
            [(ngModel)]="collection.maximumDiscount" name="maximumDiscount" #maximumDiscount="ngModel">
        </div>

      </div>
      <br />
      <div style="text-align: center" *ngIf="(mode == 'create') || (collection.brandObject)">
        <div class="row m-1">
          <div class="col-6">
            <button type="submit" class="btn primary-btn btn-lg" (click)="onSubmit();" [disabled]="(!collectionForm.form.valid || loading) && (mode != 'delete')">
              {{loading? 'loading..' : mode }}
              <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-lg secondry-btn" (click)="resetCollection(); collectionForm.reset(); ">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
