<header class="header" [style.background-color]="backgroundColor">
  <div class="container">
    <div class="logo">
      <a class="nav-link" [routerLink]="brandName"><img *ngIf="_brandLogo" [ngClass]="{'logo-fix': !_brandName}" [src]="_brandLogo"
          alt="logo"></a>
    </div>
    <nav class="navbar text-center" role="navigation">
      <ul class="list-inline w-100 text-center">
        <div class="float-left text-left">
          <li class="chronowiz-logo"><a *ngIf="_brandName" [routerLink]="['/home']">
              <img *ngIf="chronoWizLogoSrc" [src]="chronoWizLogoSrc" class="img-responsive" alt="chronowiz logo">
            </a>
          </li>
          <li class="list-inline-item"><a href="javascript:void(0)" (click)="toggleNav()"> <img class="menu" [src]="navMenuOpened? menuCloseSrc : menuIconSrc"
                alt=""> </a></li>
          <li class="list-inline-item d_none"><a [routerLink]="['/search']"> <img class="icon" [src]="searchIconSrc"
                alt="">
            </a></li>
        </div>
        <div class="float-right">
          <li class="list-inline-item">
            <div (click)="openUserMenu()">
              <img class="icon" [src]="userIconSrc" alt="">
            </div>
            <div class="drop-down-menu" *ngIf="logged" [ngClass]="{'d-none': menuClosed, 'second-menu': (background_color === '#ffffff' && opacity === 100) || opacity === 0}">
              <div class="arrow-up"></div>
              <div class="drop-down-content">
                <ul>
                  <li><a [routerLink]="['/profile']"> My Account </a></li>
                  <li><a (click)="logout()"> Logout </a></li>
                </ul>
              </div>
            </div>
            <div class="drop-down-menu" *ngIf="!logged" [ngClass]="{'d-none': menuClosed, 'second-menu': (background_color === '#ffffff' && opacity === 100) || opacity === 0}">
              <div class="arrow-up"></div>
              <div class="drop-down-content">
                <ul>
                  <li><a [routerLink]="['/login']"> User login </a></li>
                  <li><a [routerLink]="['/retailer']"> Retail partner </a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list-inline-item search-icon"><a [routerLink]="['/search']"> <img class="icon" [src]="searchIconSrc"
                alt="">
            </a></li>
          <li class="list-inline-item"><a [routerLink]="['/watch-tray']"> <img class="icon" [src]="paperBagIconSrc" alt="">
              <div class="tray-notify" *ngIf="numberOfWatchesInTheWatchTray > 0">
                {{numberOfWatchesInTheWatchTray}}
              </div>
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </div>

  <div *ngIf="breads">
    <app-breadcrumb [breads]="breads" [content_color]="content_color"></app-breadcrumb>
  </div>

</header>
<div *ngIf="(!noHeightFix)" class="fix-height"></div>
<app-side-menu [dark]="content_color === 'dark'"></app-side-menu>
