<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container">
    <app-form-header userType="admin"></app-form-header>

    <div class="my-5">
      <h1> Watch </h1>
    </div>

    <app-form-tabs [links]="navRoutes"></app-form-tabs>

    <div>
      <br />
      <h3>Mode</h3>
      <br />
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="watchForm.reset(); resetWatch()" name="mode" value="create"
          [(ngModel)]="mode">
        Create
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="watchForm.reset(); resetWatch()" name="mode" value="update"
          [(ngModel)]="mode">
        Update
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="watchForm.reset(); resetWatch()" name="mode" value="delete"
          [(ngModel)]="mode">
        Delete
      </label>
    </div>
    <form #watchForm="ngForm">

      <div *ngIf="mode != 'create'">
        <br />
        <h3>Select Watch by Brand & Collection</h3>
        <br />

        <div class="form-group">
          <label for="selectionBrand">Brand</label>
          <ng-select [items]="selectionBrands" [loading]="selectionBrands?.length === 0" name="selectionBrands"
           [(ngModel)]="selectionBrandId"  bindLabel="name" bindValue="_id" placeholder="Select brand" (change)="onBrandSelection($event?._id)">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="selectionCollection">Collection</label>
          <ng-select [items]="selectionCollections" name="selectionCollection" bindLabel="name" bindValue="_id"
            [(ngModel)]="selectionCollectionId" placeholder="Select collection" (change)="onCollectionSelection($event?._id)">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="selectionWatch">Watch</label>
          <ng-select [items]="selectedCollection?.watchObjects" name="selectionWatch" bindLabel="referenceNumber"
          [(ngModel)]="selectionCollectionRef" bindValue="referenceNumber" placeholder="Select watch" (change)="onWatchSelection($event?.referenceNumber)">
          </ng-select>
        </div>

        <div>
          <br />
          <h3>Select Watch By Reference Number</h3>
          <br />
        </div>

        <div class="row">
          <div class="col-sm-8 col-6">
            <div class="form-group">
              <input type="text" class="form-control" id="watchInputReferenceNumber" [(ngModel)]="selectionWatchReferenceNumber"
                name="watchInputReferenceNumber" #watchInputReferenceNumber="ngModel">
            </div>
          </div>
          <div class="col-sm-4 col-6">
            <button class="btn btn-lg primary-btn" (click)="onWatchSelection(selectionWatchReferenceNumber)">Search</button>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="(mode == 'create') || (watch.referenceNumber)">

        <br />
        <h3>Watch Details</h3>
        <br />


        <div class="form-group">
          <label for="watchBrand">Watch Brand</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="selectionBrands" [loading]="selectionBrands?.length === 0"
            #BrandName="ngModel" name="BrandName" required bindLabel="name" bindValue="_id" placeholder="Select brand"
            [ngModel]="watch?.brandObject?._id" (change)="onWatchBrandSelectiond(watch?.brandObject?._id)"
            (ngModelChange)="watch.brandObject._id = $event">
          </ng-select>
          <div [hidden]="!watchForm.submitted || BrandName.valid || BrandName.pristine" class="alert alert-danger">
            Brand name is required
          </div>
        </div>


        <div class="form-group">
          <label for="collectionName">Collection</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="watchCollections" #collectionName="ngModel" name="collectionName"
            bindLabel="name" bindValue="_id" placeholder="Select collection" [ngModel]="watch?.collectionObject?._id"
            (ngModelChange)="watch.collectionObject._id = $event">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="model">Model</label>
          <input [disabled]="mode == 'delete' || loading" type="text" [value]="watch.model? watch?.model : ''" class="form-control"
            id="model" [(ngModel)]="watch.model" name="model" #model="ngModel">
        </div>

        <div class="form-group">
          <label for="referenceNumber">Reference number</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.referenceNumber"
            required name="referenceNumber" #referenceNumber="ngModel">
          <div [hidden]="!watchForm.submitted || referenceNumber.valid || referenceNumber.pristine" class="alert alert-danger">Reference Number
            is required
          </div>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <ng-select [items]="genderOptions" #gender="ngModel" name="gender" bindLabel="name" bindValue="name" [addTag]="addCustomOption"
            [ngModel]="watch?.gender" (ngModelChange)="watch.gender = $event">
          </ng-select>
        </div>


        <div class="form-group">
          <label for="productionYear">Production Year</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.productionYear"
            name="productionYear" #productionYear="ngModel">
        </div>

        <div class="form-group">
          <label for="limited">Limited</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.limited"
            name="limited" #limited="ngModel">
        </div>


        <div class="form-group">
          <label for="awards">awards</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="awardsOptions" #awards="ngModel" name="awards"
            bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.awards" (ngModelChange)="watch.awards = $event">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="perpetual">Perpetual</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.perpetual"
            name="perpetual" #perpetual="ngModel">
        </div>

        <br />
        <h3>Movement Section</h3>
        <br />

        <div class="form-group">
          <label for="movementCaliberName">Movement Caliber Name</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementCaliberName"
            name="movementCaliberName" #movementCaliberName="ngModel">
        </div>


        <div class="form-group">
          <label for="movementAutomaticOrManual">Movement Automatic or Manual</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="movementAutomaticOrManualOptions"
            #movementAutomaticOrManual="ngModel" name="movementAutomaticOrManual" bindLabel="name" bindValue="name"
            [addTag]="addCustomOption" [ngModel]="watch?.movementAutomaticOrManual" (ngModelChange)="watch.movementAutomaticOrManual = $event">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="movementCaliberNumber">Movement Caliber Number</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementCaliberNumber"
            name="movementCaliberNumber" #movementCaliberNumber="ngModel">
        </div>

        <div>
          <label for="movementDiameter">Movement Diameter</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementDiameter"
                  name="movementDiameter" #movementDiameter="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="units">mm</div>
            </div>
          </div>
        </div>

        <div>
          <label for="movementHeight">Movement Height</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementHeight"
                  name="movementHeight" #movementHeight="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="units">mm</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="movementJewels">Movement Jewels</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementJewels"
            name="movementJewels" #movementJewels="ngModel">
        </div>

        <div>
          <label for="movementFrequency">Movement Frequency</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementFrequency"
                  name="movementFrequency" #movementFrequency="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="units">vph</div>
            </div>
          </div>
        </div>

        <div>
          <label for="movementPowerReserve">Movement Power Reserve</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementPowerReserve"
                  name="movementPowerReserve" #movementPowerReserve="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="units">h</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="movementCertificate">Movement Certificate</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="movementCertificateOptions" #movementCertificate="ngModel"
            name="movementCertificate" bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.movementCertificate"
            (ngModelChange)="watch.movementCertificate = $event">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="movementDecoration">Movement Decoration</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="movementDecorationOptions" #movementDecoration="ngModel"
            name="movementDecoration" bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.movementDecoration"
            (ngModelChange)="watch.movementDecoration = $event">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="movementSpring">Movement Spring</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementSpring"
            name="movementSpring" #movementSpring="ngModel">
        </div>

        <div class="form-group">
          <label for="movementTourbillon">Movement Tourbillon</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="movementTourbillonOptions" #movementTourbillon="ngModel"
            name="movementTourbillon" bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.movementTourbillon"
            (ngModelChange)="watch.movementTourbillon = $event">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="movementRotor">Movement Rotor</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementRotor"
            name="movementRotor" #movementRotor="ngModel">
        </div>

        <div>
          <label for="movementAdditionalFeatures">Movement Additional Features</label>
          <div class="row">
            <div class="col-sm-10 col-6" *ngFor="let movementAdditionalFeature of watch.movementAdditionalFeatures; let in = index">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.movementAdditionalFeatures[in].value"
                  name="movementAdditionalFeatures{{in}}" #movementAdditionalFeatures="ngModel">
              </div>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg primary-btn" (click)="addMovementAdditionalFeatures()">+</button>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg secondry-btn" (click)="removeMovementAdditionalFeatures()">-</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="numberOfParts">Number of Parts</label>
          <input [disabled]="mode == 'delete' || loading" type="number" class="form-control" [(ngModel)]="watch.movementNumberOfParts"
            name="numberOfParts" #numberOfParts="ngModel">
        </div>

        <br />
        <h3>Complications Section</h3>
        <br />

        <div>
          <label for="complications">Complications</label>
          <div class="row">
            <div class="col-sm-10 col-6" *ngFor="let complication of watch?.complications; let in=index">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.complications[in].value"
                  name="complications{{in}}" #complications="ngModel">
              </div>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg primary-btn" (click)="addComplication()">+</button>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg secondry-btn" (click)="removeComplication()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Functions Section</h3>
        <br />

        <div>
          <label for="functions">Functions</label>
          <div class="row">
            <div class="col-sm-10 col-6 float-left" *ngFor="let function of watch?.functions; let in=index">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.functions[in].value"
                  name="functions{{in}}" #functions="ngModel">
              </div>
            </div>
            <div class="col-sm-1 col-3 float-right">
              <button class="btn btn-lg primary-btn" (click)="addFunctions()">+</button>
            </div>
            <div class="col-sm-1 col-3 float-right">
              <button class="btn btn-lg secondry-btn" (click)="removeFunctions()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Case Section</h3>
        <br />

        <div class="form-group">
          <label for="caseMaterial">Case Material</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.caseMaterial"
            name="caseMaterial" #caseMaterial="ngModel">
        </div>

        <div>

          <label for="caseDiameter">Case Diameter</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.caseDiameter"
                  name="caseDiameter" #caseDiameter="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="units">mm</div>
            </div>
          </div>
        </div>

        <div>
          <label for="caseHeight">Case Height</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.caseHeight"
                  name="caseHeight" #caseHeight="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="units">mm</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="caseFront">Case Front</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="caseFrontOptions" #caseFront="ngModel" name="caseFront"
            bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.caseFront" (ngModelChange)="watch.caseFront = $event">
          </ng-select>
        </div>


        <div class="form-group">
          <label for="caseBack">Case Front</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="caseBackOptions" #caseBack="ngModel" name="caseBack"
            bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.caseBack" (ngModelChange)="watch.caseBack = $event">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="caseBezelMaterial">Case Bezel Material</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.caseBezelMaterial"
            name="caseBezelMaterial" #caseBezelMaterial="ngModel">
        </div>

        <div>
          <label for="waterResistance">Water Resistance</label>
          <div class="row">
            <div class="col-sm-1 col-32">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.waterResistance"
                  name="waterResistance" #waterResistance="ngModel">
              </div>
            </div>
          </div>
        </div>

        <div>
          <label for="waterProof">Water Proof</label>
          <div class="row">
            <div class="col-sm-1 col-32">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.waterProof"
                  name="waterProof" #waterProof="ngModel">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="caseCrown">Case Crown</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="caseCrownOptions" #caseCrown="ngModel" name="caseCrown"
            bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.caseCrown" (ngModelChange)="watch.caseCrown = $event">
          </ng-select>
        </div>

        <div>
          <label for="caseAdditionalFeatures">Case Additional Features</label>
          <div class="row">
            <div class="col-sm-10 col-6" *ngFor="let caseAdditionalFeature of watch.caseAdditionalFeatures; let in = index">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.caseAdditionalFeatures[in].value"
                  name="caseAdditionalFeatures{{in}}" #caseAdditionalFeatures="ngModel">
              </div>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg primary-btn" (click)="addCaseAdditionalFeatures()">+</button>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg secondry-btn" (click)="removeCaseAdditionalFeatures()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Dial Section</h3>
        <br />

        <div class="form-group">
          <label for="dialColour">Dial Colour</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.dialColour"
            name="functions" #dialColour="ngModel">
        </div>

        <div class="form-group">
          <label for="dialIndex">Dial Index</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="dialIndexOptions" #dialIndex="ngModel" name="dialIndex"
            bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.dialIndex" (ngModelChange)="watch.dialIndex = $event">
          </ng-select>
        </div>

        <div class="form-group">
          <label for="dialFinish">Dial Finish</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.dialFinish"
            name="dialFinish" #dialFinish="ngModel">
        </div>

        <div class="form-group">
          <label for="dialType">Dial Type</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.dialType"
            name="dialType" #dialType="ngModel">
        </div>

        <div class="form-group">
          <label for="dialIndex">Dial Hands</label>
          <ng-select [disabled]="mode == 'delete' || loading" [items]="dialHandsOptions" #dialHands="ngModel" name="dialHands"
            bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.dialHands" (ngModelChange)="watch.dialHands = $event">
          </ng-select>
        </div>

        <div>
          <label for="dialAdditionalFeatures">Dial Additional Features</label>
          <div class="row">
            <div class="col-sm-10 col-6" *ngFor="let dialAdditionalFeature of watch.dialAdditionalFeatures; let in = index">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.dialAdditionalFeatures[in].value"
                  name="dialAdditionalFeatures{{in}}" #dialAdditionalFeatures="ngModel">
              </div>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg primary-btn" (click)="addDialAdditionalFeatures()">+</button>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg secondry-btn" (click)="removeDialAdditionalFeatures()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Band Section</h3>
        <br />

        <div class="form-group">
          <label for="band">Band</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.band"
            name="band" #band="ngModel">
        </div>

        <div class="form-group">
          <label for="bandMaterial">Band Material</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.bandMaterial"
            name="bandMaterial" #bandMaterial="ngModel">
        </div>

        <div class="form-group">
          <label for="bandClasp">Band Clasp</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.bandClasp"
            name="bandClasp" #bandClasp="ngModel">
        </div>

        <div class="form-group">
          <label for="bandColour">Band Colour</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.bandColour"
            name="bandColour" #bandColour="ngModel">
        </div>

        <div class="form-group">
          <label for="bandClaspMaterial">Band Clasp Material</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.bandClaspMaterial"
            name="bandClaspMaterial" #bandClaspMaterial="ngModel">
        </div>

        <div>
          <label for="bandAdditionalFeatures">Band Additional Features</label>
          <div class="row">
            <div class="col-sm-10 col-6" *ngFor="let bandAdditionalFeature of watch.bandAdditionalFeatures; let in=index">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.bandAdditionalFeatures[in].value"
                  name="bandAdditionalFeatures{{in}}" #bandAdditionalFeatures="ngModel">
              </div>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg primary-btn" (click)="addBandAdditionalFeatures()">+</button>
            </div>
            <div class="col-sm-1 col-3">
              <button class="btn btn-lg secondry-btn" (click)="removeBandAdditionalFeatures()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Price Section</h3>
        <br />

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="price">Price</label>
              <input [disabled]="mode == 'delete' || loading" type="number" class="form-control" [(ngModel)]="watch.price"
                name="price" #price="ngModel">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="priceCurrency">Price Currency</label>
              <ng-select [disabled]="mode == 'delete' || loading" [items]="priceCurrencyOptions" #priceCurrency="ngModel"
                name="priceCurrency" bindLabel="name" bindValue="name" [addTag]="addCustomOption" [ngModel]="watch?.priceCurrency"
                (ngModelChange)="watch.priceCurrency = $event">
              </ng-select>
            </div>
          </div>
        </div>

        <br />
        <h3>Media Section</h3>
        <br />

        <div>
          <label for="mainPhotoFileInput">Main Photo</label>
          <p class="muted text-left m-0 p-0"> Width: 360px x Height: 560px (or 720x1120)</p>
          <div *ngIf="watch?.mainPhotoUrl" class="preview">
            <h6> Current Main Photo </h6>
            <img [src]="watch?.mainPhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.mainPhotoFile}" [disabled]="mode == 'delete' || loading" type="file"
                  class="form-control" (change)="onMainPhotoChanged($event)" #mainPhotoElementRef [(ngModel)]="watch.mainPhotoFile"
                  name="mainPhotoFile" #mainPhotoFile="ngModel">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearMainPhoto()">Clear</button>
            </div>
          </div>
        </div>

        <div>
          <label for="banner1PhotoFileInput">Banner 1 Photo </label>
          <p class="muted text-left m-0 p-0"> Width: 1920px x Height: 450px </p>
          <div *ngIf="watch?.banner1PhotoUrl" class="preview">
            <h6> Current Banner 1 Photo </h6>
            <img [src]="watch?.banner1PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.banner1PhotoFile}" [disabled]="mode == 'delete' || loading" type="file"
                  class="form-control" (change)="onBanner1PhotoChanged($event)" #banner1PhotoElementRef [(ngModel)]="watch.banner1PhotoFile"
                  name="banner1PhotoFile" #banner1PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearBanner1Photo()">Clear</button>
            </div>
          </div>
        </div>

        <div>
          <label for="banner2PhotoFile">Banner 2 Photo</label>
          <p class="muted text-left m-0 p-0"> Width: 1920px x Height: 300px </p>
          <div *ngIf="watch?.banner2PhotoUrl" class="preview">
            <h6> Current Banner 2 Photo </h6>
            <img [src]="watch?.banner2PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.banner2PhotoFile}" [disabled]="mode == 'delete' || loading" type="file"
                  class="form-control" (change)="onBanner2PhotoChanged($event)" #banner2PhotoElementRef [(ngModel)]="watch.banner2PhotoFile"
                  name="banner2PhotoFile" #banner2PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearBanner2Photo()">Clear</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Section 1</h3>
        <br />

        <div class="form-group">
          <label for="section1Title">Section 1 Title</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.section1Title"
            name="section1Title" #section1Title="ngModel">
        </div>

        <div class="form-group">
          <label for="section1Paragraph">Section 1 Paragraph</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.section1Paragraph"
            name="section1Paragraph" #section1Paragraph="ngModel">
        </div>

        <div>
          <label for="section1PhotoFileInput">Section 1 Photo</label>
          <p class="muted text-left m-0 p-0"> Width: 1000px x Height: 1000px </p>
          <div *ngIf="watch?.section1PhotoUrl" class="preview">
            <h6> Current Section 1 Photo </h6>
            <img [src]="watch?.section1PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.section1PhotoFile}" [disabled]="mode == 'delete' || loading"
                  type="file" class="form-control" (change)="onSection1PhotoChanged($event)" #section1PhotoElementRef
                  [(ngModel)]="watch.section1PhotoFile" name="section1PhotoFile" #section1PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearSection1Photo()">Clear</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Section 2</h3>
        <br />

        <div class="form-group">
          <label for="section2Title">Section 2 Title</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.section2Title"
            name="section2Title" #section2Title="ngModel">
        </div>

        <div class="form-group">
          <label for="section2Paragraph">Section 2 Paragraph</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.section2Paragraph"
            name="section2Paragraph" #section2Paragraph="ngModel">
        </div>

        <div>
          <label for="section2PhotoFileInput">Section 2 Photo</label>
          <p class="muted text-left m-0 p-0"> Width: 1000px x Height: 1000px </p>
          <div *ngIf="watch?.section2PhotoUrl" class="preview">
            <h6> Current Section 2 Photo </h6>
            <img [src]="watch?.section2PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.section2PhotoFile}" [disabled]="mode == 'delete' || loading"
                  type="file" class="form-control" (change)="onSection2PhotoChanged($event)" #section2PhotoElementRef
                  [(ngModel)]="watch.section2PhotoFile" name="section2PhotoFile" #section2PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearSection2Photo()">Clear</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Section 3</h3>
        <br />

        <div class="form-group">
          <label for="section3Title">Section 3 Title</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.section3Title"
            name="section3Title" #section3Title="ngModel">
        </div>

        <div class="form-group">
          <label for="section3Paragraph">Section 3 Paragraph</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.section3Paragraph"
            name="section3Paragraph" #section3Paragraph="ngModel">
        </div>

        <div>
          <label for="section3PhotoFileInput">Section 3 Photo</label>
          <p class="muted text-left m-0 p-0"> Width: 1000px x Height: 1000px </p>
          <div *ngIf="watch?.section3PhotoUrl" class="preview">
            <h6> Current Section 3 Photo </h6>
            <img [src]="watch?.section3PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.section3PhotoFile}" [disabled]="mode == 'delete' || loading"
                  type="file" class="form-control" (change)="onSection3PhotoChanged($event)" #section3PhotoElementRef
                  [(ngModel)]="watch.section3PhotoFile" name="section3PhotoFile" #section3PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <div class="form-group">
                <button class="btn btn-lg secondry-btn" (click)="clearSection3Photo()">Clear</button>
              </div>
            </div>
          </div>
        </div>

        <br />
        <h3>Section 4</h3>
        <br />

        <div class="form-group">
          <label for="section4Title">Section 4 Title</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.section4Title"
            name="section4Title" #section4Title="ngModel">
        </div>

        <div class="form-group">
          <label for="section4Paragraph">Section 4 Paragraph</label>
          <input [disabled]="mode == 'delete' || loading" type="text" class="form-control" [(ngModel)]="watch.section4Paragraph"
            name="section4Paragraph" #section4Paragraph="ngModel">
        </div>

        <div>
          <label for="section4PhotoFileInput">Section 4 Photo</label>
          <p class="muted text-left m-0 p-0"> Width: 1000px x Height: 1000px </p>
          <div *ngIf="watch?.section4PhotoUrl" class="preview">
            <h6> Current Section 4 Photo </h6>
            <img [src]="watch?.section4PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.section4PhotoFile}" [disabled]="mode == 'delete' || loading"
                  type="file" class="form-control" (change)="onSection4PhotoChanged($event)" #section4PhotoElementRef
                  [(ngModel)]="watch.section4PhotoFile" name="section4PhotoFile" #section4PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <div class="form-group">
                <button class="btn btn-lg secondry-btn" (click)="clearSection4Photo()">Clear</button>
              </div>
            </div>
          </div>
        </div>

        <br />
        <h3>Discount Section</h3>
        <br />

        <div class="form-group">
          <label for="maximumDiscount">Maximum Discount</label>
          <input [disabled]="mode == 'delete' || loading" type="number" class="form-control" min="0" max="100"
            [(ngModel)]="watch.maximumDiscount" name="maximumDiscount" #maximumDiscount="ngModel">
        </div>

      </div>



      <br />

      <div style="text-align: center" *ngIf="(mode == 'create') || (watch.referenceNumber)">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn primary-btn btn-lg" (click)="onSubmit()" [disabled]="!watchForm.form.valid || loading">
              {{loading ? 'loading..' : mode }}
              <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-lg secondry-btn" (click)="resetWatch(); watchForm.reset()">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
