.hero
  height: 520px;
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;

.large
  height: 570px;

.background-top
  background-position-y: -150px !important;

@media only screen and (min-width: 576px) and (max-width: 768px)
  .hero
    height: 400px !important;
  .background-top
    background-position-y: center !important;

@media only screen and (max-width: 576px)
  .hero
    height: 340px !important;
  .background-top
    background-position-y: center !important;
  .background-sm-left
    background-position-x: -88px !important;

@media only screen and (min-width: 1600px) and (min-height: 900px)
  .hero
    height: 700px !important;
