<app-header [bg_white]="true"></app-header>
<div class="container-fluid water mb-5 mt-3">
  <div class="sassy-text text-center">Water Resistance</div>
  <h1> Education </h1>
  <div class="hero mb-2 row">
    <div class="col-md-6 col-12 align-self-center">
      <div class="content">
        <div class="sassy-text mb-3">Introduction:</div>
        <p class="muted">
          A watch rated as Water Resistant may come in contact with water to a predetermined extent. Most watches are
          classified by the degree until which depth of immersion is safe. It is important to remember that a water
          resistant rating is based upon optimum conditions in a laboratory. Real life experience and aging of the
          gaskets will effectively decrease the manufacturer's specifications of water resistance over time. Water
          coming in contact with the movement is the worst scenario that can happen to a watch. Thus, we strongly
          suggest that you always work well within the parameters of the manufacturer's recommendations and have your
          watch tested at least once a year. Any competent watchmaker has the necessary equipment to test water
          resistance.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row my-5">
      <div class="col-12">
        <div class="water-resistance-factors text-center">
          <h5>Water Resistance Factors:</h5>
          <p class="text-center">
            The water resistance on a watch is obtained by three important factors:
          </p>
          <hr>
          <img src="../../../../assets/water/1.png" class="img-responsive" alt="watch water resistance image">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-12 align-self-center text-center p-0">
      <img src="../../../../assets/water/2.png" class="img-responsive" alt="watch water resistance image">
    </div>
    <div class="col-md-6 col-12 align-self-center">
      <div class="content">
        <div class="sassy-text mb-3">1 step</div>
        <h5>CASE BACK</h5>
        <p>This refers to how the case back is attached to the watch. Snap-on case backs are sealed by pressure and are
          considered the least water resistant. The slightest nick in a case or deformity in a gasket (which will
          happen
          over time) will allow water to penetrate the case. Generally, these watches will have a water resistance of
          30m/99ft maximum - which allows for contact with water but not immersion.
        </p>
        <br>
        <p>Case-backs attached with screws would be the second level of water resistance. Having the case back attached
          with screws allows for a much tighter seal than a snap-on case back, however a deformity in the gasket will
          still allow water to penetrate. Generally, these watches will have a water resistance of 100m/330ft maximum -
          which allows for light swimming and immersion in a pool.
        </p>
        <br>
        <p>
          Screw-in case backs are threaded and screwed into the actual case. This creates a double seal, using both the
          threading and the gasket as a seal. Generally, (although not as a rule) diving watches with water resistant
          ratings greater than 100m/330ft will have this type of case back.
        </p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-12 align-self-center p-0 text-center order-md-1 order-0">
      <img src="../../../../assets/water/3.png" class="img-responsive" alt="watch water resistance image">
    </div>
    <div class="col-md-6 col-12 align-self-center order-md-0 order-1">
      <div class="content">
        <div class="sassy-text mb-3">2 step</div>
        <h5>CASE BACK</h5>
        <p>The single most important factor to ensuring water resistance. The weakest part of a watch for water to
          penetrate is the crown-stem hole. The stem of the crown is attached to the movement through a hole in the
          case edge. As the crown is constantly moved to different positions, wound and turned to correct the time, the
          gasket is constantly compressed, chafed and stressed. The slightest variation in the shape of the gasket or
          if the crown is not pushed all the way in will allow water to penetrate the watch through the stem hole.
        </p>
        <br>
        <p>Screw-Down Crowns are threaded and screw shut to a matching threaded tube in the case. The crown has a
          gasket that is compressed and seals the opening when the crown is tightened - thus ensuring water resistance.
          A screw-down crown is an essential feature for any watch you intend on swimming with. We do not recommend
          swimming with a watch that does not have a screw-down crown. However, even if the watch has screw-down crown
          and chronograph pushers, the crown and pushers are never to be pushed, adjusted or opened when the watch is
          immersed in water - unless otherwise stated by the manufacturer. An additional benefit of the screw-down
          crown is that the crown is somewhat more protected from accidental knocks.
        </p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-12 align-self-center p-0 text-center">
      <img src="../../../../assets/water/4.png" class="img-responsive" alt="watch water resistance image">
    </div>
    <div class="col-md-6 col-12 align-self-center">
      <div class="content">
        <div class="sassy-text mb-3">3 step</div>
        <h5>GASKETS</h5>
        <p>Also known as "O" rings, are made of rubber, nylon or Teflon which form watertight seals at the joints where
          the crystal, case back and crown meet the watch case. If the watch is a chronograph, the chronograph pushers
          will also have gaskets.
        </p>
        <br>
        <p>Gaskets begin to erode and break down over time, diminishing the water resistance of a watch. It is
          important to test your watch once a year for water resistance. Any competent watch maker should have the
          necessary basic equipment to test the watch - the cost involved should be minimal.
        </p>
      </div>
    </div>
  </div>

  <div class="row my-5 p-0">
    <div class="col-12 text-center text-center">
      <img src="../../../../assets/water/5.png" class="img-responsive" alt="watch water resistance image">
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-md-6 col-12 align-self-center p-0"></div>
    <div class="col-md-6 col-12 align-self-center">
      <div class="content">
        <div class="sassy-text mb-5">Real Life Applications and Water Resistance</div>
        <p>When a watch is tested by the manufacturer it is done in a laboratory under optimum conditions, such as a
          fresh gasket, sitting stationary in a pressured water tank and with still/motionless water. However, real
          life action will produce completely different results. Here are a few scenarios:
        </p>
        <br>
        <ol>
          <li>
            Water temperatures in a hot-tub or a hot shower will effect the shape of the gasket seals.
            Especially if the watch is taken from hot temperatures and immediately plunged into cold water - such as
            going from a hot-tub into a pool.
          </li>
          <li>
            Sudden and rapid changes in pressure - such as diving (even shallow diving) into a pool, the force of
            plunging your arm into the water while swimming, will stress the gaskets for a fraction of a second. If
            the gaskets are not up to specification they may rupture and cause the watch to take in water.
          </li>
          <li>
            As the watch ages the seals begin to erode and will not maintain the same water resistance levels.
          </li>
        </ol>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-12 align-self-center p-0 order-1"></div>
    <div class="col-md-6 col-12 align-self-center order-0">
      <div class="content">
        <div class="sassy-text mb-5">Water Resistance vs. Water-Proof</div>
        <p>
          The U.S. FTC (Federal Trade Commission) which enforces the truth-of-advertising has deemed the term
          "Waterproof" inappropriate. In their opinion, a watch can never be 100% truly impervious to water, as the
          gaskets deteriorate over time and exposure, thus reducing the specified depth of water resistance. In the
          words of the FTC "The word proof connotes a measure of absolute protection that unfortunately does not exist
          with respect to watches, especially over prolonged periods of time." The FTC has found the term Water
          Resistant to be more appropriate.
        </p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-12 align-self-center p-0"></div>
    <div class="col-md-6 col-12 align-self-center">
      <div class="content">
        <div class="sassy-text mb-3">Water Resistance Testing Methods</div>
        <p>There are 2 commonly used water-resistance testing methods:
        </p>
        <br>
        <ul>
          <li>
            Dry Test: The watch is placed in a chamber and the air-pressure is increased. The machine detects the
            smallest variation in the case size. If the case expands, even slightly, then the watch is not water
            resistant.
          </li>
          <li>
            Wet Test: the watch is placed in a chamber which is half filled with water and half air. Air pressure is
            increased while the watch is out of the water, then the watch is slowly immersed into the water. Once the
            watch is completely immersed, the air pressure is slowly released. If bubbles come out of the watch it
            means that air seeped into the watch prior to immersion AND the watch is not water resistant. This method
            is generally used as a second test to pin-point the problem area.
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="bottom-hero my-5 row">
    <div class="col-md-6 col-12 align-self-center">
      <div class="content">
        <h5>ATM or BAR</h5>
        <p>
          ATM is short for "Atmosphere" which is equal to 10 meters. Another word for ATM which is commonly used in
          Europe is BAR - this too is equal to 10 meters.
        </p>
      </div>
    </div>
  </div>


  <div class="row my-4">
    <div class="col-md-6 col-12 align-self-center p-0 text-center">
      <img src="../../../../assets/water/7.png" class="img-responsive" alt="watch water resistance image">
    </div>
    <div class="col-md-6 col-12 align-self-center">
      <div class="content">
        <h5 class="my-5">Helium Escapement Valve</h5>
        <p>
          The Helium Escape/Relief Valve is used only in extreme deep diving expeditions when a diver operates from a
          diving bell. As the bell is lowered pressure begins to increases and helium is added to the breathing mix.
          The helium is added to remove toxic air created by the extreme depth.
        </p>
        <br>
        <p>
          Helium is one of the smallest molecules and will seep into the watch through the seals until the air pressure
          in the watch equals the air pressure in the diving bell. As the diving bell surfaces and decompresses, the
          helium needs to escape from the watch at the same speed as the decompression - otherwise the pressure in the
          watch will pop the crystal off. To avoid that, Omega developed the helium escape valve which allows the
          helium to escape faster than it seeps in. Many brands use the escape valve in one design or another.
          Generally, the escape valve can be found on watches which have a water resistance rating of 300m or greater.
        </p>
        <br>
        <p>
          The helium escape valve never needs to be used in regular scuba diving unless diving in a controlled
          environment as described above
        </p>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-5">Interpretation of the Depth Ratings</h5>
        <p>
          Although a watch may be rated 30m/99ft water resistant, it does NOT mean that the watch can be immersed to
          that depth. The depth rating posted by the manufacturer is theoretical in nature and can only be achieved in
          a perfectly optimum environment of a laboratory - which is impossible to replicate in real life.
        </p>
        <br>
        <p>
          Obviously, the higher the rating, the more appropriate the watch is for deeper diving.
        </p>
        <br>
        <div class="sassy-text">Important: </div>
        <p>We strongly recommend purchasing a watch with a screw-down crown if you intend on wearing the watch while
          you are in contact with water.</p>
      </div>
    </div>
  </div>

  <div class="guide container my-5">
    <div class="row">
      <div class="col-12">
        <div class="guide-title">
          WATER RESISTANCE GUIDE
        </div>
        <hr>

        <div class="row my-2">
          <div class="col-md-4 col-12 align-self-center order-md-0 order-0">
            <p class="muted">
              No Rating - 30m/99ft
            </p>
          </div>
          <div class="col-md-4 col-12 align-self-center text-center order-md-1 order-2">
            <img src="../../../../assets/water/water-resistance-1.png" alt="" class="img-responsive">
          </div>
          <div class="col-md-4 col-12 align-self-center order-md-2 order-1">
            <p class="muted">
              Does not allow contact with water
            </p>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-md-4 col-12 align-self-center order-md-0 order-0">
            <p class="muted">
              30m/99ft - 50m/165ft
            </p>
          </div>
          <div class="col-md-4 col-12 align-self-center text-center order-md-1 order-2">
            <img src="../../../../assets/water/water-resistance-2.png" alt="" class="img-responsive">
          </div>
          <div class="col-md-4 col-12 align-self-center order-md-2 order-1">
            <p class="muted">
              Contact with water such as washing hands and rain
            </p>
          </div>
        </div>


        <div class="row my-2">
          <div class="col-md-4 col-12 align-self-center order-md-0 order-0">
            <p class="muted">
              50m/165ft - 100m/330ft
            </p>
          </div>
          <div class="col-md-4 col-12 align-self-center text-center order-md-1 order-2">
            <img src="../../../../assets/water/water-resistance-3.png" alt="" class="img-responsive">
          </div>
          <div class="col-md-4 col-12 align-self-center order-md-2 order-1">
            <p class="muted">
              Light poolside swimming
            </p>
          </div>
        </div>


        <div class="row my-2">
          <div class="col-md-4 col-12 align-self-center order-md-0 order-0">
            <p class="muted">
              100m/330ft - 200m/660ft
            </p>
          </div>
          <div class="col-md-4 col-12 align-self-center text-center order-md-1 order-2">
            <img src="../../../../assets/water/water-resistance-4.png" alt="" class="img-responsive">
          </div>
          <div class="col-md-4 col-12 align-self-center order-md-2 order-1">
            <p class="muted">
              Swimming, snorkeling, showering (no hot water)
            </p>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-md-4 col-12 align-self-center order-md-0 order-0">
            <p class="muted">
              200m/660ft - 500m/1650ft
            </p>
          </div>
          <div class="col-md-4 col-12 align-self-center text-center order-md-1 order-2">
            <img src="../../../../assets/water/water-resistance-5.png" alt="" class="img-responsive">
          </div>
          <div class="col-md-4 col-12 align-self-center order-md-2 order-1">
            <p class="muted">
              Impact water sports such as board diving and scuba diving
            </p>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-md-4 col-12 align-self-center order-md-0 order-0">
            <p class="muted">
              500m/1650ft+
            </p>
          </div>
          <div class="col-md-4 col-12 align-self-center text-center order-md-1 order-2">
            <img src="../../../../assets/water/water-resistance-6.png" alt="" class="img-responsive">
          </div>
          <div class="col-md-4 col-12 align-self-center order-md-2 order-1">
            <p class="muted">
              Appropriate for serious deep water diving.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 col-12 align-self-center p-0 order-1 text-center">
        <img src="../../../../assets/water/8.png" class="img-responsive" alt="watch water resistance image">
      </div>
      <div class="col-md-6 col-12 align-self-center order-0">
        <div class="content">
          <h5 class="mb-5">Our Recommendations:</h5>
          <p>
            Have your watch water-tested once a year.
            Do not shower or swim with your watch unless it is rated 100m/330ft and has a screw-down crown.
            Never open, wind or operate the crown while in water.
            Never press the buttons of a chronograph watch while in water, unless otherwise stated by the
            manufacturer.
            Do not subject your watch to extreme temperature changes.
            Do not subject your watch to sudden and rapid air-pressure changes.
            Do not allow your watch to come in contact with corrosive chemicals, such as abrasive soaps and highly
            chlorinated water.
            Ensure that the crown is always pushed in, and if you have a screw-down crown, make sure it is always
            tightened. Double-check before immersing in water.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12 text-center p-0">
      <img src="../../../../assets/water/9.png" alt="watch water resistance image" class="img-responsive">
    </div>
  </div>


  <div class="row">
    <div class="col-12 text-center other-topics">
      <div class="sassy-text text-center">Education</div>
      <div class="guide-title">
        other topics
      </div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-carousel len="4" elementsPerLg="4" elementsPerMd="2">
        <div class="col-md-3 col-6 active-topic">
          <img src="../../../../assets/water/10.png" class="img-responsive" alt="Water Resistance">
          <p>Water Resistance</p>
        </div>
        <div class="col-md-3 col-6">
          <img src="../../../../assets/water/11.png" class="img-responsive" alt="Watch winders">
          <p>Watch winders</p>
        </div>
        <div class="col-md-3 col-6">
          <img src="../../../../assets/water/12.png" class="img-responsive" alt="Watch accuracy">
          <p>Watch accuracy</p>
        </div>
        <div class="col-md-3 col-6">
          <img src="../../../../assets/water/13.png" class="img-responsive" alt="Watch terminology">
          <p>Watch terminology</p>
        </div>
      </app-carousel>
    </div>
  </div>

</div>
<app-footer></app-footer>
