.collections
  padding-top: 150px;

.collections-title
  padding-bottom: 48px;
  padding-top: 20px;
  h1
    margin-bottom: 10px;

.collection-desc
  max-width: 720px;
  text-align: center;
  padding-bottom: 60px;
  margin: auto;

.filter-row:not(:last-child)
  h6
    padding-bottom: 27px;
