<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container">
    <app-form-header userType="retailer"></app-form-header>
    <br />
    <h1>Add To Stock</h1>
    <br />
    <app-form-tabs [links]="navRoutes"></app-form-tabs>
    <br />
    <h3>Select Watch by Brand & Collection</h3>
    <br />

    <div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="selectionBrand">Brand</label>
            <select type="text" (change)="onSelectionBrandSelected($event.target.value)" class="form-control" id="selectionBrand"
              name="selectionBrand">
              <option value=""></option>
              <option *ngFor="let selectionBrand of brands" [value]="selectionBrand?._id">{{selectionBrand?.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="selectionCollection">Collection</label>
      <select type="text" (change)="onSelectionCollectionSelected($event.target.value)" class="form-control" id="selectionCollection"
        name="selectionCollection">
        <option value=""></option>
        <option *ngFor="let selectionCollection of selectionCollections" [value]="selectionCollection?._id">{{selectionCollection?.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="selectionWatch">Watch</label>
      <select type="text" (change)="onSelectionWatchSelected($event.target.value)" class="form-control" id="selectionWatch"
        name="selectionWatch">
        <option value=""></option>
        <option *ngFor="let selectionWatch of selectedCollection?.watchObjects" [value]="selectionWatch?.referenceNumber">{{selectionWatch?.referenceNumber}}</option>
      </select>
    </div>

    <div>
      <br />
      <h3>Select Watch By Reference Number</h3>
      <br />
    </div>

    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <input type="text" class="form-control" id="watchInputReferenceNumber" [(ngModel)]="selectionWatchReferenceNumber"
            name="watchInputReferenceNumber" #watchInputReferenceNumber="ngModel">
        </div>
      </div>
      <div class="col-4">
        <button class="btn btn-lg primary-btn" (click)="onSelectionWatchSelected(selectionWatchReferenceNumber)">Search</button>
      </div>
    </div>
    <div *ngIf="(watch?.referenceNumber)">
      <br />
      <h3> Add to Stock </h3>
      <br />
      <div class="row">
        <div class="col mx-auto text-center">
          <div>
            <app-item-card *ngIf="watch" [watch]="watch"></app-item-card>
          </div>
          <p class="muted">Reference Number: {{watch?.referenceNumber}} </p>
          <p> Price: {{watch?.price}} </p>
          <div class="row">
      <!--      <div class="col-12">
              <button class="btn primary-btn" (click)="goToWatch()"> View Watch </button>
            </div>-->
            <div class="col-12 my-2">
              <app-toggle-btn [status]="status" (toggle)="addToStock($event)"></app-toggle-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
