<simple-notifications></simple-notifications>
<div class="container-fluid mx-auto login d-flex align-items-center">
  <div class="add-brand container">
    <h1>Add Brand</h1>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="openWatchForm()">Watch Form</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="openCollectionForm()">Collection Form</button>
      </div>
      <div class="col">
        <button type="button" disabled class="btn btn-success" (click)="openBrandForm()">Brand Form</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="openHomePage()">Home</button>
      </div>
    </div>

    <form #brandForm="ngForm">

      <br />
      <h3>Brand Details</h3>
      <br />

      <div class="form-group">
        <label for="name">Brand name</label>
        <select type="text" class="form-control" id="name" required [(ngModel)]="brand.name" name="name" #name="ngModel">
          <option value=""></option>
          <option value="A.Lange & Sohne">A.Lange & Sohne</option>
          <option value="Alexander Shorokhoff">Alexander Shorokhoff</option>
          <option value="Alpina">Alpina</option>
          <option value="Antoine Martin">Antoine Martin</option>
          <option value="Apple">Apple</option>
          <option value="Aquadive">Aquadive</option>
          <option value="Aristo">Aristo</option>
          <option value="Armand Nicolet">Armand Nicolet</option>
          <option value="Armin Strom">Armin Strom</option>
          <option value="Arnold & Son">Arnold & Son</option>
          <option value="Artya">Artya</option>
          <option value="Ateliers de Monaco">Ateliers de Monaco</option>
          <option value="Audemars Piguet ">Audemars Piguet</option>
          <option value="Azimuth">Azimuth</option>
          <option value="Backes & Strauss">Backes & Strauss</option>
          <option value="Ball">Ball</option>
          <option value="Balmain">Balmain</option>
          <option value="Barthelay">Barthelay</option>
          <option value="Baume & Mercier">Baume & Mercier</option>
          <option value="Baume">Baume</option>
          <option value="Bedat & Co">Bedat & Co</option>
          <option value="Bell & Ross">Bell & Ross</option>
          <option value="Blancpain">Blancpain</option>
          <option value="Bomberg">Bomberg</option>
          <option value="Bovet">Bovet</option>
          <option value="Breguet">Breguet</option>
          <option value="Breitling">Breitling</option>
          <option value="Bremont">Bremont</option>
          <option value="BRM">BRM</option>
          <option value="Bulgari">Bulgari</option>
          <option value="Bulova">Bulova</option>
          <option value="Burberry">Burberry</option>
          <option value="Cabestan">Cabestan</option>
          <option value="Carl F. Bucherer">Carl F. Bucherer</option>
          <option value="Cartier">Cartier</option>
          <option value="Chanel">Chanel</option>
          <option value="Chaumet">Chaumet</option>
          <option value="Chopard">Chopard</option>
          <option value="Christiaan Van Der Klaauw">Christiaan Van Der Klaauw</option>
          <option value="Christies's">Christies's</option>
          <option value="Christophe Claret">Christophe Claret</option>
          <option value="Chronoswiss">Chronoswiss</option>
          <option value="Citizen">Citizen</option>
          <option value="Clerc">Clerc</option>
          <option value="Concord">Concord</option>
          <option value="Corum">Corum</option>
          <option value="Cuervo y sobrinos">Cuervo y sobrinos</option>
          <option value="Cvstos">Cvstos</option>
          <option value="Cyrus">Cyrus</option>
          <option value="Czapek">Czapek</option>
          <option value="Daniel Roth">Daniel Roth</option>
          <option value="Daniel Wellington">Daniel Wellington</option>
          <option value="Davidoff">Davidoff</option>
          <option value="Davosa">Davosa</option>
          <option value="De Bethune">De Bethune</option>
          <option value="De Grisogono">De Grisogono</option>
          <option value="DeLaCour">DeLaCour</option>
          <option value="DeLaneau">DeLaneau</option>
          <option value="Dewitt">Dewitt</option>
          <option value="Dior">Dior</option>
          <option value="Dolce & Gabbana">Dolce & Gabbana</option>
          <option value="Doxa">Doxa</option>
          <option value="Ebel">Ebel</option>
          <option value="Eberhard">Eberhard</option>
          <option value="Ernst benz">Ernst benz</option>
          <option value="Eterna">Eterna</option>
          <option value="F.P. Journe">F.P. Journe</option>
          <option value="Faberge">Faberge</option>
          <option value="Festina">Festina</option>
          <option value="Flik Flak">Flik Flak</option>
          <option value="Fortis">Fortis</option>
          <option value="FP Journe">FP Journe</option>
          <option value="Franc Vila">Franc Vila</option>
          <option value="Franck Muller">Franck Muller</option>
          <option value="Frederique Constant">Frederique Constant</option>
          <option value="Garmin">Garmin</option>
          <option value="Gerald Genta">Gerald Genta</option>
          <option value="Girard Perregaux">Girard Perregaux</option>
          <option value="Glashutte">Glashutte</option>
          <option value="Glycine">Glycine</option>
          <option value="Graff">Graff</option>
          <option value="Graham">Graham</option>
          <option value="Greubel Forsey">Greubel Forsey</option>
          <option value="H. Moser & Cie.">H. Moser & Cie.</option>
          <option value="Habring">Habring</option>
          <option value="Hamilton">Hamilton</option>
          <option value="Harry Winston">Harry Winston</option>
          <option value="Hautlence">Hautlence</option>
          <option value="Hermes">Hermes</option>
          <option value="Hublot">Hublot</option>
          <option value="Hysek">Hysek</option>
          <option value="HYT">HYT</option>
          <option value="Ice Watch">Ice Watch</option>
          <option value="IWC">IWC</option>
          <option value="Jacob & Co">Jacob & Co</option>
          <option value="Jager LeCoultre ">Jager LeCoultre</option>
          <option value="Jaquet Droz">Jaquet Droz</option>
          <option value="Junghans">Junghans</option>
          <option value="Korloff">Korloff</option>
          <option value="Laurent Ferrier">Laurent Ferrier</option>
          <option value="Linde Werdelin">Linde Werdelin</option>
          <option value="Longines">Longines</option>
          <option value="Louis Moinet">Louis Moinet</option>
          <option value="Louis Vuitton">Louis Vuitton</option>
          <option value="Luminox">Luminox</option>
          <option value="Maitres du Temps">Maitres du Temps</option>
          <option value="Manufacture Royale">Manufacture Royale</option>
          <option value="Maurice Lacroix">Maurice Lacroix</option>
          <option value="MB&F">MB&F</option>
          <option value="MeisterSinger">MeisterSinger</option>
          <option value="Montegrappa">Montegrappa</option>
          <option value="Montres Montblanc SA">Montres Montblanc SA</option>
          <option value="Movado ">Movado</option>
          <option value="Nomos">Nomos</option>
          <option value="Officine Panerai">Officine Panerai</option>
          <option value="Omega">Omega</option>
          <option value="Oris">Oris</option>
          <option value="Panerai">Panerai</option>
          <option value="Parmigiani Fleurier ">Parmigiani Fleurier</option>
          <option value="Patek Philippe">Patek Philippe</option>
          <option value="Paul Picot">Paul Picot</option>
          <option value="Perrelet">Perrelet</option>
          <option value="Peter Speake-Marin">Peter Speake-Marin</option>
          <option value="Philip Stein">Philip Stein</option>
          <option value="Philippe Dufour">Philippe Dufour</option>
          <option value="Piaget">Piaget</option>
          <option value="Pierre DeRoche">Pierre DeRoche</option>
          <option value="Porsche Design">Porsche Design</option>
          <option value="Qlocktwo">Qlocktwo</option>
          <option value="Quinting">Quinting</option>
          <option value="Rado">Rado</option>
          <option value="Ralph Lauren">Ralph Lauren</option>
          <option value="Raymond Weil">Raymond Weil</option>
          <option value="Ressence">Ressence</option>
          <option value="RGM">RGM</option>
          <option value="Richard Mille">Richard Mille</option>
          <option value="Ritmo Mundo">Ritmo Mundo</option>
          <option value="Roger Dubuis">Roger Dubuis</option>
          <option value="Rolex">Rolex</option>
          <option value="Romain Jerome">Romain Jerome</option>
          <option value="SevenFriday ">SevenFriday</option>
          <option value="Shaumburg Watch">Shaumburg Watch</option>
          <option value="Sinn">Sinn</option>
          <option value="Sotheby's">Sotheby's</option>
          <option value="Speake-Marin">Speake-Marin</option>
          <option value="Swatch Group ">Swatch Group</option>
          <option value="TagHeuer">TagHeuer</option>
          <option value="Tiffany & Co.">Tiffany & Co.</option>
          <option value="Tissot">Tissot</option>
          <option value="Tudor">Tudor</option>
          <option value="Tutima">Tutima</option>
          <option value="U-Boat">U-Boat</option>
          <option value="Ulysse Nardin">Ulysse Nardin</option>
          <option value="Universal Geveva">Universal Geveva</option>
          <option value="Urwerk">Urwerk</option>
          <option value="Vacheron Constantin">Vacheron Constantin</option>
          <option value="Van Cleef & Arpels">Van Cleef & Arpels</option>
          <option value="Zenith ">Zenith</option>
          <option value="Other">Other</option>
        </select>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Brand name is required</div>
      </div>


      <br />
      <h3>Brand Media Section</h3>
      <br />

      <div>
        <label for="logoPhotoFileInput">Brand Logo</label>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onLogoPhotoChanged($event)" #logoPhotoElementRef id="logoPhotoFileInput"
                required [(ngModel)]="brand.logoPhotoFile" name="logoPhotoFile" #logoPhotoFile="ngModel">
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-danger" (click)="clearLogoPhoto()">Clear</button>
          </div>
          <div [hidden]="logoPhotoFile.valid || logoPhotoFile.pristine" class="alert alert-danger">Logo Photo is
            required</div>
        </div>
      </div>

      <div>
        <label for="headerPhotoFileInput">Header photo</label>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onHeaderPhotoChanged($event)" #headerPhotoElementRef id="headerPhotoFileInput"
                [(ngModel)]="brand.headerPhotoFile" name="headerPhotoFile" #headerPhotoFile="ngModel">
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-danger" (click)="clearHeaderPhoto()">Clear</button>
          </div>
        </div>
        <div [hidden]="headerPhotoFile.valid || headerPhotoFile.pristine" class="alert alert-danger">Header Photo is
          required</div>
      </div>

      <div>
        <label for="banner1PhotoFileInput">Banner 1 Photo</label>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onBanner1PhotoChanged($event)" #banner1PhotoElementRef
                id="banner1PhotoFileInput" required [(ngModel)]="brand.banner1PhotoFile" name="banner1PhotoFile"
                #banner1PhotoFile="ngModel">
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-danger" (click)="clearBanner1Photo()">Clear</button>
          </div>
        </div>
        <div [hidden]="banner1PhotoFile.valid || banner1PhotoFile.pristine" class="alert alert-danger">Logo Photo is
          required</div>
      </div>

      <div>
        <label for="banner2PhotoFile">Banner 2 Photo</label>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onBanner2PhotoChanged($event)" #banner2PhotoElementRef
                id="banner2PhotoFile" required [(ngModel)]="brand.banner2PhotoFile" name="banner2PhotoFile"
                #banner2PhotoFile="ngModel">
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-danger" (click)="clearBanner2Photo()">Clear</button>
          </div>
          <div [hidden]="banner2PhotoFile.valid || banner2PhotoFile.pristine" class="alert alert-danger">Logo Photo is
            required</div>
        </div>
      </div>

      <br />
      <div style="text-align: center">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-lg btn-success" (click)="onSubmit()" [disabled]="!brandForm.form.valid">Submit</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-lg btn-danger" (click)="newBrand(); brandForm.reset()">Clear</button>
          </div>
        </div>
        <br />
        <button type="button" class="btn btn-lg btn-info" (click)="logout()">Logout</button>
      </div>

    </form>
  </div>
</div>
