<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container">
    <header class="p-2" style="position: relative; border-bottom: 1px solid #7A1C1C;">
      <nav class="row">
        <div class="col text-center mx-auto">
          <a [routerLink]="['/app-home-page']">
            <picture>
              <img src="../../../assets/logo.svg" style="max-height: 75px;" class="img-responsive" alt="chronowiz">
            </picture>
          </a>
        </div>
      </nav>
      <div style="position: absolute; cursor: pointer; top: 29px; right: 15px;" class="float-right" (click)="logout()">
        <img src="../../../assets/logout.svg" style="max-height: 32px;" class="img-responsive" alt="logout">
      </div>
    </header>

    <div class="my-5">
      <h1> Brand</h1>
    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="btn primary-btn btn-lg" (click)="openWatchForm()">Watch Form</button>
      </div>
      <div class="col">
        <button type="button" class="btn primary-btn btn-lg" (click)="openCollectionForm()">Collection Form</button>
      </div>
      <div class="col">
        <button type="button" class="btn secondry-btn btn-lg" (click)="openBrandForm()">Brand Form</button>
      </div>
    </div>


    <div>
      <br />
      <h3>Mode</h3>
      <br />
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="brandForm.reset();" name="mode" value="create"
          [(ngModel)]="mode">
        Create
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="getBrands(); brandForm.reset(); " name="mode" value="update"
          [(ngModel)]="mode">
        Update
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="getBrands(); brandForm.reset(); " name="mode" value="delete"
          [(ngModel)]="mode">
        Delete
      </label>
    </div>

    <form #brandForm="ngForm">
      <br />
      <h3>Selection</h3>
      <br />

      <div class="form-group">
        <label for="name">Brand name</label>
        <select type="text" class="form-control" id="name" (change)="onSelectBrand()" required [(ngModel)]="brand.name"
          name="name" #name="ngModel">
          <option value=""></option>
          <option [value]="brand.name" *ngFor="let brand of brandsList"> {{brand.name}} </option>
        </select>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Brand name is required</div>
      </div>

      <br />
      <h3  *ngIf="mode != 'delete'" >Brand Media Section</h3>
      <br />

      <div class="form-field py-2" *ngIf="mode != 'delete'" >
        <label for="logoPhotoFileInput">Brand Logo</label>
        <div *ngIf="currentBrand?.logoPhotoUrl" class="preview">
          <h6> Current header Photo </h6>
          <img [src]="currentBrand?.logoPhotoUrl" [alt]="currentBrand?.name + ' logo'" class="img-responsive">
        </div>
        <div class="row">
          <div class="col-sm-10 col-8">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onLogoPhotoChanged($event)" #logoPhotoElementRef id="logoPhotoFileInput"
                [(ngModel)]="brand.logoPhotoFile" [required]="mode === 'create'" name="logoPhotoFile" #logoPhotoFile="ngModel">
            </div>
          </div>
          <div class="col-sm-2 col-4">
            <button class="btn btn-lg secondry-btn" (click)="clearLogoPhoto()">Clear</button>
          </div>
        </div>
        <div [hidden]="logoPhotoFile.valid || logoPhotoFile.pristine" class="alert alert-danger">Logo Photo is
          required</div>
      </div>

      <div class="form-field py-2" *ngIf="mode != 'delete'" >
        <div *ngIf="currentBrand?.headerPhotoUrl" class="preview">
          <h6> Current header Photo </h6>
          <img [src]="currentBrand?.headerPhotoUrl" [alt]="currentBrand?.name + ' header'" class="img-responsive">
        </div>
        <label for="headerPhotoFileInput">Header photo</label>
        <div class="row">
          <div class="col-sm-10 col-8">
            <div class="form-group">
              <input type="file" class="form-control" (change)="onHeaderPhotoChanged($event)" #headerPhotoElementRef id="headerPhotoFileInput"
                [(ngModel)]="brand.headerPhotoFile" name="headerPhotoFile" #headerPhotoFile="ngModel">
            </div>
          </div>
          <div class="col-sm-2 col-4">
            <button class="btn btn-lg secondry-btn" (click)="clearHeaderPhoto()">Clear</button>
          </div>
        </div>
      </div>

      <div class="form-field py-2" *ngIf="mode != 'delete'" >
        <label for="banner1PhotoFileInput">Banner 1 Photo</label>
        <div *ngIf="currentBrand?.banner1PhotoUrl" class="preview">
          <h6> Current banner 1 Photo </h6>
          <img [src]="currentBrand?.banner1PhotoUrl" [alt]="currentBrand?.name + ' banner1'" class="img-responsive">
        </div>
        <div class="row">
          <div class="col-sm-10 col-8">
            <div class="form-group">
              <input type="file" class="form-control" [required]="mode === 'create'" (change)="onBanner1PhotoChanged($event)"
                #banner1PhotoElementRef id="banner1PhotoFileInput" [(ngModel)]="brand.banner1PhotoFile" name="banner1PhotoFile"
                #banner1PhotoFile="ngModel">
            </div>
          </div>
          <div class="col-sm-2 col-4">
            <button class="btn btn-lg secondry-btn" (click)="clearBanner1Photo()">Clear</button>
          </div>
        </div>
        <div [hidden]="banner1PhotoFile.valid || banner1PhotoFile.pristine" class="alert alert-danger">Logo Photo is
          required</div>
      </div>

      <div class="form-field py-2" *ngIf="mode != 'delete'" >
        <label for="banner2PhotoFile">Banner 2 Photo</label>
        <div *ngIf="currentBrand?.banner2PhotoUrl" class="preview">
          <h6> Current banner 2 Photo </h6>
          <img [src]="currentBrand?.banner2PhotoUrl" [alt]="currentBrand?.name + ' banner2'" class="img-responsive">
        </div>
        <div class="row">
          <div class="col-sm-10 col-8">
            <div class="form-group">
              <input type="file" class="form-control" [required]="mode === 'create'" (change)="onBanner2PhotoChanged($event)"
                #banner2PhotoElementRef id="banner2PhotoFile" [(ngModel)]="brand.banner2PhotoFile" name="banner2PhotoFile"
                #banner2PhotoFile="ngModel">
            </div>
          </div>
          <div class="col-sm-2 col-4">
            <button class="btn btn-lg secondry-btn" (click)="clearBanner2Photo()">Clear</button>
          </div>
        </div>
        <div [hidden]="banner2PhotoFile.valid || banner2PhotoFile.pristine" class="alert alert-danger">Logo Photo is
          required</div>
      </div>

      <br />
      <div style="text-align: center">
        <div class="row m-1">
          <div class="col-6">
            <button type="submit" class="btn primary-btn btn-lg" (click)="onSubmit();" [disabled]="!brandForm.form.valid || loading">
              {{loading? 'loading..' : 'Submit' }}</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-lg secondry-btn" (click)="newBrand(); brandForm.reset(); ">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
