<div class="attr-table">
  <div class="row attr-cols">
    <div class="col-md-4 col-sm-6 col-12" [ngClass]="watchAttributesColumn?.name" *ngFor="let watchAttributesColumn of watchAttributesColumns">
      <div class="attr-col-title">{{watchAttributesColumn?.name}}</div>
      <div class="attr-details" *ngFor="let attribute of watchAttributesColumn?.attributes">
        <div class="attr-details" *ngFor="let attributeObject of attribute | keyvalue">
          <div class="attr-details-key">{{attributeObject?.key}}</div>
          <div class="attr-details-value">{{attributeObject?.value}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
