<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container">
    <app-form-header userType="admin"></app-form-header>

    <div class="my-5">
      <h1> Watch </h1>
    </div>

    <app-form-tabs [links]="navRoutes"></app-form-tabs>

    <div>
      <br />
      <h3>Mode</h3>
      <br />
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="watchForm.reset(); newWatch()" name="mode" value="create"
          [(ngModel)]="mode">
        Create
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="watchForm.reset(); newWatch()" name="mode" value="update"
          [(ngModel)]="mode">
        Update
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="watchForm.reset(); newWatch()" name="mode" value="delete"
          [(ngModel)]="mode">
        Delete
      </label>
    </div>
    <form #watchForm="ngForm">

      <div *ngIf="mode != 'create'">
        <br />
        <h3>Select Watch by Brand & Collection</h3>
        <br />

        <div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="selectionBrand">Brand</label>
                <select type="text" (change)="onSelectionBrandSelected($event.target.value)" class="form-control" id="selectionBrand"
                  name="selectionBrand">
                  <option value=""></option>
                  <option *ngFor="let selectionBrand of brands" [value]="selectionBrand?._id">{{selectionBrand?.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="selectionCollection">Collection</label>
          <select type="text" (change)="onSelectionCollectionSelected($event.target.value)" class="form-control" id="selectionCollection"
            name="selectionCollection">
            <option value=""></option>
            <option *ngFor="let selectionCollection of selectionCollections" [value]="selectionCollection?._id">{{selectionCollection?.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="selectionWatch">Watch</label>
          <select type="text" (change)="onSelectionWatchSelected($event.target.value)" class="form-control" id="selectionWatch"
            name="selectionWatch">
            <option value=""></option>
            <option *ngFor="let selectionWatch of selectedCollection?.watchObjects" [value]="selectionWatch?.referenceNumber">{{selectionWatch?.referenceNumber}}</option>
          </select>
        </div>

        <div>
          <br />
          <h3>Select Watch By Reference Number</h3>
          <br />
        </div>

        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <input type="text" class="form-control" id="watchInputReferenceNumber" [(ngModel)]="selectionWatchReferenceNumber"
                name="watchInputReferenceNumber" #watchInputReferenceNumber="ngModel">
            </div>
          </div>
          <div class="col-4">
            <button class="btn btn-lg primary-btn" (click)="onSelectionWatchSelected(selectionWatchReferenceNumber)">Search</button>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="(mode == 'create') || (watch.referenceNumber)">

        <br />
        <h3>Watch Details</h3>
        <br />

        <div class="form-group">
          <label for="watchBrand">Watch Brand</label>
          <select [disabled]="mode == 'delete'" type="text" (change)="onWatchBrandSelected($event.target.value)" class="form-control"
            id="watchBrand" required [ngModel]="watch?.brandObject?._id" (ngModelChange)="watch.brandObject._id = $event"
            name="watchBrand" #watchBrand="ngModel">
            <option value=""></option>
            <option *ngFor="let brand of brands" [value]="brand?._id">{{brand?.name}}</option>
          </select>
          <div [hidden]="watchBrand.valid || watchBrand.pristine" class="alert alert-danger">Brand is required</div>
        </div>

        <div class="form-group">
          <label for="watchCollection">Watch Collection</label>
          <select [disabled]="mode == 'delete'" type="text" (change)="onWatchCollectionSelected($event.target.value)"
            class="form-control" id="watchCollection" [ngModel]="watch?.collectionObject?._id" (ngModelChange)="watch.collectionObject._id = $event"
            name="watchCollection" #watchCollection="ngModel">
            <option value=""></option>
            <option *ngFor="let collection of watchCollections" [value]="collection?._id">{{collection?.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="model">Model</label>
          <input [disabled]="mode == 'delete'" type="text" [value]="watch.model? watch?.model : ''" class="form-control"
            id="model" [(ngModel)]="watch.model" name="model" #model="ngModel">
        </div>

        <div class="form-group">
          <label for="referenceNumber">Reference Number</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="referenceNumber" [(ngModel)]="watch.referenceNumber"
            required name="referenceNumber" #referenceNumber="ngModel">
          <div [hidden]="referenceNumber.valid || referenceNumber.pristine" class="alert alert-danger">Reference Number
            is required
          </div>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="gender" [(ngModel)]="watch.gender"
            name="gender" #gender="ngModel">
            <option value=""></option>
            <option value="Men">Men</option>
            <option value="Women">Women</option>
            <option value="Unisex">Unisex</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="productionYear">Production Year</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="productionYear" [(ngModel)]="watch.productionYear"
            name="productionYear" #productionYear="ngModel">
        </div>

        <div class="form-group">
          <label for="limited">Limited</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="limited" [(ngModel)]="watch.limited"
            name="limited" #limited="ngModel">
        </div>

        <div class="form-group">
          <label for="awards">Awards</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="awards" [(ngModel)]="watch.awards"
            name="awards" #awards="ngModel">
            <option value=""></option>
            <option value="Geneva Seal">Geneva Seal</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="perpetual">Perpetual</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="perpetual" [(ngModel)]="watch.perpetual"
            name="perpetual" #perpetual="ngModel">
        </div>

        <br />
        <h3>Movement Section</h3>
        <br />

        <div class="form-group">
          <label for="movementCaliberName">Movement Caliber Name</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementCaliberName" [(ngModel)]="watch.movementCaliberName"
            name="movementCaliberName" #movementCaliberName="ngModel">
        </div>

        <div class="form-group">
          <label for="movementAutomaticOrManual">Movement Automatic or Manual</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="movementAutomaticOrManual"
            [(ngModel)]="watch.movementAutomaticOrManual" name="movementAutomaticOrManual" #movementAutomaticOrManual="ngModel">
            <option value=""></option>
            <option value="Manually Wound">Manually Wound</option>
            <option value="Automatic">Automatic</option>
            <option value="Self Winding">Self Winding</option>
            <option value="Quartz">Quartz</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="movementCaliberNumber">Movement Caliber Number</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementCaliberNumber" [(ngModel)]="watch.movementCaliberNumber"
            name="movementCaliberNumber" #movementCaliberNumber="ngModel">
        </div>

        <div>
          <label for="movementDiameter">Movement Diameter</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementDiameter" [(ngModel)]="watch.movementDiameter"
                  name="movementDiameter" #movementDiameter="ngModel">
              </div>
            </div>
            <div class="col-1">
              <div class="units">mm</div>
            </div>
          </div>
        </div>

        <div>
          <label for="movementHeight">Movement Height</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementHeight" [(ngModel)]="watch.movementHeight"
                  name="movementHeight" #movementHeight="ngModel">
              </div>
            </div>
            <div class="col-1">
              <div class="units">mm</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="movementJewels">Movement Jewels</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementJewels" [(ngModel)]="watch.movementJewels"
            name="movementJewels" #movementJewels="ngModel">
        </div>

        <div>
          <label for="movementFrequency">Movement Frequency</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementFrequency"
                  [(ngModel)]="watch.movementFrequency" name="movementFrequency" #movementFrequency="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="units">vph</div>
            </div>
          </div>
        </div>

        <div>
          <label for="movementPowerReserve">Movement Power Reserve</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementPowerReserve"
                  [(ngModel)]="watch.movementPowerReserve" name="movementPowerReserve" #movementPowerReserve="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="units">h</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="movementCertificate">Movement Certificate</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="movementCertificate" [(ngModel)]="watch.movementCertificate"
            name="movementCertificate" #movementCertificate="ngModel">
            <option value=""></option>
            <option value="COSC">COSC</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="movementDecoration">Movement Decoration</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="movementDecoration" [(ngModel)]="watch.movementDecoration"
            name="movementDecoration" #movementDecoration="ngModel">
            <option value=""></option>
            <option value="Côtes de Genève">Côtes de Genève</option>
            <option value="Guilloche">Guilloche</option>
            <option value="Perlage">Perlage</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="movementSpring">Movement Spring</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementSpring" [(ngModel)]="watch.movementSpring"
            name="movementSpring" #movementSpring="ngModel">
        </div>

        <div class="form-group">
          <label for="movementTourbillon">Movement Tourbillon</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="movementTourbillon" [(ngModel)]="watch.movementTourbillon"
            name="movementTourbillon" #movementTourbillon="ngModel">
            <option value=""></option>
            <option value="Flying Tourbillon">Flying Tourbillon</option>
            <option value="One Minute Tourbillon">One Minute Tourbillon</option>
            <option value="2 x One Minute Tourbillon">2 x One Minute Tourbillon</option>
            <option value="One Minute Flying Tourbillon">One Minute Flying Tourbillon</option>
            <option value="24 Second Tourbillon Cage Inclined at 25 angle">24 Second Tourbillon Cage Inclined at 25
              angle
            </option>
            <option value="Spherical Double-Axis Tourbillon">Spherical Double-Axis Tourbillon</option>
            <option value="One Minute Tourbillon with external balance spring">One Minute Tourbillon with external
              balance spring
            </option>
            <option value="Flying Double Tourbillon">Flying Double Tourbillon</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="movementRotor">Movement Rotor</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementRotor" [(ngModel)]="watch.movementRotor"
            name="movementRotor" #movementRotor="ngModel">
        </div>

        <div>
          <label for="movementAdditionalFeatures">Movement Additional Features</label>
          <div class="row">
            <div class="col-10" *ngFor="let movementAdditionalFeature of watch.movementAdditionalFeatures; let in = index">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="movementAdditionalFeatures"
                  [(ngModel)]="watch.movementAdditionalFeatures[in].value" name="movementAdditionalFeatures{{in}}"
                  #movementAdditionalFeatures="ngModel">
              </div>
            </div>
            <div class="col-1">
              <button class="btn btn-lg primary-btn" (click)="addMovementAdditionalFeatures()">+</button>
            </div>
            <div class="col-1">
              <button class="btn btn-lg secondry-btn" (click)="removeMovementAdditionalFeatures()">-</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="numberOfParts">Number of Parts</label>
          <input [disabled]="mode == 'delete'" type="number" class="form-control" id="numberOfParts" [(ngModel)]="watch.numberOfParts"
            name="numberOfParts" #numberOfParts="ngModel">
        </div>

        <br />
        <h3>Complications Section</h3>
        <br />

        <div>
          <label for="complications">Complications</label>
          <div class="row">
            <div class="col-10" *ngFor="let complication of watch.complications; let in=index">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="complications" [(ngModel)]="watch.complications[in].value"
                  name="complications{{in}}" #complications="ngModel">
              </div>
            </div>
            <div class="col-1">
              <button class="btn btn-lg primary-btn" (click)="addComplication()">+</button>
            </div>
            <div class="col-1">
              <button class="btn btn-lg secondry-btn" (click)="removeComplication()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Functions Section</h3>
        <br />

        <div>
          <label for="functions">Functions</label>
          <div class="row">
            <div class="col-10" *ngFor="let function of watch.functions; let in=index">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="functions" [(ngModel)]="watch.functions[in].value"
                  name="functions{{in}}" #functions="ngModel">
              </div>
            </div>
            <div class="col-1">
              <button class="btn btn-lg primary-btn" (click)="addFunctions()">+</button>
            </div>
            <div class="col-1">
              <button class="btn btn-lg secondry-btn" (click)="removeFunctions()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Case Section</h3>
        <br />

        <div class="form-group">
          <label for="caseMaterial">Case Material</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="caseMaterial" [(ngModel)]="watch.caseMaterial"
            name="caseMaterial" #caseMaterial="ngModel">
        </div>

        <div>

          <label for="caseDiameter">Case Diameter</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="caseDiameter" [(ngModel)]="watch.caseDiameter"
                  name="caseDiameter" #caseDiameter="ngModel">
              </div>
            </div>
            <div class="col-1">
              <div class="units">mm</div>
            </div>
          </div>
        </div>

        <div>
          <label for="caseHeight">Case Height</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="caseHeight" [(ngModel)]="watch.caseHeight"
                  name="caseHeight" #caseHeight="ngModel">
              </div>
            </div>
            <div class="col-1">
              <div class="units">mm</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="caseFront">Case Front</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="caseFront" [(ngModel)]="watch.caseFront"
            name="caseFront" #caseFront="ngModel">
            <option value=""></option>
            <option value="Saphire Crystal">Saphire Crystal</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="caseBack">Case Back</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="caseBack" [(ngModel)]="watch.caseBack"
            name="caseBack" #caseBack="ngModel">
            <option value=""></option>
            <option value="Transparent">Transparent</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="caseBezelMaterial">Case Bezel Material</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="caseBezelMaterial" [(ngModel)]="watch.caseBezelMaterial"
            name="caseBezelMaterial" #caseBezelMaterial="ngModel">
        </div>

        <div>
          <label for="waterResistance">Water Resistance</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="waterResistance" [(ngModel)]="watch.waterResistance"
                  name="waterResistance" #waterResistance="ngModel">
              </div>
            </div>
            <div class="col-1">
              <div class="units">atm</div>
            </div>
          </div>
        </div>

        <div>
          <label for="waterProof">Water Proof</label>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="waterProof" [(ngModel)]="watch.waterProof"
                  name="waterProof" #waterProof="ngModel">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="caseCrown">Case Crown</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="caseCrown" [(ngModel)]="watch.caseCrown"
            name="caseCrown" #caseCrown="ngModel">
            <option value=""></option>
            <option value="Screw-in Crown">Screw-in Crown</option>
            <option value="screw-locked crown">Screw-locked Crown</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div>
          <label for="caseAdditionalFeatures">Case Additional Features</label>
          <div class="row">
            <div class="col-10" *ngFor="let caseAdditionalFeature of watch.caseAdditionalFeatures; let in = index">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="caseAdditionalFeatures"
                  [(ngModel)]="watch.caseAdditionalFeatures[in].value" name="caseAdditionalFeatures{{in}}"
                  #caseAdditionalFeatures="ngModel">
              </div>
            </div>
            <div class="col-1">
              <button class="btn btn-lg primary-btn" (click)="addCaseAdditionalFeatures()">+</button>
            </div>
            <div class="col-1">
              <button class="btn btn-lg secondry-btn" (click)="removeCaseAdditionalFeatures()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Dial Section</h3>
        <br />

        <div class="form-group">
          <label for="dialColour">Dial Colour</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="dialColour" [(ngModel)]="watch.dialColour"
            name="functions" #dialColour="ngModel">
        </div>

        <div class="form-group">
          <label for="dialIndex">Dial Index</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="dialIndex" [(ngModel)]="watch.dialIndex"
            name="dialIndex" #dialIndex="ngModel">
            <option value=""></option>
            <option value="Roman numeral">Roman numeral</option>
            <option value="Arabic numeral">Arabic numeral</option>
            <option value="Breguet numeral">Breguet numeral</option>
            <option value="Indices">Indices</option>
            <option value="Blank Dial">Blank Dial</option>
            <option value="Mixed">Mixed</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="dialFinish">Dial Finish</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="dialFinish" [(ngModel)]="watch.dialFinish"
            name="dialFinish" #dialFinish="ngModel">
        </div>

        <div class="form-group">
          <label for="dialType">Dial Type</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="dialType" [(ngModel)]="watch.dialType"
            name="dialType" #dialType="ngModel">
        </div>

        <div class="form-group">
          <label for="dialHands">Dial Hands</label>
          <select [disabled]="mode == 'delete'" type="text" class="form-control" id="dialHands" [(ngModel)]="watch.dialHands"
            name="dialHands" #dialHands="ngModel">
            <option value=""></option>
            <option value="ALPHA HANDS">ALPHA HANDS</option>
            <option value="ARROW HANDS">ARROW HANDS</option>
            <option value="BATON HANDS">BATON HANDS</option>
            <option value="BREGUET HANDS">BREGUET HANDS</option>
            <option value="CATHEDRAL HANDS">CATHEDRAL HANDS</option>
            <option value="DAUPHINE HANDS">DAUPHINE HANDS</option>
            <option value="FLEUR DE LYS HANDS">FLEUR DE LYS HANDS</option>
            <option value="LANCE HANDS">LANCE HANDS</option>
            <option value="LEAF HANDS">LEAF HANDS</option>
            <option value="MERCEDES HANDS">MERCEDES HANDS</option>
            <option value="PLONGEUR HANDS">PLONGEUR HANDS</option>
            <option value="SYRINGE HANDS">SYRINGE HANDS</option>
            <option value="SNOWFLAKE HANDS">SNOWFLAKE HANDS</option>
            <option value="SPADE HANDS">SPADE HANDS</option>
            <option value="SWORD HANDS">SWORD HANDS</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div>
          <label for="dialAdditionalFeatures">Dial Additional Features</label>
          <div class="row">
            <div class="col-10" *ngFor="let dialAdditionalFeature of watch.dialAdditionalFeatures; let in = index">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="dialAdditionalFeatures"
                  [(ngModel)]="watch.dialAdditionalFeatures[in].value" name="dialAdditionalFeatures{{in}}"
                  #dialAdditionalFeatures="ngModel">
              </div>
            </div>
            <div class="col-1">
              <button class="btn btn-lg primary-btn" (click)="addDialAdditionalFeatures()">+</button>
            </div>
            <div class="col-1">
              <button class="btn btn-lg secondry-btn" (click)="removeDialAdditionalFeatures()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Band Section</h3>
        <br />

        <div class="form-group">
          <label for="band">Band</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="band" [(ngModel)]="watch.band" name="band"
            #band="ngModel">
        </div>

        <div class="form-group">
          <label for="bandMaterial">Band Material</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="bandMaterial" [(ngModel)]="watch.bandMaterial"
            name="bandMaterial" #bandMaterial="ngModel">
        </div>

        <div class="form-group">
          <label for="bandClasp">Band Clasp</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="bandClasp" [(ngModel)]="watch.bandClasp"
            name="bandClasp" #bandClasp="ngModel">
        </div>

        <div class="form-group">
          <label for="bandColour">Band Colour</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="bandColour" [(ngModel)]="watch.bandColour"
            name="bandColour" #bandColour="ngModel">
        </div>

        <div class="form-group">
          <label for="bandClaspMaterial">Band Clasp Material</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="bandClaspMaterial" [(ngModel)]="watch.bandClaspMaterial"
            name="bandClaspMaterial" #bandClaspMaterial="ngModel">
        </div>

        <div>
          <label for="bandAdditionalFeatures">Band Additional Features</label>
          <div class="row">
            <div class="col-10" *ngFor="let bandAdditionalFeature of watch.bandAdditionalFeatures; let in=index">
              <div class="form-group">
                <input [disabled]="mode == 'delete'" type="text" class="form-control" id="bandAdditionalFeatures"
                  [(ngModel)]="watch.bandAdditionalFeatures[in].value" name="bandAdditionalFeatures{{in}}"
                  #bandAdditionalFeatures="ngModel">
              </div>
            </div>
            <div class="col-1">
              <button class="btn btn-lg primary-btn" (click)="addBandAdditionalFeatures()">+</button>
            </div>
            <div class="col-1">
              <button class="btn btn-lg secondry-btn" (click)="removeBandAdditionalFeatures()">-</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Price Section</h3>
        <br />

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="price">Price</label>
              <input [disabled]="mode == 'delete'" type="number" class="form-control" id="price" [(ngModel)]="watch.price"
                name="price" #price="ngModel">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="priceCurrency">Price Currency</label>
              <select [disabled]="mode == 'delete'" type="text" class="form-control" id="priceCurrency" [(ngModel)]="watch.priceCurrency"
                name="priceCurrency" #priceCurrency="ngModel">
                <option value=""></option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="CHF">CHF</option>
                <option value="AED">AED</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </div>

        <br />
        <h3>Media Section</h3>
        <br />

        <div>
          <label for="mainPhotoFileInput">Main Photo</label>
          <div *ngIf="watch?.mainPhotoUrl" class="preview">
            <h6> Current Main Photo </h6>
            <img [src]="watch?.mainPhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.mainPhotoFile}" [disabled]="mode == 'delete'" type="file" class="form-control"
                  (change)="onMainPhotoChanged($event)" #mainPhotoElementRef id="mainPhotoFileInput" [(ngModel)]="watch.mainPhotoFile"
                  name="mainPhotoFile" #mainPhotoFile="ngModel">
              </div>
            </div>
            <div class="col-2">
              <button class="btn btn-lg secondry-btn" (click)="clearMainPhoto()">Clear</button>
            </div>
          </div>
        </div>

        <div>
          <label for="banner1PhotoFileInput">Banner 1 Photo</label>
          <div *ngIf="watch?.banner1PhotoUrl" class="preview">
            <h6> Current Banner 1 Photo </h6>
            <img [src]="watch?.banner1PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.banner1PhotoFile}" [disabled]="mode == 'delete'" type="file"
                  class="form-control" (change)="onBanner1PhotoChanged($event)" #banner1PhotoElementRef id="banner1PhotoFileInput"
                  [(ngModel)]="watch.banner1PhotoFile" name="banner1PhotoFile" #banner1PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-2">
              <button class="btn btn-lg secondry-btn" (click)="clearBanner1Photo()">Clear</button>
            </div>
          </div>
        </div>

        <div>
          <label for="banner2PhotoFile">Banner 2 Photo</label>
          <div *ngIf="watch?.banner2PhotoUrl" class="preview">
            <h6> Current Banner 2 Photo </h6>
            <img [src]="watch?.banner2PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.banner2PhotoFile}" [disabled]="mode == 'delete'" type="file"
                  class="form-control" (change)="onBanner2PhotoChanged($event)" #banner2PhotoElementRef id="banner2PhotoFile"
                  [(ngModel)]="watch.banner2PhotoFile" name="banner2PhotoFile" #banner2PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-2">
              <button class="btn btn-lg secondry-btn" (click)="clearBanner2Photo()">Clear</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Section 1</h3>
        <br />

        <div class="form-group">
          <label for="section1Title">Section 1 Title</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section1Title" [(ngModel)]="watch.section1Title"
            name="section1Title" #section1Title="ngModel">
        </div>

        <div class="form-group">
          <label for="section1Paragraph">Section 1 Paragraph</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section1Paragraph" [(ngModel)]="watch.section1Paragraph"
            name="section1Paragraph" #section1Paragraph="ngModel">
        </div>

        <div>
          <label for="section1PhotoFileInput">Section 1 Photo</label>
          <div *ngIf="watch?.section1PhotoUrl" class="preview">
            <h6> Current Section 1 Photo </h6>
            <img [src]="watch?.section1PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.section1PhotoFile}" [disabled]="mode == 'delete'" type="file"
                  class="form-control" (change)="onSection1PhotoChanged($event)" #section1PhotoElementRef id="section1PhotoFileInput"
                  [(ngModel)]="watch.section1PhotoFile" name="section1PhotoFile" #section1PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-2">
              <button class="btn btn-lg secondry-btn" (click)="clearSection1Photo()">Clear</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Section 2</h3>
        <br />

        <div class="form-group">
          <label for="section2Title">Section 2 Title</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section2Title" [(ngModel)]="watch.section2Title"
            name="section2Title" #section2Title="ngModel">
        </div>

        <div class="form-group">
          <label for="section2Paragraph">Section 2 Paragraph</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section2Paragraph" [(ngModel)]="watch.section2Paragraph"
            name="section2Paragraph" #section2Paragraph="ngModel">
        </div>

        <div>
          <label for="section2PhotoFileInput">Section 2 Photo</label>
          <div *ngIf="watch?.section2PhotoUrl" class="preview">
            <h6> Current Section 2 Photo </h6>
            <img [src]="watch?.section2PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.section2PhotoFile}" [disabled]="mode == 'delete'" type="file"
                  class="form-control" (change)="onSection2PhotoChanged($event)" #section2PhotoElementRef id="section2PhotoFileInput"
                  [(ngModel)]="watch.section2PhotoFile" name="section2PhotoFile" #section2PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-2">
              <button class="btn btn-lg secondry-btn" (click)="clearSection2Photo()">Clear</button>
            </div>
          </div>
        </div>

        <br />
        <h3>Section 3</h3>
        <br />

        <div class="form-group">
          <label for="section3Title">Section 3 Title</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section3Title" [(ngModel)]="watch.section3Title"
            name="section3Title" #section3Title="ngModel">
        </div>

        <div class="form-group">
          <label for="section3Paragraph">Section 3 Paragraph</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section3Paragraph" [(ngModel)]="watch.section3Paragraph"
            name="section3Paragraph" #section3Paragraph="ngModel">
        </div>

        <div>
          <label for="section3PhotoFileInput">Section 3 Photo</label>
          <div *ngIf="watch?.section3PhotoUrl" class="preview">
            <h6> Current Section 3 Photo </h6>
            <img [src]="watch?.section3PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.section3PhotoFile}" [disabled]="mode == 'delete'" type="file"
                  class="form-control" (change)="onSection3PhotoChanged($event)" #section3PhotoElementRef id="section3PhotoFileInput"
                  [(ngModel)]="watch.section3PhotoFile" name="section3PhotoFile" #section3PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <button class="btn btn-lg secondry-btn" (click)="clearSection3Photo()">Clear</button>
              </div>
            </div>
          </div>
        </div>

        <br />
        <h3>Section 4</h3>
        <br />

        <div class="form-group">
          <label for="section4Title">Section 4 Title</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section4Title" [(ngModel)]="watch.section4Title"
            name="section4Title" #section4Title="ngModel">
        </div>

        <div class="form-group">
          <label for="section4Paragraph">Section 4 Paragraph</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section4Paragraph" [(ngModel)]="watch.section4Paragraph"
            name="section4Paragraph" #section4Paragraph="ngModel">
        </div>

        <div>
          <label for="section4PhotoFileInput">Section 4 Photo</label>
          <div *ngIf="watch?.section4PhotoUrl" class="preview">
            <h6> Current Section 4 Photo </h6>
            <img [src]="watch?.section4PhotoUrl" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input [ngClass]="{'valid-img': watch?.section4PhotoFile}" [disabled]="mode == 'delete'" type="file"
                  class="form-control" (change)="onSection4PhotoChanged($event)" #section4PhotoElementRef id="section4PhotoFileInput"
                  [(ngModel)]="watch.section4PhotoFile" name="section4PhotoFile" #section4PhotoFile="ngModel">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <button class="btn btn-lg secondry-btn" (click)="clearSection4Photo()">Clear</button>
              </div>
            </div>
          </div>
        </div>


        <br />
        <h3>Section 5</h3>
        <br />

        <div class="form-group">
          <label for="section5Title">Section 5 Title</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section5Title" [(ngModel)]="watch.section5Title"
            name="section5Title" #section5Title="ngModel">
        </div>

        <div class="form-group">
          <label for="section5Paragraph">Section 5 Paragraph</label>
          <input [disabled]="mode == 'delete'" type="text" class="form-control" id="section5Paragraph" [(ngModel)]="watch.section5Paragraph"
            name="section5Paragraph" #section5Paragraph="ngModel">
        </div>
      </div>

      <br />

      <div style="text-align: center" *ngIf="(mode == 'create') || (watch.referenceNumber)">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn primary-btn btn-lg" (click)="onSubmit()" [disabled]="!watchForm.form.valid || loading">
              {{loading ? 'loading..' : mode }}</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-lg secondry-btn" (click)="newWatch(); watchForm.reset()">Clear</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
