<div class="reset-password-page">
  <simple-notifications></simple-notifications>
  <app-header></app-header>
  <div class="container-fluid mx-auto mb-5 full-height d-flex align-items-center text-center">
    <div class="login-form mx-auto">

      <p *ngIf="!isEmailSent" class="sassy-text"> Please enter your e-mail: </p>

      <h1> Reset The Password </h1>

      <form *ngIf="!isEmailSent" class="form" #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordForm.form.valid? sendEmail() : null">
        <div class="row">

          <div class="col-12">
            <input class="form-input" placeholder="Email" [(ngModel)]="resetPassword.email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
              type="email" name="emailInput" required #emailInput="ngModel">
            <div [hidden]="emailInput.valid || emailInput.pristine" class="invalid">
              Invalid Email
            </div>
          </div>

          <div class="col-12">
            <button class="btn primary-btn wide-btn" type="submit"> Reset the password </button>
            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </div>
      </form>
      <div *ngIf="isEmailSent">
        <form class="form" #resetCodeForm="ngForm" (ngSubmit)="resetCodeForm.form.valid? onResetPassword() : null">
          <div class="row">
            <div class="class col-12 text-center py-2">
              <div class="sassy-text"> If you recevied the code, please enter it</div>
            </div>
            <div class="col-12">
              <input class="form-input" [(ngModel)]="resetPassword.recoveryEmailVerificationCode" type="password" name="codeInput"
                required #codeInput="ngModel">
              <div [hidden]="codeInput.valid || codeInput.pristine" class="invalid">
                Please enter the code
              </div>
            </div>

            <div class="col-12">
              <button class="btn primary-btn wide-btn" type="submit"> Reset the password </button>
              <img class="pl-3" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>
