<div class="watch-section">
  <div class="row" *ngIf="watch?.section1Title && watch?.section1Paragraph && watch?.section1PhotoUrl">
    <div class="col-md-6 col-12 align-self-center">
      <div class="feature">
        <div class="sassy-text">Model features</div>
        <h5>{{watch?.section1Title}}</h5>
        <p>{{watch?.section1Paragraph}}</p>
      </div>
    </div>
    <div class="col-md-6 col-12 align-self-center p-0">
      <img [src]="watch?.section1PhotoUrl" alt="" class="img-responsive" srcset="">
    </div>
  </div>
  <div class="row" *ngIf="watch?.section2Title && watch?.section2Paragraph && watch?.section2PhotoUrl">
    <div class="col-md-6 col-12 align-self-center order-md-2">
      <div class="feature">
        <div class="sassy-text">Model features</div>
        <h5>{{watch?.section2Title}}</h5>
        <p>{{watch?.section2Paragraph}}</p>
      </div>
    </div>
    <div class="col-md-6 col-12 align-self-center p-0 order-md-1">
      <img [src]="watch?.section2PhotoUrl" alt="" class="img-responsive" srcset="">
    </div>
  </div>
  <div class="row" *ngIf="watch?.section3Title && watch?.section3Paragraph && watch?.section3PhotoUrl">
    <div class="col-md-6 col-12 align-self-center">
      <div class="feature">
        <div class="sassy-text">Model features</div>
        <h5>{{watch?.section3Title}}</h5>
        <p>{{watch?.section3Paragraph}}</p>
      </div>
    </div>
    <div class="col-md-6 col-12 align-self-center p-0">
      <img [src]="watch?.section3PhotoUrl" alt="" class="img-responsive" srcset="">
    </div>
  </div>
  <div class="row" *ngIf="watch?.section4Title && watch?.section4Paragraph && watch?.section4PhotoUrl">
    <div class="col-md-6 col-12 align-self-center order-md-2" >
      <div class="feature">
        <div class="sassy-text">Model features</div>
        <h5>{{watch?.section4Title}}</h5>
        <p>{{watch?.section4Paragraph}}</p>
      </div>
    </div>
    <div class="col-md-6 col-12 align-self-center p-0 order-md-1">
      <img [src]="watch?.section4PhotoUrl" alt="" class="img-responsive" srcset="">
    </div>
  </div>
</div>
