<div
[ngStyle]="{'background-color': backgroundColor}"
[ngClass]="{'light': brandObject?.pageContentColor}">

  <app-header *ngIf="brandObject && brandObject?.name" [background_color]="brandObject?.headerBackgroundColor? brandObject?.headerBackgroundColor: '#ffffff'"
    [content_color]="brandObject?.headerContentColor? 'light': 'dark'" [opacity]="brandObject?.headerBackgroundOpacity? brandObject?.headerBackgroundOpacity : 75"
    [lightBrandLogo]="brandObject?.darkLogoPhotoUrl"
    [brandName]="brandObject?.name" [brandLogo]="brandObject?.logoPhotoUrl" [breads]="urlSequence" [noHeightFix]="true">
  </app-header>
  <app-header *ngIf="!brandObject"></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
