<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container">
    <app-form-header userType="admin"></app-form-header>
    <div class="my-5">
      <h1> Orders </h1>
    </div>
    <app-form-tabs [links]="navRoutes"></app-form-tabs>
    <br />
    <h3>All Orders</h3>
    <br />
    <table class="table table-bordered py-2">
      <thead>
        <tr>
          <th scope="col">Order Date</th>
          <th scope="col">Order Number</th>
          <th scope="col">Total Price</th>
          <th scope="col">Status</th>
          <td scope="col">Save</td>
        </tr>
      </thead>
      <tbody *ngFor="let order of orderObjects; let i=index">
        <tr>
          <td (click)="toggleShowDetails(i)">{{order?.orderDate | date: 'shortDate'}}</td>
          <td (click)="toggleShowDetails(i)">{{order?.orderNumber}}</td>
          <td (click)="toggleShowDetails(i)">{{order?.totalPrice | currency : 'USD' :'symbol' : '1.0'}}</td>
          <td>
            <ng-select [items]="orderStatus" name="orderStatus" [(ngModel)]="order.status" bindLabel="name" bindValue="name"
              placeholder="Select state">
            </ng-select>
          </td>
          <td>
            <button type="button" class="btn btn-lg secondry-btn" (click)="updateOrder(order)">save</button>
            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </td>
        </tr>
        <tr *ngIf="order?.showDetails">
          <td colspan="5">
            <app-order-confirmation [order]="order"></app-order-confirmation>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
