.watch-table
  text-align: left;
  width: 100%;
  thead
    background: #F5F5F5;
    text-transform: uppercase;
  th
    padding: 10px;
    font-size: 14px;
  tr
    border-bottom: 1px solid #979797;
  td
    p
      font-weight: 300;
      padding: 10px;
      text-align: left !important;
  .table-img
    height: 100px;
    max-width: 100%;

.bold
  font-weight: 400;
