<simple-notifications></simple-notifications>

<div [ngStyle]="{'background-color': backgroundColor}" class="watch-page">
  <app-header *ngIf="watch?.brandObject && watch?.brandObject?.name" [background_color]="watch?.brandObject?.headerBackgroundColor? watch?.brandObject?.headerBackgroundColor: '#ffffff'"
    [content_color]="!watch?.brandObject?.headerContentColor? 'light': 'dark'" [opacity]="watch?.brandObject?.headerBackgroundOpacity != undefined? watch?.brandObject?.headerBackgroundOpacity : 75"
    [lightBrandLogo]="watch?.brandObject?.darkLogoPhotoUrl" [brandName]="watch?.brandObject?.name" [darkBrandLogo]="watch?.brandObject?.logoPhotoUrl"
    [breads]="urlSequence">
  </app-header>
  <app-header *ngIf="!watch?.brandObject"></app-header>

  <div [ngClass]="{'light-theme': !watch?.brandObject?.pageContentColor}">

    <div class="container mt-4">
      <div class="text-center" id="top">
        <h1>{{watch?.model}}</h1>
        <a [routerLink]="collectionRoute" class="view-all-btn text-center" *ngIf="watch?.collectionObject?._id">
          <i class="fa"><img [src]="appIconSrc" width="9" alt=""></i>
          View all {{watch?.collectionObject?.name | collectionName}} models
        </a>
        <div class="mx-auto text-center main-watch-photo">
          <img *ngIf="watch?.mainPhotoUrl " [src]="watch?.mainPhotoUrl" alt="watch?.model" class="mx-auto img-responsive">
          <div class="p-5" *ngIf="!watch?.mainPhotoUrl"></div>
        </div>
        <div class="watch-short-details">
          <p>
            <span *ngIf="watch?.perpetual">{{watch?.perpetual}} <span *ngIf="watch?.caseDiameter">,&nbsp;</span> </span>
            <span *ngIf="watch?.caseDiameter">{{watch?.caseDiameter}} mm<span *ngIf="watch?.caseMaterial">,&nbsp;</span>
            </span>
            <span *ngIf="watch?.caseMaterial">{{watch?.caseMaterial}}</span>
          </p>
        </div>
        <div class="d-flex p-5 align-items-center justify-content-center">
          <button (click)="addToWatchTray()" class="add-to-watch-tray" [disabled]="addedToWatchTray" [ngClass]="{'added-to-watch-tray': addedToWatchTray}">
            <i class="fa"><img [src]="paperBagSrc" width="12" alt=""></i>
            {{addedToWatchTray? 'added to watch tray' :'add to watch tray'}}</button>
          <div (click)="scrollTo('technicals')" class="technical-details"> + Technical detail </div>
        </div>
      </div>
    </div>

    <div class="banner1container">
      <app-hero [background_md]="true" *ngIf="watch?.banner1PhotoUrl || watch?.brandObject?.banner1PhotoUrl" [cover]="watch?.banner1PhotoUrl ? watch?.banner1PhotoUrl: watch?.brandObject?.banner1PhotoUrl"></app-hero>
      <div *ngIf="!watch?.brandObject" class="p-3"></div>
    </div>

    <div class="container pb-5">

      <app-watch-section [watch]="watch"></app-watch-section>
      <app-attribute-table id="technicals" [watch]="watch"></app-attribute-table>

      <div class="d-flex p-4 align-items-center justify-content-center">
        <div class="show-price" (click)="showPrice()"> {{price}} </div>
        <button (click)="addToWatchTray()" class="add-to-watch-tray" [disabled]="addedToWatchTray" [ngClass]="{'added-to-watch-tray': addedToWatchTray}">
          <i class="fa"><img [src]="paperBagSrc" width="12" alt=""></i>
          {{addedToWatchTray? 'added to watch tray' :'add to watch tray'}}</button>
      </div>

      <div class="return-to-top text-center mx-auto w-100" (click)="scrollTo('top')">
        <img [src]="downArrowSrc" class="watchdetails_downarrow">
        <div>
          Return to top
        </div>
      </div>
    </div>

    <div class="banner2contanier">
      <app-hero [background_sm]="true" *ngIf="watch?.banner2PhotoUrl || watch?.brandObject?.banner2PhotoUrl" [cover]="watch?.banner2PhotoUrl ? watch?.banner2PhotoUrl: watch?.brandObject?.banner2PhotoUrl"></app-hero>
      <div *ngIf="!watch?.brandObject" class="p-2"></div>
    </div>
    <app-footer *ngIf="watch?.brandObject && watch?.brandObject?.name"></app-footer>
  </div>
</div>
