form
  max-width: 481px
  label
    font-size: 11px
    letter-spacing: 0.1px
    color: #212121
    display: block
    text-align: left
  input
    width: 100%
  .title-label
    color: #7A1C1C

@media (max-width: 400px)
  h1
    font-size: 22px !important
