<app-header></app-header>
<div class="container about-us mt-3 mb-5">

  <div class="row">
    <div class="col-12">
      <h1> ABOUT US </h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <p class="bold-text">
        Chronowiz.com launched in late 1999, initially offering for sale only new and unworn brand name watches at
        discounted prices. More recently we have expanded by accepting trades and offering preowned watches as well.
        Our
        goal is to provide our customers with a pleasant shopping experience, while maintaining great prices and
        exemplary
        customer service. Over the years we have earned recognition as an honest and dependable watch dealer. We are
        known
        as the most trusted online source for discounted brand name watches. By all means, please research our company;
        we
        are confident you will come to the same conclusion as thousands of other satisfied customers. We look forward
        to
        welcoming you to the Chrono Wiz family of customers.
      </p>
    </div>
  </div>


  <div class="row mt-2">
    <div class="col-md-6 col-12 text-center v-align-center p-2">
      <picture>
          <source type="image/svg+xml" srcset="../../../assets/box.svg">
            <img src="../../../assets/box.png" class="img-responsive" alt="box">
      </picture>
    </div>
    <div class="col-md-6 col-12">
      <p>We offer watches for sale via 2 separate divisions within our company:</p>
      <p class="muted">
        www.chronowiz.com - New/Unworn Watches: <br />
        We have a substantial inventory of in-stock items ready to ship the same or next business day. However, while
        not all watches advertised are in stock, most are typically available to be ordered with a relatively short
        delivery time, ranging from 2-3 days to a few weeks. Some watches must be special ordered or might be on back
        order, which will delay delivery time, in which case we will notify you with an estimated delivery time within
        1-2 business days of receiving your order. If your order is time sensitive, we encourage you to contact us
        before placing an order, to confirm availability.
      </p>
    </div>
  </div>


  <div class="row mt-2">
    <div class="col-md-6 col-12 text-center order-md-1 v-align-center p-2">
      <picture>
        <source type="image/svg+xml" srcset="../../../assets/paper-planes.svg">
        <img src="../../../assets/paper-planes.png" class="img-responsive" alt="paper-planes">
      </picture>
    </div>
    <div class="col-md-6 col-12 order-md-0">
      <p>www.chronowiz.com - Preowned and Vintage Watches:</p>
      <p class="muted">
        All watches advertised are in stock and available to ship out the same or next business day. The pictures of
        the preowned watches are always live pictures of the actual watch we are offering. We make an effort to display
        multiple high resolution images of the actual watch in order to accurately portray the true condition. We
        further make an effort to accurately describe the overall condition of the watch so that customers can get a
        feel of what the overall condition is in real life. All preowned watches will come with either a 1-year
        ChronoWiz.com warranty for modern watches or a 6-month ChronoWiz.com warranty for vintage watches. Every
        watches that we offer has gone through an accuracy test, a water resistance test and general cleaning of the
        case. At times we might have the watch refinished, in which case we will make sure to disclose that in the
        description. We accept trades and we actively buy preowned and vintage watches.
      </p>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <p class="muted">chronowiz.com does NOT sell replicas, fakes or watches that have had their serial numbers
        removed or altered.
        chronowiz.com guarantees that all the watches we sell are 100% genuine with the original serial number intact.</p>
      <p class="muted">
        Finally, we have access to many brands not displayed on our site. If there is a watch you have in mind that is
        not displayed on our site, chances are we can source it and offer the watch to you at a competitive price. So,
        please feel free to contact us with any watch related inquiries you may have. Our knowledgeable and friendly
        staff are standing by to answer any questions and to address any concerns you may have. Please feel free to
        pick up a phone to chat with us, or email us for a quick response.
      </p>
    </div>
  </div>

</div>
<app-footer></app-footer>
