<simple-notifications></simple-notifications>
<app-header [bg_white]="true"></app-header>
<div class="container-fluid mx-auto full-height d-flex align-items-center text-center">
  <div class="register-form mx-auto">

    <p class="sassy-text"> Please enter your credentials: </p>

    <h1> Register </h1>

    <form class="form" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid? onSubmit() : null">
      <div class="row">

        <div class="col-12">
          <input class="form-input" placeholder="Email" [(ngModel)]="user.email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" type="email" name="email" [ngModel]="user.email" required  #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="invalid">
            Invalid Email
          </div>
        </div>

        <div class="col-12">
          <input required class="form-input" #password="ngModel" placeholder="Password" type="password" name="password"
            [(ngModel)]="user.password" minlength="8" pattern="^.*(?=.{8,})((?=.*[!@#$%^&\\*()\-_=\\+{};:,\\<.>]){1})(?=.*\d)((?=.*[a-z]){1})((?=.*[A-Z]){1}).*$">
          <div [hidden]="password.valid || password.pristine" class="invalid">
            The password must be at least 8 charachters containg
            <ul>
              <li>1 or more Uppercase Alphabet</li>
              <li>1 or more Lowercase Alphabet</li>
              <li>1 or more Digit Charachter</li>
              <li>1 or more Special Charachter</li>
            </ul>
          </div>
        </div>

        <div class="col-12">
          <input required class="form-input" #confirmPasswordFeild="ngModel" placeholder="Confirm Password" type="password"
            name="confirmPassword" [(ngModel)]="confirmPassword">
          <div *ngIf=" (confirmPassword != user.password && confirmPassword) " class="invalid">
            The passwrods doesn't match
          </div>
          <div [hidden]="confirmPasswordFeild.valid || confirmPasswordFeild.pristine " class="invalid">
            The confirm password is required
          </div>
        </div>

        <div class="col-12">
          <button class="btn primary-btn wide-btn" type="submit"> confirm </button>
          <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
      </div>
    </form>

  </div>
</div>
<app-footer></app-footer>
