.sidenav
  max-height: 100%
  width: 0
  position: absolute
  top: 124px
  left: 0
  overflow-x: hidden
  a
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative
    text-transform: uppercase
    font-weight: 300
    padding: 8px 8px 8px 17px
    text-decoration: none
    color: #f1f1f1
    display: block
    z-index: 999
    &:hover
      color: #fff
  .closebtn
    position: absolute
    top: 0
    right: 25px
    font-size: 36px
    margin-left: 50px
  ul
    padding: 0 10px;
    margin: 0;
    li
      display: block;

.brand-link
  li
    display: block !important;
  a
    font-size: 10px;
    cursor: pointer;

.black
  color: black !important;

@media only screen and (max-width: 990px)
  .sidenav
    top: 85px !important;
