<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container">
    <app-form-header userType="retailer"></app-form-header>
    <br />
    <h1>Add To Stock</h1>
    <br />
    <app-form-tabs [links]="navRoutes"></app-form-tabs>
    <br />
    <h3>Select Watch by Brand & Collection</h3>
    <br />

    <div class="form-group">
      <label for="selectionBrand">Brand</label>
      <ng-select [items]="selectionBrands" [loading]="selectionBrands?.length === 0" name="selectionBrands" bindLabel="name"
        bindValue="_id" placeholder="Select brand" (change)="onBrandSelection($event?._id)">
      </ng-select>
    </div>

    <div class="form-group">
      <label for="selectionCollection">Collection</label>
      <ng-select [items]="selectionCollections" name="selectionCollection" bindLabel="name" bindValue="_id" placeholder="Select collection"
        (change)="onCollectionSelection($event?._id)">
      </ng-select>
    </div>

    <div class="form-group">
      <label for="selectionWatch">Watch</label>
      <ng-select [items]="selectedCollection?.watchObjects" name="selectionWatch" bindLabel="referenceNumber" bindValue="referenceNumber"
        placeholder="Select watch" (change)="onWatchSelection($event?.referenceNumber)">
      </ng-select>
    </div>

    <div>
      <br />
      <h3>Select Watch By Reference Number</h3>
      <br />
    </div>

    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <input type="text" class="form-control" id="watchInputReferenceNumber" [(ngModel)]="selectionWatchReferenceNumber"
            name="watchInputReferenceNumber" #watchInputReferenceNumber="ngModel">
        </div>
      </div>
      <div class="col-4">
        <button class="btn btn-lg primary-btn" (click)="onWatchSelection(selectionWatchReferenceNumber)">Search</button>
      </div>
    </div>
    <div *ngIf="(watch?.referenceNumber)">
      <br />
      <h3> Add to Stock </h3>
      <br />
      <div class="row">
        <div class="col mx-auto text-center">
          <div>
            <app-item-card *ngIf="watch" [watch]="watch"></app-item-card>
          </div>
          <p class="muted">Reference Number: {{watch?.referenceNumber}} </p>
          <p> Price: {{watch?.price | currency: watch?.priceCurrency }} </p>
          <div class="row">
            <div class="col-12">
              <button class="btn primary-btn" (click)="viewWatch(watch?.referenceNumber)"> View Watch </button>
            </div>
            <div class="col-12 my-2">
              <h6>In Stock</h6>
              <app-toggle-btn [status]="status" (toggle)="addToStock($event)"></app-toggle-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
