<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container-fluid">
    <app-form-header userType="admin"></app-form-header>

    <div class="my-5">
      <h1> Brand </h1>
    </div>

    <app-form-tabs [links]="navRoutes"></app-form-tabs>

    <div>
      <br />
      <h3>Mode</h3>
      <br />
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="brandForm.reset(); resetBrand();" name="mode" value="create"
          [(ngModel)]="mode">
        Create
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="brandForm.reset(); resetBrand();" name="mode" value="update"
          [(ngModel)]="mode">
        Update
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" (change)="brandForm.reset(); resetBrand();" name="mode" value="delete"
          [(ngModel)]="mode">
        Delete
      </label>
    </div>

    <form #brandForm="ngForm">
      <div *ngIf="mode != 'create'">
        <br />
        <h3>Select Brand</h3>
        <br />
        <div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="selectionBrand">Brand</label>
                <ng-select [items]="selectionBrands" [loading]="selectionBrands?.length === 0" name="selectionBrands"
                  [(ngModel)]="selectionBrandId" bindLabel="name" bindValue="_id" placeholder="Select brand" (change)="onBrandSelection($event?._id)">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="(mode == 'create') || (brand._id)">
        <br />
        <h3>Brand Details</h3>
        <br />

        <div class="form-group">
          <ng-select [disabled]="mode == 'delete' || loading" [items]="staticBrandNames" #BrandName="ngModel" name="BrandName"
            required bindLabel="name" bindValue="name" [addTag]="addCustomBrand" placeholder="Select brand name"
            [(ngModel)]="brand.name">
          </ng-select>
          <div [hidden]="!brandForm.submitted || BrandName.valid || BrandName.pristine" class="alert alert-danger">
            Brand name is required
          </div>
        </div>

        <br />
        <h3>Brand Media Section</h3>
        <br />

        <div class="form-field py-2">
          <label for="logoPhotoFileInput">Light Brand Logo</label>
          <p class="muted text-left m-0 p-0"> Any size is ok, recommended: Width: 100px x Height: 100px </p>
          <div *ngIf="brand?.logoPhotoUrl" class="preview">
            <h6> Current Logo Photo </h6>
            <img [src]="brand?.logoPhotoUrl" [alt]="brand?.name + ' logo'" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="file" class="form-control" [(ngModel)]="brand.logoPhotoFile"
                  (change)="onLogoPhotoChange($event)" [required]="!brand.logoPhotoUrl" name="logoPhotoFileRef"
                  #logoPhotoFileRef="ngModel">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearLogoPhoto()">Clear</button>
            </div>
          </div>
          <div [hidden]="!brandForm.submitted || logoPhotoFileRef.valid || logoPhotoFileRef.pristine" class="alert alert-danger">Logo
            Photo is
            required</div>
        </div>

        <div class="form-field py-2">
          <label for="logoPhotoFileInput">Dark Brand Logo</label>
          <p class="muted text-left m-0 p-0"> Any size is ok, recommended: Width: 100px x Height: 100px </p>
          <div *ngIf="brand?.darkLogoPhotoUrl" class="preview">
            <h6> Current Logo Photo </h6>
            <img [src]="brand?.darkLogoPhotoUrl" [alt]="brand?.name + ' dark logo'" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="file" class="form-control" [(ngModel)]="brand.darkLogoPhotoFile"
                  (change)="onDarkLogoPhotoChange($event)" [required]="!brand.darkLogoPhotoUrl" name="darkLogoPhotoFileRef"
                  #darkLogoPhotoFileRef="ngModel">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearDarkLogoPhoto()">Clear</button>
            </div>
          </div>
          <div [hidden]="!brandForm.submitted || darkLogoPhotoFileRef.valid || darkLogoPhotoFileRef.pristine" class="alert alert-danger">Logo
            Photo is
            required</div>
        </div>

        <div class="form-field py-2">
          <div *ngIf="brand?.headerPhotoUrl" class="preview">
            <h6> Current header Photo </h6>
            <img *ngIf="brand?.headerPhotoUrl && !s3Service.isVideo(brand?.headerPhotoUrl)" [src]="brand?.headerPhotoUrl"
              [alt]="brand?.name + ' header'" class="img-responsive">
            <video *ngIf="brand?.headerPhotoUrl && s3Service.isVideo(brand?.headerPhotoUrl)" class="main-vid" autoplay
              loop muted text-left oncanplay="this.play()" onloadedmetadata="this.muted">
              <source [src]="brand?.headerPhotoUrl" type="video/mp4">
            </video>
          </div>
          <label for="headerPhotoFileInput">Header photo</label>
          <p class="muted text-left m-0 p-0"> Width: 1920px x Height: 1080px </p>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [ngClass]="{'valid-img': brand?.headerPhotoFile}" [disabled]="mode == 'delete' || loading" type="file"
                  class="form-control" (change)="onHeaderPhotoChange($event)" name="headerPhotoFile"
                  #headerPhotoFileRef="ngModel" [(ngModel)]="brand.headerPhotoFile">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearHeaderPhoto()">Clear</button>
            </div>
          </div>
        </div>

        <div class="form-field py-2">
          <label for="banner1PhotoFileInput">Banner 1 Photo</label>
          <p class="muted text-left m-0 p-0"> Width: 1920px x Height: 450px </p>
          <div *ngIf="brand?.banner1PhotoUrl" class="preview">
            <h6> Current banner 1 Photo </h6>
            <img [src]="brand?.banner1PhotoUrl" [alt]="brand?.name + ' banner1'" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="file" class="form-control" [required]="!brand.banner1PhotoUrl"
                  (change)="onBanner1PhotoChange($event)" name="banner1PhotoFileRef" #banner1PhotoFileRef="ngModel"
                  [(ngModel)]="brand.banner1PhotoFile">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearBanner1Photo()">Clear</button>
            </div>
          </div>
          <div [hidden]="(!brandForm.submitted || banner1PhotoFileRef.valid || banner1PhotoFileRef.pristine)" class="alert alert-danger">Logo
            Photo is
            required</div>
        </div>

        <div class="form-field py-2">
          <label for="banner2PhotoFile">Banner 2 Photo</label>
          <p class="muted text-left m-0 p-0"> Width: 1920px x Height: 300px </p>
          <div *ngIf="brand?.banner2PhotoUrl" class="preview">
            <h6> Current banner 2 Photo </h6>
            <img [src]="brand?.banner2PhotoUrl" [alt]="brand?.name + ' banner2'" class="img-responsive">
          </div>
          <div class="row">
            <div class="col-sm-10 col-6">
              <div class="form-group">
                <input [disabled]="mode == 'delete' || loading" type="file" class="form-control" [required]="!brand.banner2PhotoUrl"
                  (change)="onBanner2PhotoChange($event)" name="banner2PhotoFileRef" #banner2PhotoFileRef="ngModel"
                  [(ngModel)]="brand.banner2PhotoFile">
              </div>
            </div>
            <div class="col-sm-2 col-6">
              <button class="btn btn-lg secondry-btn" (click)="clearBanner2Photo()">Clear</button>
            </div>
          </div>
          <div [hidden]="!brandForm.submitted || banner2PhotoFileRef.valid || banner2PhotoFileRef.pristine" class="alert alert-danger">Logo
            Photo is
            required</div>
        </div>


        <br />
        <h3>Header Section</h3>
        <br />

        <div class="form-group">
          <label for="headerBackgroundColor">Background color</label>
          <input [disabled]="mode == 'delete' || loading" type="color" class="form-control" [(ngModel)]="brand.headerBackgroundColor"
            name="headerBackgroundColor" #headerBackgroundColor="ngModel">
        </div>

        <div class="form-group">
          <label for="headerContentColor">Content theme</label>
          <ng-select [items]="contentColorOptions" bindValue="value" name="headerContentColor" [(ngModel)]="brand.headerContentColor"
            bindLabel="name" placeholder="Select header content theme">
          </ng-select>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="custom-slider col-6">
              <label>opacity</label>
              <ng5-slider [(value)]="brand.headerBackgroundOpacity" [options]="options"></ng5-slider>
            </div>
            <div class="col-6 p-0 card">
              <div class="content-text p-4 text-center" [ngClass]="{'text-light': !brand?.headerContentColor}">
                content </div>
              <div class="header-bkgd-preview" [ngStyle]="{'background-color': brand?.headerBackgroundColor, 'opacity': brand?.headerBackgroundOpacity*0.01}"></div>
            </div>
          </div>
        </div>

        <br />
        <h3>Brand Page Colors</h3>
        <br />

        <div class="form-group">
          <label for="backgroundColor">Background color</label>
          <input [disabled]="mode == 'delete' || loading" type="color" class="form-control" [(ngModel)]="brand.pageBackgroundColor"
            name="backgroundColor" #backgroundColor="ngModel">
        </div>

        <div class="form-group">
          <label for="pageContentColor">Content theme</label>
          <ng-select [items]="contentColorOptions" name="pageContentColor" [(ngModel)]="brand.pageContentColor"
            bindLabel="name" bindValue="value" placeholder="Select page content theme">
          </ng-select>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="custom-slider col-6">
              <label>opacity</label>
              <ng5-slider [(value)]="brand.pageBackgroundOpacity" [options]="options"></ng5-slider>
            </div>
            <div class="col-6 p-0 card">
              <div class="content-text p-4 text-center" [ngClass]="{'text-light': !brand?.pageContentColor}">
                content </div>
              <div class="header-bkgd-preview" [ngStyle]="{'background-color': brand?.pageBackgroundColor, 'opacity': brand?.pageBackgroundOpacity*0.01}"></div>
            </div>
          </div>
        </div>


        <br />
        <h3>Discount Section</h3>
        <br />


        <div class="form-group">
          <label for="maximumDiscount">Maximum Discount</label>
          <input [disabled]="mode == 'delete' || loading" type="number" class="form-control" placeholder="(0-100)%"
            pattern="^100(\.0{0,2}?)?$|^\d{0,2}(\.\d{0,2})?$" [(ngModel)]="brand.maximumDiscount" name="maximumDiscount"
            #maximumDiscount="ngModel">
        </div>

      </div>

      <br />
      <div style="text-align: center" *ngIf="(mode == 'create') || (brand._id)">
        <div class="row m-1">
          <div class="col-6">
            <button type="submit" class="btn primary-btn btn-lg" (click)="onSubmit();" [disabled]="(!brandForm.form.valid || loading)  && (mode != 'delete')">
              {{loading? 'loading..' : mode }}
              <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-lg secondry-btn" (click)="resetBrand(); brandForm.reset(); ">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
