<div class="row">
  <div class="col-lg-4 col-12 description-section pb-3">
    <div class="row">
      <div class="col-12">
        <div class="bold-text text-left"> Description </div>
      </div>
    </div>

    <div class="watch-desc" *ngFor="let orderWatchObject of order?.watchObjects">
      <div class="row">
        <div class="col-2 align-self-center">
          <div class="img-container">
            <img [src]="orderWatchObject?.watchObject?.mainPhotoUrl? orderWatchObject?.watchObject?.mainPhotoUrl: 'http://placehold.it/360x560/ffffff/ffffff'" class="img-responsive"
              alt="watch">
          </div>
        </div>
        <div class="col-4 align-self-center">
          <div class="brand">{{orderWatchObject?.watchObject?.brandObject?.name}}</div>
          <div class="collection">{{orderWatchObject?.watchObject?.collectionObject?.name | collectionName}}</div>
          <div class="ref">{{orderWatchObject?.watchObject?.referenceNumber}}</div>
        </div>
        <div class="col-2 align-self-end">
          <div class="qty">{{orderWatchObject?.quantity}}</div>
          <div class="attribute text-center">QTY</div>
        </div>
        <div class="col-2 align-self-end">
          <div class="price">{{orderWatchObject?.price | currency: orderWatchObject?.watchObject?.priceCurrency }}</div>
          <div class="attribute text-right">PRICE</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="show-details">
            <app-collapsible text="Show details">
              <div class="details pb-3">

                <div class="detail">
                  <div class="attr"> Model Case: </div>
                  <div class="value">
                    <span *ngIf="orderWatchObject?.watchObject?.model"> {{orderWatchObject?.watchObject?.model}}, </span>
                    <span *ngIf="orderWatchObject?.watchObject?.caseDiameter">{{orderWatchObject?.watchObject?.caseDiameter}} mm, </span>
                    <span *ngIf="orderWatchObject?.watchObject?.caseMaterial">{{orderWatchObject?.watchObject?.caseMaterial}}, </span>
                    <span *ngIf="orderWatchObject?.watchObject?.perpetual">{{orderWatchObject?.watchObject?.perpetual}}</span>
                  </div>
                </div>

                <div class="detail">
                  <div class="attr"> Movement: </div>
                  <div class="value">
                    <span>{{orderWatchObject?.watchObject?.movementAutomaticOrManual}}</span>
                  </div>
                </div>

                <div class="detail">
                  <div class="attr"> Braclet: </div>
                  <div class="value">
                    <span>{{orderWatchObject?.watchObject?.band}}</span>
                  </div>
                </div>

                <div class="detail">
                  <div class="attr"> Dial: </div>
                  <div class="value">
                    <span *ngIf="orderWatchObject?.watchObject?.dialColour">{{orderWatchObject?.watchObject?.dialColour}}, </span>
                    <span *ngIf="orderWatchObject?.watchObject?.dialFinish">{{orderWatchObject?.watchObject?.dialFinish}}, </span>
                    <span *ngIf="orderWatchObject?.watchObject?.dialIndex">{{orderWatchObject?.watchObject?.dialIndex}}, </span>
                    <span *ngIf="orderWatchObject?.watchObject?.dialHands">{{orderWatchObject?.watchObject?.dialHands}} </span>
                  </div>
                </div>
              </div>
            </app-collapsible>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="col-lg-4 col-12 payment-section pb-3">
    <div class="row">
      <div class="col-12">
        <div class="bold-text text-left"> Payment Info </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="payment">
          <div *ngIf="order?.paymentMethod === 'credit card'">
            <div class="info pb-2">
              <img src="../../../assets/visa.svg" alt="mastercard">
              Ending in 4369
            </div>
            <div class="info">Exp. 10-2022</div>
          </div>
          <div class="info">{{order?.firstName}} {{order?.lastName}}</div>
          <br>
          <div class="info">{{order?.billingAddress}}</div>
          <br>
          <div class="info" *ngIf="order?.billingCity">{{order?.billingCity}}, </div>
          <div class="info">{{order?.billingState}} {{order?.billingZip}}</div>
          <br>
          <div class="info">{{order?.billingCountry}}</div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-12 address-section pb-3">
    <div class="row">
      <div class="col-12">
        <div class="bold-text text-left"> Billing Address </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="address">
          <div class="info py-1">{{order?.firstName}} {{order?.lastName}}</div>
          <div class="info py-1">{{order?.billingAddress}}</div>
          <div class="info py-1">{{order?.billingCity}}, {{order?.billingState}} {{order?.billingZip}}</div>
          <div class="info py-1">{{order?.billingCountry}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="bold-text text-left"> Shipping Address </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="address">
          <div class="info py-1">{{order?.firstName}} {{order?.lastName}}</div>
          <div class="info py-1">{{order?.shippingAddress}}</div>
          <div class="info py-1">{{order?.shippingCity}}, {{order?.shippingState}} {{order?.shippingZip}}</div>
          <div class="info py-1">{{order?.shippingCountry}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
