<div class="row">
  <div class="col-lg-4 col-12 description-section pb-3">
    <div class="row">
      <div class="col-12">
        <div class="bold-text text-left"> Description </div>
      </div>
    </div>

    <div class="watch-desc" *ngFor="let watch of order?.watches">
      <div class="row">
        <div class="col-2 align-self-center">
          <div class="img-container">
            <img [src]="watch?.mainPhotoUrl? watch?.mainPhotoUrl: 'http://placehold.it/360x560/ffffff/ffffff'" class="img-responsive"
              alt="watch">
          </div>
        </div>
        <div class="col-4 align-self-center">
          <div class="brand">{{watch?.brandObject?.name}}</div>
          <div class="collection">{{watch?.collectionObject?.name | collectionName}}</div>
          <div class="ref">{{watch?.referenceNumber}}</div>
        </div>
        <div class="col-2 align-self-end">
          <div class="qty">{{watch?.qty}}</div>
          <div class="attribute text-center">QTY</div>
        </div>
        <div class="col-2 align-self-end">
          <div class="price">{{watch?.price | currency: watch?.priceCurrency }}</div>
          <div class="attribute text-right">PRICE</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="show-details">
            <app-collapsible text="Show details">
              <div class="details pb-3">

                <div class="detail">
                  <div class="attr"> Model Case: </div>
                  <div class="value">
                    <span *ngIf="watch?.model"> {{watch?.model}}, </span>
                    <span *ngIf="watch?.caseDiameter">{{watch?.caseDiameter}} mm, </span>
                    <span *ngIf="watch?.caseMaterial">{{watch?.caseMaterial}}, </span>
                    <span *ngIf="watch?.perpetual">{{watch?.perpetual}}</span>
                  </div>
                </div>

                <div class="detail">
                  <div class="attr"> Movement: </div>
                  <div class="value">
                    <span>{{watch?.movementAutomaticOrManual}}</span>
                  </div>
                </div>

                <div class="detail">
                  <div class="attr"> Braclet: </div>
                  <div class="value">
                    <span>{{watch?.band}}</span>
                  </div>
                </div>

                <div class="detail">
                  <div class="attr"> Dial: </div>
                  <div class="value">
                    <span *ngIf="watch?.dialColour">{{watch?.dialColour}}, </span>
                    <span *ngIf="watch?.dialFinish">{{watch?.dialFinish}}, </span>
                    <span *ngIf="watch?.dialIndex">{{watch?.dialIndex}}, </span>
                    <span *ngIf="watch?.dialHands">{{watch?.dialHands}} </span>
                  </div>
                </div>
              </div>
            </app-collapsible>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="col-lg-4 col-12 payment-section pb-3">
    <div class="row">
      <div class="col-12">
        <div class="bold-text text-left"> Payment Info </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="payment">
          <div *ngIf="order?.creditCardNumber">
            <div class="info pb-2">
              <img src="../../../assets/{{creditCardType}}.svg" alt="mastercard">
              Ending in {{creditCardEndingIn}}
            </div>
          </div>
          <div class="info">Exp. {{order?.creditCardExpirationMonth}}-20{{order?.creditCardExpirationYear}}</div>
          <div class="info">{{order?.firstName}} {{order?.lastName}}</div>
          <br>
          <div class="info">{{order?.billingAddress}}</div>
          <br>
          <div class="info" *ngIf="order?.billingCity">{{order?.billingCity}}, </div>
          <div class="info">{{order?.billingState}} {{order?.billingZip}}</div>
          <br>
          <div class="info">{{order?.billingCountry}}</div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-12 address-section pb-3">
    <div class="row">
      <div class="col-12">
        <div class="bold-text text-left"> Billing Address </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="address">
          <div class="info py-3">{{order?.firstName}} {{order?.lastName}}</div>
          <div class="info py-3">{{order?.billingAddress}}</div>
          <div class="info py-3">{{order?.billingCity}}, {{order?.billingState}} {{order?.billingZip}}</div>
          <div class="info py-3">{{order?.billingCountry}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="bold-text text-left"> Shipping Address </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="address">
          <div class="info py-3">{{order?.firstName}} {{order?.lastName}}</div>
          <div class="info py-3">{{order?.shippingAddress}}</div>
          <div class="info py-3">{{order?.shippingCity}}, {{order?.shippingState}} {{order?.shippingZip}}</div>
          <div class="info py-3">{{order?.shippingCountry}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
