<simple-notifications></simple-notifications>
<app-header [breads]="breads"></app-header>
<div class="row no-gutters">
  <div class="col-12">
    <div class="page-breads">
      <ul class="list-inline w-100 px-2 text-center">
        <li class="list-inline-item"><a (click)="goToPage('checkout')"> Checkout </a></li>
        <li class="list-inline-item"><a (click)="goToPage('shipping')"> Shipping </a></li>
        <li class="list-inline-item"><a (click)="goToPage('payment')"> Payment </a></li>
        <li class="list-inline-item"><a (click)="goToPage('confirmation')" class="checked"> Confirmation </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container my-2">
  <div class="my-5 mx-auto">

    <app-order-confirmation [order]="order"></app-order-confirmation>

    <div class="col-12">
      <p class="totalPriceSection my-3">
        <span class="totalPriceText">Total : </span>
        <span class="totalPrice"> {{totalPrice | currency: 'USD' :'symbol' : '1.0'}} </span>
      </p>
    </div>

    <div class="col-12 my-3">
      <div class="note text-center">
        If you are ready to make a purchase - click the button.
      </div>
    </div>

    <div class="col-12 text-center m-auto">
      <button class="btn primary-btn wide-btn" [disabled]="loading" (click)="onSubmit()"> confirm </button>
      <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </div>
</div>
<app-footer></app-footer>
