<app-header [transparent]="true" [_brandName]="brandObject?.name" [_brandLogo]="brandObject?.logoPhotoUrl"></app-header>
<app-breadcrumb [breads]="breads"></app-breadcrumb>
<!--<app-hero *ngIf="brandObject" [cover]="brandObject?.banner1PhotoUrl ? brandObject?.banner1PhotoUrl: 'http://placehold.it/1600x900'"></app-hero>-->
<app-hero *ngIf="brandObject" [cover]="'https://dummyimage.com/1600x100/ffffff/ffffff.png'"></app-hero>

<div class="container">

  <header class="title text-center">
    <h1>{{brandObject?.name}}</h1>
    <h5>The Collections</h5>
  </header>

  <div class="tabs">
    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let gender of genders" (click)="filterGender(gender)" [class.active]="currentGender === gender"> {{gender}} </li>
    </ul>
  </div>

  <app-card-carousel *ngFor="let collection of collections | slice: 0:collectionLimit" [collection]="collection" [gender]="currentGender"></app-card-carousel>

  <div class="text-center mx-auto show-more">
    <button class="btn primary-btn" (click)="toggleShowMore()">Show {{isShowMoreOn ? 'Less' : 'More'}}</button>
  </div>
</div>
<br/>
<br/>
<br/>

<!--
  <app-footer-hero></app-footer-hero>
-->

<app-footer></app-footer>
