<simple-notifications></simple-notifications>
<app-header></app-header>
<div class="container mt-2">
  <div class="text-center">
    <h1> Order #RF1021 </h1>
    <h2 class="text-center"> 05/04/2018 </h2>
  </div>
  <div class="row mb-5 mt-3 mx-auto">
    <div class="col-12 mt-4">
      <table class="watch-table table-responsive-sm my-3">
        <thead>
          <tr>
            <th class="small">Item</th>
            <th class="small">Description</th>
            <th class="small">Price</th>
            <th class="small">QTY</th>
            <th class="small">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let watch of order?.watches">
            <td class="text-center">
              <a class="img-container" [routerLink]="['/watch/',watch?.referenceNumber]">
                <img class="table-img" [src]="watch.mainPhotoUrl? watch.mainPhotoUrl: 'http://placehold.it/360x560/FFFFFF/FFFFFF'">
              </a>
            </td>
            <td class="desc">
              <p class="m-0">
                <span class="bold" *ngIf="watch?.model">{{watch?.model}} </span>
                <span class="small" *ngIf="watch?.caseDiameter">{{watch?.caseDiameter}} mm,</span>
                <span class="small" *ngIf="watch?.caseMaterial">{{watch?.caseMaterial}},</span>
                <span class="small" *ngIf="watch?.perpetual">{{watch?.perpetual}}</span>
                <br>
                <span class="bold">Reference number:
                  <span class="small">
                    {{watch?.referenceNumber}}
                  </span>
                </span>
              </p>
            </td>
            <td>
              <p class="small m-0"> {{watch?.price | currency: watch?.priceCurrency : 'symbol' : '1.0' }} </p>
            </td>
            <td class="text-center">
              <p class="small"> {{watch?.qty}} </p>
            </td>
            <td>
              <p class="small m-0"> {{watch?.price * watch?.qty | currency: watch?.priceCurrency : 'symbol' : '1.0' }}
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="totalPriceSection">
        <span class="totalPriceText">Shipping : </span>
        <span class="totalPrice"> {{20 | currency: 'USD'}} </span>
      </p>
      <p class="totalPriceSection borders">
        <span class="totalPriceText">Total : </span>
        <span class="totalPrice"> {{totalPrice | currency: 'USD' :'symbol' : '1.0'}} </span>
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
