<div class="terms-conditions-page">
  <app-header></app-header>
  <div class="container terms mb-5 mt-3">

    <div class="row">
      <div class="col-12">
        <h1> Terms and Conditions </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="title">
          Introduction:
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="black-sassy-text">
          Please read these terms and conditions of use carefully as they comtain important information about your
          rights
          and obligation, as well as limitations and exclusions that may apply to you.
        </p>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-12">
        <p class="bold-text">
          By accessing or using our website at www.ChronoWiz.com and any of its subsidiary websites (the "Websites"),
          you (the "User") signify that you have read, understood and agree to be bound by these Terms and Conditions
          of
          Use ("Terms and Conditions"). We reserve the right to change, modify, add, or delete any portions of these
          Terms and Conditions at any time without further notice, at our sole discretion. By using these Websites, you
          agree to be bound by any such revisions and should therefore periodically visit this page to determine the
          then-current Terms and Conditions to which you are bound. It is your responsibility to regularly check the
          Websites to determine if there have been changes to these Terms and Conditions and to review such changes. If
          you do not agree to abide by these or any future Terms and Conditions, do not use or access, or continue to
          use
          or access, the Websites.
        </p>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-12">
        <div class="sassy-title">
          Site Content
        </div>
        <p class="text">
          You acknowledge that these Websites contains information, data, data compilations, software, photographs,
          typefaces, text, graphics, sounds, images, and other material (collectively, "Content") that are the property
          of ChronoWiz.com or other third parties and that such Content is protected by United States and/or
          international copyright laws. All Content is copyrighted as a collective work under the United States
          copyright
          laws, and we own a copyright in the selection, coordination, arrangement, and enhancement of such Content.
          You
          may not modify, remove, delete, augment, add to, publish, transmit, participate in the transfer or sale of,
          create derivative works from, or in any way exploit any of the Content, in whole or in part. Further, you
          agree
          not to upload, post, reproduce, or distribute in any way any Content protected by copyright, or other
          proprietary right, without obtaining prior written permission of the owner of the copyright or other
          propriety
          right.
        </p>
      </div>
    </div>


    <div class="more" *ngIf="showAll">

      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Site Content
          </div>
          <p class="text">
            Trademark of ChronoWiz.com
            "Prestige Time" and "ChronoWiz.com" as indicated on these Websites, as well as these Websites themselves,
            are trademarks and/or trade dress of ChronoWiz.com, in the United States and/or other countries.
            Trademarks
            and trade dress include the ChronoWiz.com name and logo, our graphics, page headers, button icons,
            scripts,
            and service names. ChronoWiz.com's trademarks and trade dress may not be used in connection with any
            product
            or service that is not ChronoWiz.com's.
          </p>
        </div>
      </div>


      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Third-Party Trademarks
          </div>
          <p class="text">
            ChronoWiz.com disclaims any proprietary interest in trademarks, service marks, logos, slogans, domain
            names
            and trade names other than its own. All other trademarks that appear on this site are the property of their
            respective owners, who are not affiliated with, connected to, or sponsored by us or our affiliates. You
            agree
            not to display or use such marks in any way, without obtaining permission of the owner of the trademark.
          </p>
        </div>
      </div>


      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Use Rights
          </div>
          <p class="text">
            You have permission to view, electronically copy and print hard copies of pages from these Websites solely
            for
            personal, non-commercial purposes related to placing an order or shopping with ChronoWiz.com. Except as
            expressly stated in the Terms and Conditions, you may not reproduce, distribute, display, sell, lease,
            transmit, create derivative works from, modify or otherwise exploit any images, photographs and/or any
            other
            variation of pictorial form on these Websites. In the absence of an express, written permission in advance,
            any
            other use of these Websites, its content and its information, including linking or framing to these
            Websites,
            is strictly prohibited.
          </p>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Errors and Inaccuracies
          </div>
          <p class="text">
            While our goal is to provide complete, accurate, up-to-date information on our Websites, it is not possible
            to
            ensure that any website is completely free of human or technological errors. In order to give you the
            opportunity to view our products in great detail, some products may appear larger or smaller than their
            actual
            size in our photographs; and since every computer monitor is set differently, color and size may vary
            slightly.
            These Websites may contain typographical mistakes, inaccuracies, or omissions, and some information may not
            be
            complete or current. We reserve the right to correct any errors, inaccuracies or omissions, including after
            an
            order has been submitted, and to change or update information at any time without prior notice, including
            inaccurate or erroneous prices. In the event of a pricing error discovered after an order has already been
            placed, we will notify you of the error and we will do our best to work with you to reach a mutually
            acceptable
            solution. We do, however, reserve the right to cancel the order and notify you of such cancellation. You
            also
            have the right to cancel the order in the event of a pricing error. If the order is cancelled by us, then
            you
            may replace the order at the corrected price. We sincerely apologize for any inconvenience this may cause.
          </p>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Contractual Obligation
          </div>
          <p class="text">
            ANY PURCHASE ORDERS, QUOTATIONS OR OTHER EXCHANGE OF INFORMATION CONCERNING A SALE OF A WATCH SHALL NOT
            RESULT
            IN A BINDING CONTRACT UNLESS AND UNTIL PRESTIGE TIME ISSUES A SHIPPING CONFIRMATION TO THE PURCHASER.
          </p>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Disclaimer of Liability
          </div>
          <p class="text">
            Unless expressly stated in the Warranty Policy sections of the Websites, ChronoWiz.com makes no
            representations or warranties of any kind, whether express or implied, with respect to these Websites, its
            content, or the information available on or through it. You expressly understand and agree that your use of
            the
            Websites is at your sole risk and that the Websites are provided on an "AS IS" basis and "as available"
            basis.
          </p>
          <p class="text py-2">
            Unless expressly stated in the Warranty Policy sections of the Websites, ChronoWiz.com disclaims all
            warranties of any kind, whether express or implied, including but not limited to the implied warranties of
            merchantability, fitness for a particular purpose and non-infringement. We and our corporate affiliates,
            and
            the directors, officers, employees, agents, contractors, successors and assigns of each, will not be liable
            for
            any direct, indirect, incidental, special, consequential, punitive or other damages that result from the
            use
            of
            or inability to use the Websites, including but not limited to reliance by a user on any information
            obtained
            at the Websites, or that result from mistakes, omissions, interruptions, deletion of files or e-mail,
            errors,
            defects, viruses, delays in operation or transmission, or any failure of performance, whether or not
            resulting
            from acts of God, communications failure, theft, destruction or unauthorized access to ChronoWiz.com
            records, programs or services. This limitation of liability applies whether in an action of contract,
            negligence, or other tortious action, strict product liability or otherwise, as well as damages for lost
            profits, business interruption or the loss of data or information, even if an authorized representative of
            ChronoWiz.com has been advised of or should have knowledge of the possibility of such damages. You hereby
            acknowledge that this paragraph shall apply to all content, merchandise and services available through the
            Websites.
          </p>
          <p class="text py-2">
            No advice or information, whether oral or written, obtained by you from ChronoWiz.com or through or from
            the
            Websites shall create any warranty not expressly stated in the Warranty Policy sections of the Websites or
            in
            these Terms and Conditions.
          </p>
        </div>
      </div>


      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Applicable Law
          </div>
          <p class="text">
            By visiting or using the Websites, you agree that the laws of the State of New York, without regard to
            principles of conflict of laws, will govern these Terms and Conditions and any dispute of any sort that
            might
            arise between you and ChronoWiz.com or any of our affiliates, clients, co-brand partners or other partners
            and their respective directors, officers and employees. You consent and agree that the sole venue and
            jurisdiction for any dispute arising from the use of the Websites and/or under these Terms and Conditions
            shall
            be the appropriate state or federal court located in Rockland County, New York, and you consent to submit
            to
            the jurisdiction of such court, agree to accept service of process by mail, and hereby waive any
            jurisdictional
            or venue defenses available to you.
          </p>
        </div>
      </div>


      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Privacy Policy
          </div>
          <p class="text">
            ChronoWiz.com values your patronage and respects your privacy rights. Because we understand that you are
            concerned about your privacy, we have instituted policies intended to ensure that your personal information
            is
            handled safely and responsibly. As a policy, we do not sell, trade or rent your personally identifiable
            information to third parties.
          </p>
        </div>
      </div>


      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Information Collection
          </div>
          <p class="text">
            Generally, you can browse our Websites without providing us with any personally identifiable information
            about
            yourself, such as your name, address, e-mail address, phone number, or credit card information. When you
            voluntarily submit your personally identifiable information to us by making a purchase from ChronoWiz.com,
            you are giving us your consent to the collection, use and disclosure of your personally identifiable
            information, and you understand and agree that we may share information about you and your transaction with
            other companies for the purpose of processing your transaction, including fraud prevention, vendor direct
            shipping and credit card authorization. We may also disclose information when you tell us to do so, to
            identify
            or contact you, to protect your rights or the rights of ChronoWiz.com or as required by law.
          </p>
        </div>
      </div>


      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Electronic Communication
          </div>
          <p class="text">
            When you visit the Websites or communicate with us electronically by sending e-mails, you consent to
            receiving
            communications from us electronically. We will communicate with you by e-mail or by posting notices on this
            Websites. You agree that all agreements, notices, disclosures and other communications we provide to you
            electronically satisfy any legal requirement that such communications be in writing.
          </p>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Cookies and Data Collection Devices
          </div>
          <p class="text">
            In some instances, ChronoWiz.com may collect non-personal data through cookies, web logs, and other
            monitoring technologies. A cookie is an element of data that frequently contains an anonymous unique
            identifier. Such data is sent from the website to your browser, which may then store it on your system for
            future use. Our Websites use cookies to maintain information for your shopping cart and to facilitate your
            shopping experience so that you will not need to continually re-add items to your shopping cart during the
            same
            browser session.
          </p>
        </div>
      </div>


      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Log Files
          </div>
          <p class="text">
            When you visit these Websites, our web server automatically collect anonymous information such as log data
            and
            IP addresses. We may use the automatically collected information for a number of purposes, such as
            improving
            our site design, product assortments, customer service, and special promotions.
          </p>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Use By Children Under 18
          </div>
          <p class="text">
            Because we cannot prohibit minors from visiting the Websites, we must rely on parents, guardians and those
            responsible for supervising children under 18 to decide which materials are appropriate for such children
            to
            view and/or purchase.
          </p>

          <p class="text py-2">
            We require that all purchases be made either (i) by individuals 18 years of age or older, or (ii) by minors
            with the permission of their parent or guardian for such minors to purchase items on the Websites and for
            the
            collection by us of certain information in accordance with the terms of our privacy policy. EACH TIME YOU
            PURCHASE A PRODUCT AT WWW.ChronoWiz.com, YOU ARE REPRESENTING TO ChronoWiz.com THAT YOU ARE EITHER AN
            INDIVIDUAL 18 YEARS OF AGE OR OLDER, OR THAT YOU HAVE THE EXPRESS PERMISSION OF A PARENT OR GUARDIAN FOR
            YOU
            TO
            MAKE PURCHASES AND FOR US TO COLLECT CERTAIN INFORMATION ABOUT YOU IN ACCORDANCE WITH THE TERMS OF OUR
            PRIVACY
            POLICY.
          </p>
        </div>
      </div>



      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Third Party Content
          </div>
          <p class="text">
            The Websites may contain (a) links to other websites not maintained by ChronoWiz.com or (b) information
            about products or services of third parties. ChronoWiz.com does not independently verify the business
            practices of these third parties and makes no warranties on their behalf. The availability of any link or
            reference of any third party shall in no way constitute an endorsement by ChronoWiz.com of such third
            party.
            We encourage you when you leave our Websites and to read the terms and conditions of each and every website
            that you visit.
          </p>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            General Information
          </div>
          <p class="text">
            Entire Agreement. These Terms and Conditions constitute the entire agreement between you and ChronoWiz.com
            regarding the use of the Websites, superseding any prior agreements between you and ChronoWiz.com relating
            to your use of the Websites. The failure of ChronoWiz.com to exercise or enforce any right or provision of
            these Terms and Conditions shall not constitute a waiver of such right or provision in that or any other
            instance.
          </p>
        </div>
      </div>


      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            Severability
          </div>
          <p class="text">
            If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full
            force and effect. If any provision of these Terms and Conditions shall be deemed unlawful, void or for any
            reason unenforceable, then that provision shall be deemed severable from these Terms and Conditions and
            shall
            not affect the validity and enforceability of any remaining provisions.
          </p>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-12">
          <div class="title">
            Post A Question, Customer Ratings and Reviews Terms of Use:
          </div>
          <p class="text">
            Post A Question, Customer Ratings and Reviews Terms of Use
            These Terms of Use govern your conduct associated with the Post A Question and the Customer Ratings and
            Review
            service offered by Prestige Time, LLC (the "PAQCR&R Service"). To the extent of any conflict between
            Prestige
            Time, LLC’s Privacy Policy and these Terms of Use, these Terms of Use shall control with respect to the
            PAQCR&R
            Service.
          </p>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            By submitting any content to Prestige Time, LLC, you represent and warrant that:
          </div>
          <p class="text">
            dress in connection with your question, rating and review, you agree that Prestige Time, LLC and its third
            party service providers may use your email address to contact you about the status of your review and other
            administrative purposes.
          </p>
          <ul>
            <li class="text">you are the sole author and owner of the intellectual property rights thereto;</li>
            <li class="text">all "moral rights" that you may have in such content have been voluntarily waived by you;</li>
            <li class="text">all content that you post is accurate;</li>
            <li class="text">you are at least 18 years old;</li>
            <li class="text">you are the sole author and owner of the intellectual property rights thereto;</li>
            <li class="text">use of the content you supply does not violate these Terms of Use and will not cause
              injury
              to
              any person or entity.</li>
          </ul>
        </div>
      </div>



      <div class="row py-3">
        <div class="col-12">
          <div class="sassy-title">
            By submitting any content to Prestige Time, LLC, you represent and warrant that:
          </div>
          <ul>
            <li class="text">that is known by you to be false, inaccurate or misleading;</li>
            <li class="text">that infringes any third party's copyright, patent, trademark, trade secret or other
              proprietary rights or rights of publicity or privacy;</li>
            <li class="text">that violates any law, statute, ordinance or regulation (including, but not limited to,
              those
              governing export control, consumer protection, unfair competition, anti-discrimination or false
              advertising);</li>
            <li class="text">that is, or may reasonably be considered to be, defamatory, libelous, hateful, racially or
              religiously biased or offensive, unlawfully threatening or unlawfully harassing to any individual,
              partnership or corporation;</li>
            <li class="text">for which you were compensated or granted any consideration by any third party;</li>
            <li class="text">that includes any information that references other websites, addresses, email addresses,
              contact information or phone numbers;</li>
            <li class="text">that contains any computer viruses, worms or other potentially damaging computer programs
              or
              files.</li>
          </ul>
          <p class="text">
            You agree to indemnify and hold Prestige Time, LLC (and its officers, directors, agents, subsidiaries,
            joint
            ventures, employees and third-party service providers), harmless from all claims, demands, and damages
            (actual
            and consequential) of every kind and nature, known and unknown including reasonable attorneys' fees,
            arising
            out of a breach of your representations and warranties set forth above, or your violation of any law or the
            rights of a third party.
            For any content that you submit, you grant Prestige Time, LLC a perpetual, irrevocable, royalty-free,
            transferable right and license to use, copy, modify, delete in its entirety, adapt, publish, translate,
            create
            derivative works from and/or sell and/or distribute such content and/or incorporate such content into any
            form,
            medium or technology throughout the world without compensation to you. All content that you submit may be
            used
            at Prestige Time, LLC’s sole discretion. Prestige Time, LLC reserves the right to change, condense or
            delete
            any content on Prestige Time, LLC’s website that Prestige Time, LLC deems, in its sole discretion, to
            violate
            the content guidelines or any other provision of these Terms of Use. Prestige Time, LLC does not guarantee
            that
            you will have any recourse through Prestige Time, LLC to edit or delete any content you have submitted.
            Ratings
            and written comments are generally posted within two to four business days. However, Prestige Time, LLC
            reserves the right to remove or to refuse to post any submission for any reason. You acknowledge that you,
            not
            Prestige Time, LLC, are responsible for the contents of your submission. None of the content that you
            submit
            shall be subject to any obligation of confidence on the part of Prestige Time, LLC, its agents,
            subsidiaries,
            affiliates, partners or third party service providers and their respective directors, officers and
            employees.
            By submitting your email address in connection with your question, rating and review, you agree that
            Prestige
            Time, LLC and its third party service providers may use your email address to contact you about the status
            of
            your review and other administrative purposes.
          </p>
        </div>
      </div>
    </div>

    <div class="row py-2 my-2">
      <div class="col-12 text-center">
        <button (click)="toggleShowMore()" class="btn secondry-btn m-2"> Show {{showAll ? 'less':'more'}} </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
