<app-header></app-header>
<div class="education mb-5 mt-3">
  <div class="container mb-5">
    <div class="education-title text-center">
      <h1> Education </h1>
      <h2> Condition Grades </h2>
    </div>
    <div class="education-desc">
      <p class="muted">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>
    </div>
  </div>
  <div class="education-section container-fluid my-3">
    <div class="container education-section-title">Water Resistance</div>
    <div class="img-container" (click)="goTo('/education/water-resistance')">
      <div class="hover-block">
        <div class="hover-title">Water Resistance</div>
        <hr>
        <div class="hover-learn-more"> learn more </div>
      </div>
      <img src="../../../assets/education/education1.png" class="img-responsive" alt="Water Resistance">
    </div>
  </div>
  <div class="education-section container-fluid my-3">
    <div class="container education-section-title">Water Resistance</div>
    <div class="img-container ">
      <div class="hover-block">
        <div class="hover-title">Water Resistance</div>
        <hr>
        <div class="hover-learn-more"> learn more </div>
      </div>
      <img src="../../../assets/education/education2.png" class="img-responsive" alt="Water Resistance">
    </div>
  </div>
  <div class="education-section container-fluid my-3">
    <div class="container education-section-title">Water Resistance</div>
    <div class="img-container">
      <div class="hover-block">
        <div class="hover-title">Water Resistance</div>
        <hr>
        <div class="hover-learn-more"> learn more </div>
      </div>
      <img src="../../../assets/education/education3.png" class="img-responsive" alt="Water Resistance">
    </div>
  </div>
  <div class="education-section container-fluid my-3">
    <div class="container education-section-title">Water Resistance</div>
    <div class="img-container">
      <div class="hover-block">
        <div class="hover-title">Water Resistance</div>
        <hr>
        <div class="hover-learn-more"> learn more </div>
      </div>
      <img src="../../../assets/education/education4.png" class="img-responsive" alt="Water Resistance">
    </div>
  </div>
  <div class="education-section container-fluid my-3">
    <div class="container education-section-title">Water Resistance</div>
    <div class="img-container">
      <div class="hover-block">
        <div class="hover-title">Water Resistance</div>
        <hr>
        <div class="hover-learn-more"> learn more </div>
      </div>
      <img src="../../../assets/education/education5.png" class="img-responsive" alt="Water Resistance">
    </div>
  </div>
</div>
<app-footer></app-footer>
