<simple-notifications></simple-notifications>

<div class="collections-page" [ngStyle]="{'background-color': backgroundColor}">

  <div>
    <app-header *ngIf="collection?.brandObject && collection?.brandObject?.name" [background_color]="collection?.brandObject?.headerBackgroundColor? collection?.brandObject?.headerBackgroundColor: '#ffffff'"
      [content_color]="collection?.brandObject?.headerContentColor? 'light': 'dark'" [opacity]="collection?.brandObject?.headerBackgroundOpacity? collection?.brandObject?.headerBackgroundOpacity : 75"
      [lightBrandLogo]="collection?.brandObject?.darkLogoPhotoUrl" [brandName]="collection?.brandObject?.name"
      [brandLogo]="collection?.brandObject?.logoPhotoUrl" [breads]="urlSequence">
    </app-header>
    <app-header *ngIf="!collection?.brandObject"></app-header>
  </div>

  <div [ngClass]="{'light-theme': collection?.brandObject?.pageContentColor}">

    <div class="container mt-2 mb-5">
      <div class="collections-title text-center">
        <h1 *ngIf="collection?.name === 'UNDEFINED'"> collection </h1>
        <h1 *ngIf="collection?.name !== 'UNDEFINED'"> {{collection?.name}} </h1>
        <h2> {{collection?.brandObject?.name}} </h2>
      </div>
      <div class="collection-desc">
        <p class="muted">
          {{collection?.description}}
        </p>
      </div>

      <app-filter-collapsible>
        <app-collapsible [text]="filter?.title" *ngFor="let filter of filtersOptions" class="filter-mobile-collapsible">
          <div class="p-5">
            <label class="radio" *ngFor="let option of filter?.options; let i = index">
              {{option}}
              <input type="radio" [checked]="i === 0" (change)="filterWatches()" [value]="option" [name]="filter?.name"
                [(ngModel)]="currentFilters[filter?.name]">
              <span class="checkmark"></span>
            </label>
          </div>
        </app-collapsible>

        <div class="filter-desktop-carousel">
          <div class="row filter">
            <div class="col-md-1 d-lg-block d-md-none"></div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 filter-row" *ngFor="let filter of filtersOptions">
              <h6>{{ filter.title }}</h6>
              <label class="radio" *ngFor="let option of filter?.options; let i = index">
                {{option}}
                <input type="radio" [checked]="i === 0" (change)="filterWatches()" [value]="option" [name]="filter?.name"
                  [(ngModel)]="currentFilters[filter?.name]">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-1 d-lg-block d-md-none"></div>
          </div>
        </div>
      </app-filter-collapsible>

      <div class="watches-section">

        <app-collection-section [watches]="collection?.watchObjects | slice: 0:watchsLimit"></app-collection-section>

        <div class="text-center my-5" *ngIf="!collection?.watchObjects?.length">
          <p> There is no watches in this collection</p>
        </div>


        <div class="text-center mx-auto show-more my-5" *ngIf="collection?.watchObjects?.length > 12">
          <button class="btn primary-btn" (click)="toggleShowMore()">Show {{isShowMoreOn ? 'Less' : 'More'}}</button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
