<simple-notifications></simple-notifications>
<div class="container-fluid form-container mx-auto">
  <div class="form-page container">
    <app-form-header userType="retailer"></app-form-header>
    <br />
    <h1>In Stock</h1>
    <br />
    <app-form-tabs [links]="navRoutes"></app-form-tabs>
    <br />
    <br />
    <form>
      <br />
      <h3>Filter Watches by Brand & Collection</h3>
      <br />

      <div class="form-group">
        <label for="selectionBrand">Brand</label>
        <ng-select [items]="selectionBrands" [loading]="selectionBrands?.length === 0" name="selectionBrands" bindLabel="name"
          bindValue="_id" placeholder="Select brand" (change)="onBrandSelection($event?._id)">
        </ng-select>
      </div>

      <div class="form-group">
        <label for="selectionCollection">Collection</label>
        <ng-select [items]="selectionCollections" name="selectionCollection" bindLabel="name" bindValue="_id"
          placeholder="Select collection" (change)="onCollectionSelection($event?._id)">
        </ng-select>
      </div>

      <div class="form-group">
        <label for="selectionWatch">Watch</label>
        <ng-select [items]="selectedCollection?.watchObjects" name="selectionWatch" bindLabel="referenceNumber"
          bindValue="referenceNumber" placeholder="Select watch" (change)="onWatchSelection($event?.referenceNumber)">
        </ng-select>
      </div>

      <div>
        <br />
        <h3>Filter Watches By Reference Number</h3>
        <br />
      </div>

      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <input type="text" class="form-control" id="watchInputReferenceNumber" [(ngModel)]="selectionWatchReferenceNumber"
              name="watchInputReferenceNumber" #watchInputReferenceNumber="ngModel">
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-lg primary-btn" (click)="resetFilters(); onWatchSelection(selectionWatchReferenceNumber);">Search</button>
        </div>
      </div>
    </form>
    <div>
      <br />
      <h3> In Stock Watches </h3>
      <br />

      <div class="row">
        <div class="col-12">
          <table class="watch-table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
                <th>In Stock</th>
                <th>Discount %</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let watchObject of watchObjects | watchesRetailerFilter: filters.brandID : filters.collectionID : filters.watchRef">
                <td><img class="table-img" [src]="watchObject.watch.mainPhotoUrl? watchObject.watch.mainPhotoUrl: 'http://placehold.it/480x720/FFFFFF/FFFFFF'"></td>
                <td>
                  <p class="m-0">
                    <span class="bold" *ngIf="watchObject?.watch?.model">{{watchObject?.watch?.model}},</span>
                    <span *ngIf="watchObject?.watch?.caseDiameter">{{watchObject?.watch?.caseDiameter}} mm,</span>
                    <span *ngIf="watchObject?.watch?.caseMaterial">{{watchObject?.watch?.caseMaterial}},</span>
                    <span *ngIf="watchObject?.watch?.perpetual">{{watchObject?.watch?.perpetual}}</span>
                  </p>
                  <p class="bold">Reference Number: {{watchObject?.watch?.referenceNumber}} </p>
                </td>
                <td>
                  <p> {{watchObject?.watch?.price | currency: watchObject?.watch?.priceCurrency }} </p>
                </td>
                <td>
                  <app-toggle-btn [status]="true" (toggle)="addToStock($event,watch?._id)"></app-toggle-btn>
                </td>
                <td>
                  <input class="form-input" name="discount" placeholder="Discount %" [(ngModel)]="watchObject?.retailerWatchDiscount" pattern="^100(\.0{0,2}?)?$|^\d{0,2}(\.\d{0,2})?$" type="number">
                  <button class="btn primary-btn" (click)="updateDiscount(watchObject)">Save</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
