<div>
  <br />
  <h3>Select Watch by Brand & Collection</h3>
  <br />

  <div class="form-group">
    <label for="selectionBrand">Brand</label>
    <ng-select [items]="selectionBrands" [loading]="selectionBrands?.length === 0" name="selectionBrands" bindLabel="name"
      bindValue="_id" placeholder="Select brand" (change)="onBrandSelection($event?._id)">
    </ng-select>
  </div>

  <div class="form-group" *ngIf="type == 'collection' || type == 'watch'">
    <label for="selectionCollection">Collection</label>
    <ng-select [items]="selectionCollections" name="selectionCollection" bindLabel="name" bindValue="_id" placeholder="Select collection"
      (change)="onCollectionSelection($event?._id)">
    </ng-select>
  </div>

  <div class="form-group" *ngIf="type == 'watch'">
    <label for="selectionWatch">Watch</label>
    <ng-select [items]="selectedCollection?.watchObjects" name="selectionWatch" bindLabel="referenceNumber" bindValue="referenceNumber"
      placeholder="Select watch" (change)="onWatchSelection($event?.referenceNumber)">
    </ng-select>
  </div>

  <div  *ngIf="type == 'watch'" >
    <br />
    <h4>Select Watch By Reference Number</h4>
    <br />

    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <input type="text" class="form-control" id="watchInputReferenceNumber" [(ngModel)]="selectionWatchReferenceNumber"
            name="watchInputReferenceNumber" #watchInputReferenceNumber="ngModel">
        </div>
      </div>
      <div class="col-4">
        <button class="btn btn-lg primary-btn" (click)="onWatchSelection(selectionWatchReferenceNumber)">Search</button>
      </div>
    </div>
  </div>

</div>
