<div id="home-page">

  <!--<img src="../../assets/images/main-photo.png"-->
  <!--class="main-photo">-->

  <video class="main-photo" autoplay loop controls muted>
    <source src="https://s3-eu-west-1.amazonaws.com/chronowiz-liv-media/home/featured_selection_festive_2018_video_0001_1920x1080.mp4" type="video/mp4">
  </video>

  <input type="image" src="../../assets/images/shape.png"
         srcset="../../assets/images/shape@2x.png 2x,
             ../../assets/images/shape@3x.png 3x"
         class="Shape">

  <input type="image" src="../../assets/images/home_mainicon.svg"
         class="Group-Copy"
         (click)="mainIconButtonClicked()">

  <input type="image" src="../../assets/images/user-white.png"
         srcset="../../assets/images/user-white@2x.png 2x,
             ../../assets/images/user-white@3x.png 3x"
         class="User-White"
         (click)="userButtonClicked()">

  <input type="image" src="../../assets/images/search.png"
         srcset="../../assets/images/search@2x.png 2x,
             ../../assets/images/search@3x.png 3x"
         class="search"
         (click)="searchButtonClicked()">

  <input type="image" src="../../assets/images/paper-bag.png"
         srcset="../../assets/images/paper-bag@2x.png 2x,
             ../../assets/images/paper-bag@3x.png 3x"
         class="paper-bag">

  <div class="Brands">BRANDS</div>

  <input type="text" class="Rectangle" placeholder="Search">

  <div class="Line"></div>

  <div class="homepage_logos_grid">
    <div *ngFor="let brand of brands">
      <img class="homepage_logos_image" [src]="brand.logoPhotoUrl"/>
    </div>
  </div>

  <button type="button" class="Rectangle-8">
    <div class="view-all">VIEW ALL</div>
  </button>

  <div class="Line-Copy"></div>

  <div class="Social-media">SOCIAL MEDIA</div>

  <img src="../../assets/images/group-4-copy.png"
       srcset="../../assets/images/group-4-copy@2x.png 2x,
             ../../assets/images/group-4-copy@3x.png 3x"
       class="Group-4-Copy">

  <img src="../../assets/images/group-5.png"
       srcset="../../assets/images/group-5@2x.png 2x,
             ../../assets/images/group-5@3x.png 3x"
       class="Group-5">

  <img src="../../assets/images/group-6.png"
       srcset="../../assets/images/group-6@2x.png 2x,
             ../../assets/images/group-6@3x.png 3x"
       class="Group-6">

  <img src="../../assets/images/group-7.png"
       srcset="../../assets/images/group-7@2x.png 2x,
             ../../assets/images/group-7@3x.png 3x"
       class="Group-7">


  <img src="../../assets/images/group-8.png"
       srcset="../../assets/images/group-8@2x.png 2x,
             ../../assets/images/group-8@3x.png 3x"
       class="Group-8">

  <img src="../../assets/images/group-9.png"
       srcset="../../assets/images/group-9@2x.png 2x,
             ../../assets/images/group-9@3x.png 3x"
       class="Group-9">

  <img src="../../assets/images/group-10.png"
       srcset="../../assets/images/group-10@2x.png 2x,
             ../../assets/images/group-10@3x.png 3x"
       class="Group-10">

  <img src="../../assets/images/group-11.png"
       srcset="../../assets/images/group-11@2x.png 2x,
             ../../assets/images/group-11@3x.png 3x"
       class="Group-11">

  <button type="button" class="Rectangle-4">
    <div class="Load-more">LOAD MORE</div>
  </button>

  <div class="Line-Copy-2"></div>

  <img src="../../assets/images/fire-shot-capture-104-official-rolex.png"
       srcset="../../assets/images/fire-shot-capture-104-official-rolex@2x.png 2x,
             ../../assets/images/fire-shot-capture-104-official-rolex@3x.png 3x"
       class="FireShot_Capture_104_Official_Rolex">

  <div class="PERFORMANCE-AND-PRES">PERFORMANCE AND
    PRESTIGE
  </div>

  <div class="DISCOVER-ALL-THE-ROL">DISCOVER ALL THE ROLEX COLLECTION</div>

  <button type="button" class="Rectangle-8-2">
    <div class="Discover-more">DISCOVER MORE</div>
  </button>

  <img src="../../assets/images/group.png"
       srcset="../../assets/images/group@2x.png 2x,
             ../../assets/images/group@3x.png 3x"
       class="Group">

  <div class="Rectangle-3"></div>

  <div class="Contact-us">Contact us</div>

  <img src="../../assets/images/facebook-letter-logo.png"
       srcset="../../assets/images/facebook-letter-logo@2x.png 2x,
             ../../assets/images/facebook-letter-logo@3x.png 3x"
       class="facebook-letter-logo">

  <img src="../../assets/images/twitter-logo-silhouette.png"
       srcset="../../assets/images/twitter-logo-silhouette@2x.png 2x,
             ../../assets/images/twitter-logo-silhouette@3x.png 3x"
       class="twitter-logo-silhouette">

  <img src="../../assets/images/insta.png"
       srcset="../../assets/images/insta@2x.png 2x,
             ../../assets/images/insta@3x.png 3x"
       class="insta">

  <div class="-Chrono-Wiz-2018-A">© Chrono Wiz 2018. All rights reserved</div>

  <div class="Line-4"></div>

  <div class="Terms-Conditions-">Terms & Conditions | Security & Privacy | Returns & Exchanges | Payment & Shipping | Warranty & Repair | Education</div>

  <br/>

</div>

