<div id="home-page">

  <img src="../../assets/images/main-photo.png"
       class="main-photo">

  <button>
    <img src="../../assets/images/shape.png"
         srcset="../../assets/images/shape@2x.png 2x,
             ../../assets/images/shape@3x.png 3x"
         class="Shape">
  </button>

  <img src="../../assets/images/group-copy.png"
       srcset="../../assets/images/group-copy@2x.png 2x,
             ../../assets/images/group-copy@3x.png 3x"
       class="Group-Copy">

  <button (click)="userButtonClicked()">
    <img src="../../assets/images/user-white.png"
         srcset="../../assets/images/user-white@2x.png 2x,
             ../../assets/images/user-white@3x.png 3x"
         class="User-White">
  </button>

  <button>
    <img src="../../assets/images/search.png"
         srcset="../../assets/images/search@2x.png 2x,
             ../../assets/images/search@3x.png 3x"
         class="search">
  </button>

  <button>
    <img src="../../assets/images/paper-bag.png"
         srcset="../../assets/images/paper-bag@2x.png 2x,
             ../../assets/images/paper-bag@3x.png 3x"
         class="paper-bag">
  </button>

  <div class="Brands">BRANDS</div>

  <input type="text" class="Rectangle" placeholder="Search">

  <div class="Line"></div>

  <img src="../../assets/images/audemars-piguet-logo.png"
       srcset="../../assets/images/audemars-piguet-logo@2x.png 2x,
             ../../assets/images/audemars-piguet-logo@3x.png 3x"
       class="Audemars-piguet-logo">

  <img src="../../assets/images/download.png"
       srcset="../../assets/images/download@2x.png 2x,
             ../../assets/images/download@3x.png 3x"
       class="download">

  <img src="../../assets/images/baume-and-mercier-logo-f-4-b-5-e-1399-b-seeklogo-com.png"
       srcset="../../assets/images/baume-and-mercier-logo-f-4-b-5-e-1399-b-seeklogo-com@2x.png 2x,
             ../../assets/images/baume-and-mercier-logo-f-4-b-5-e-1399-b-seeklogo-com@3x.png 3x"
       class="Baume__and__Mercier-logo-F4B5E1399B-seeklogocom">


  <img src="../../assets/images/bedat-and-co-logo.png"
       srcset="../../assets/images/bedat-and-co-logo@2x.png 2x,
             ../../assets/images/bedat-and-co-logo@3x.png 3x"
       class="bedat-and-co-logo">

  <img src="../../assets/images/bellross.png"
       srcset="../../assets/images/bellross@2x.png 2x,
             ../../assets/images/bellross@3x.png 3x"
       class="bellross">

  <img src="../../assets/images/blancpain-logo.png"
       srcset="../../assets/images/blancpain-logo@2x.png 2x,
             ../../assets/images/blancpain-logo@3x.png 3x"
       class="Blancpain-logo">

  <img src="../../assets/images/ufgkytf.png"
       srcset="../../assets/images/ufgkytf@2x.png 2x,
             ../../assets/images/ufgkytf@3x.png 3x"
       class="ufgkytf">

  <img src="../../assets/images/1200-px-breitlizng-logo-svg.png"
       srcset="../../assets/images/1200-px-breitlizng-logo-svg@2x.png 2x,
             ../../assets/images/1200-px-breitlizng-logo-svg@3x.png 3x"
       class="px-Breitlizng_logosvg">

  <img src="../../assets/images/bremont.png"
       srcset="../../assets/images/bremont@2x.png 2x,
             ../../assets/images/bremont@3x.png 3x"
       class="bremont">

  <img src="../../assets/images/unknowrrrn.png"
       srcset="../../assets/images/unknowrrrn@2x.png 2x,
             ../../assets/images/unknowrrrn@3x.png 3x"
       class="Unknowrrrn">

  <img src="../../assets/images/cartier-logo.png"
       srcset="../../assets/images/cartier-logo@2x.png 2x,
             ../../assets/images/cartier-logo@3x.png 3x"
       class="cartier-logo">

  <img src="../../assets/images/o-30.png"
       srcset="../../assets/images/o-30@2x.png 2x,
             ../../assets/images/o-30@3x.png 3x"
       class="o30">

  <img src="../../assets/images/unknownbvgh.png"
       srcset="../../assets/images/unknownbvgh@2x.png 2x,
             ../../assets/images/unknownbvgh@3x.png 3x"
       class="Unknownbvgh">

  <img src="../../assets/images/download-2.png"
       srcset="../../assets/images/download-2@2x.png 2x,
             ../../assets/images/download-2@3x.png 3x"
       class="download-2">

  <img src="../../assets/images/girard-perregaux-logo-logotype.png"
       srcset="../../assets/images/girard-perregaux-logo-logotype@2x.png 2x,
             ../../assets/images/girard-perregaux-logo-logotype@3x.png 3x"
       class="Girard-Perregaux-logo-logotype">

  <img src="../../assets/images/glashutte.png"
       srcset="../../assets/images/glashutte@2x.png 2x,
             ../../assets/images/glashutte@3x.png 3x"
       class="Glashutte">

  <button type="button" class="Rectangle-8">
    <div class="view-all">VIEW ALL</div>
  </button>

  <div class="Line-Copy"></div>

  <div class="Social-media">SOCIAL MEDIA</div>

  <img src="../../assets/images/group-4-copy.png"
       srcset="../../assets/images/group-4-copy@2x.png 2x,
             ../../assets/images/group-4-copy@3x.png 3x"
       class="Group-4-Copy">

  <img src="../../assets/images/group-5.png"
       srcset="../../assets/images/group-5@2x.png 2x,
             ../../assets/images/group-5@3x.png 3x"
       class="Group-5">

  <img src="../../assets/images/group-6.png"
       srcset="../../assets/images/group-6@2x.png 2x,
             ../../assets/images/group-6@3x.png 3x"
       class="Group-6">

  <img src="../../assets/images/group-7.png"
       srcset="../../assets/images/group-7@2x.png 2x,
             ../../assets/images/group-7@3x.png 3x"
       class="Group-7">


  <img src="../../assets/images/group-8.png"
       srcset="../../assets/images/group-8@2x.png 2x,
             ../../assets/images/group-8@3x.png 3x"
       class="Group-8">

  <img src="../../assets/images/group-9.png"
       srcset="../../assets/images/group-9@2x.png 2x,
             ../../assets/images/group-9@3x.png 3x"
       class="Group-9">

  <img src="../../assets/images/group-10.png"
       srcset="../../assets/images/group-10@2x.png 2x,
             ../../assets/images/group-10@3x.png 3x"
       class="Group-10">

  <img src="../../assets/images/group-11.png"
       srcset="../../assets/images/group-11@2x.png 2x,
             ../../assets/images/group-11@3x.png 3x"
       class="Group-11">

  <button type="button" class="Rectangle-4">
    <div class="Load-more">LOAD MORE</div>
  </button>

  <div class="Line-Copy-2"></div>

  <img src="../../assets/images/fire-shot-capture-104-official-rolex.png"
       srcset="../../assets/images/fire-shot-capture-104-official-rolex@2x.png 2x,
             ../../assets/images/fire-shot-capture-104-official-rolex@3x.png 3x"
       class="FireShot_Capture_104_Official_Rolex">

  <div class="PERFORMANCE-AND-PRES">PERFORMANCE AND
    PRESTIGE
  </div>

  <div class="DISCOVER-ALL-THE-ROL">DISCOVER ALL THE ROLEX COLLECTION</div>

  <button type="button" class="Rectangle-8-2">
    <div class="Discover-more">DISCOVER MORE</div>
  </button>

  <img src="../../assets/images/group.png"
       srcset="../../assets/images/group@2x.png 2x,
             ../../assets/images/group@3x.png 3x"
       class="Group">

  <div class="Rectangle-3"></div>

  <div class="Contact-us">Contact us</div>

  <button>
    <img src="../../assets/images/facebook-letter-logo.png"
         srcset="../../assets/images/facebook-letter-logo@2x.png 2x,
             ../../assets/images/facebook-letter-logo@3x.png 3x"
         class="facebook-letter-logo">
  </button>

  <button>
    <img src="../../assets/images/twitter-logo-silhouette.png"
         srcset="../../assets/images/twitter-logo-silhouette@2x.png 2x,
             ../../assets/images/twitter-logo-silhouette@3x.png 3x"
         class="twitter-logo-silhouette">
  </button>

  <button>
    <img src="../../assets/images/insta.png"
         srcset="../../assets/images/insta@2x.png 2x,
             ../../assets/images/insta@3x.png 3x"
         class="insta">
  </button>

  <div class="-Chrono-Wiz-2018-A">© Chrono Wiz 2018. All rights reserved</div>

  <div class="Line-4"></div>

  <div class="Terms-Conditions-">Terms & Conditions | Security & Privacy | Returns & Exchanges | Payment & Shipping | Warranty & Repair | Education</div>

  <br/>

</div>

