<div class="card">
  <a [routerLink]="[url,watch?.referenceNumber]">
    <img [src]="watch.mainPhotoUrl? watch.mainPhotoUrl: 'http://placehold.it/900x900'" [alt]="watch?.model">
    <h3>{{watch?.model}}</h3>
    <p><span *ngIf="watch?.model">{{watch?.model}},</span>
      <span *ngIf="watch?.caseDiameter">{{watch?.caseDiameter}} mm,</span>
      <span *ngIf="watch?.caseMaterial">{{watch?.caseMaterial}},</span>
      <span *ngIf="watch?.perpetual">{{watch?.perpetual}}</span>
    </p>
  </a>
</div>
