<div class="card">
  <a [routerLink]="[url,watch?.referenceNumber]">
    <div class="card-img">
      <img [src]="watch.mainPhotoUrl? watch.mainPhotoUrl: 'http://placehold.it/480x720/FFFFFF/FFFFFFF'" [alt]="watch?.model">
    </div>
    <h3>{{watch?.model}}</h3>
    <!--
      <div *ngIf="isSearchPage">
        <p class="brand">{{watch?.brandObject?.name}}</p>
        <p class="collection">{{watch?.collectionObject?.name}}</p>
      </div>
    -->
    <p><span *ngIf="watch?.model">{{watch?.model}}<span *ngIf="watch?.caseDiameter">,&nbsp;</span></span>
      <span *ngIf="watch?.caseDiameter">{{watch?.caseDiameter}} mm<span *ngIf="watch?.caseMaterial">,&nbsp;</span></span>
      <span *ngIf="watch?.caseMaterial">{{watch?.caseMaterial}}<span *ngIf="watch?.perpetual">,&nbsp;</span></span>
      <span *ngIf="watch?.perpetual">{{watch?.perpetual}}</span>
    </p>
  </a>
</div>
