<div id="search-page">

  <input type="image" src="../../assets/images/search_menu.png"
         srcset="../../assets/images/search_menu@2x.png 2x,
             ../../assets/images/search_menu@3x.png 3x"
         class="search_menu">

  <input type="image"  src="../../assets/images/group.png"
       srcset="../../assets/images/group@2x.png 2x,
             ../../assets/images/group@3x.png 3x"
       class="search_mainicon">


  <input type="image"  src="../../assets/images/search_account.png"
       srcset="../../assets/images/search_account@2x.png 2x,
             ../../assets/images/search_account@3x.png 3x"
       class="search_account"
       (click)="accountButtonClicked()">

  <input type="image"  src="../../assets/images/search_search.png"
       srcset="../../assets/images/search_search@2x.png 2x,
             ../../assets/images/search_search@3x.png 3x"
       class="search_search"
       (click)="searchButtonClicked()">

  <input type="image"  src="../../assets/images/search_paperbag.png"
       srcset="../../assets/images/search_paperbag@2x.png 2x,
             ../../assets/images/search_paperbag@3x.png 3x"
       class="search_paperbag">

  <img src="../../assets/images/fire-shot-capture-104-official-rolex.png"
       srcset="../../assets/images/fire-shot-capture-104-official-rolex@2x.png 2x,
             ../../assets/images/fire-shot-capture-104-official-rolex@3x.png 3x"
       class="search_FireShot_Capture_104_Official_Rolex">

</div>
